<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <evidence-collection evidence-collection="vm.evidenceCollection"></evidence-collection>
        </div>
    </div>
</div>
