<div class="table-blue-header">
    <div class="checkbox checkbox-primary no-margin">
        <input type="checkbox"
               id="cbHideComplete"
               ng-model="vm.hideComplete">
        <label for="cbHideComplete">Hide {{vm.assignmentsModel.evaluateeTerm}}s with completed assignments</label>
    </div>
    <br/>
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{{vm.assignmentsModel.evaluateeTerm}}</th>
            <th>Last Year Evaluation Type</th>
            <th>Suggested Evaluation Type</th>
            <th>Evaluation Type</th>
            <th>Evaluator</th>
            <th>Ready</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="evaluatee in vm.assignmentsModel.evaluatees | assignmentStatus:vm.hideComplete">
            <td>{{evaluatee.displayName}}</td>
            <td ng-bind-html="vm.assignmentsModel.lastYearPlanTypeDisplayString[evaluatee.id]"></td>
            <td ng-bind-html="vm.assignmentsModel.lastYearSuggestedPlanTypeDisplayString[evaluatee.id]"></td>
            <td>
                <select ng-model="vm.assignmentsModel.planTypes[evaluatee.id]" ng-change="vm.assignmentsModel.setPlanType(evaluatee)" convert-to-number>
                    <option value="0">Not Set</option>
                    <option value="1">Comprehensive</option>
                    <option value="2">Focused</option>
                </select>
                <div ng-show="vm.assignmentsModel.planTypes[evaluatee.id] === vm.enums.EvaluationPlanType.FOCUSED">
                    <span ng-bind-html="vm.assignmentsModel.getFocusDisplayString(evaluatee)">
                    </span>
                    <span class="fa fa-edit greeniconcolor" ng-click="vm.assignmentsModel.modifyFocus(evaluatee)"></span>
                </div>
            </td>
            <td>
                <select ng-model="vm.assignmentsModel.assignedEvaluators[evaluatee.id]" ng-change="vm.assignmentsModel.assignEvaluator(evaluatee)"
                        ng-options="evaluator.displayName for evaluator in vm.assignmentsModel.evaluatorOptionsForEvaluatee[evaluatee.id]">
                    <option value="">-- Select an Evaluator --</option>
                </select>
            </td>
            <td>
                <span ng-if="vm.assignmentsModel.assignedEvaluators[evaluatee.id] &&
                             vm.assignmentsModel.planTypes[evaluatee.id]!= vm.enums.EvaluationPlanType.UNDEFINED"
                      class="fa fa-check text-primary">
                </span>
            </td>
        </tr>
    </tbody>
</table>
</div>
