<div class="table-blue-header">
    <div class="checkbox checkbox-primary no-margin">
        <input type="checkbox"
               id="cbHideComplete"
               ng-model="vm.hideComplete">
        <label for="cbHideComplete">Hide {{vm.assignmentsModel.evaluateeTerm}}s with completed assignments</label>
    </div>
    <br/>
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{{vm.assignmentsModel.evaluateeTerm}}</th>
            <th>Last Year Evaluation Type</th>
            <th>Suggested Evaluation Type</th>
            <th>Evaluation Type</th>
            <th>Evaluator</th>
            <th>Ready</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="evaluatee in vm.assignmentsModel.evaluatees  | assignmentStatus:vm.hideComplete">
            <td>{{evaluatee.displayName}}</td>
            <td ng-bind-html="vm.assignmentsModel.lastYearPlanTypeDisplayString[evaluatee.id]"></td>
            <td ng-bind-html="vm.assignmentsModel.lastYearSuggestedPlanTypeDisplayString[evaluatee.id]"></td>
            <td>{{vm.assignmentsModel.planTypeDisplayString(evaluatee)}}</td>
            <td ng-bind-html="vm.assignmentsModel.evaluatorDisplayName(evaluatee)"></td>
            <td>
                <span ng-if="vm.assignmentsModel.assignedEvaluators[evaluatee.id] &&
                             vm.assignmentsModel.planTypes[evaluatee.id]!= vm.enums.EvaluationPlanType.UNDEFINED"
                    class="fa fa-check text-primary">
                </span>
            </td>
        </tr>
    </tbody>
</table>
</div>
