<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-9">
                        <h2 ng-if="vm.assignmentsModel.evaluationType===enums.EvaluationType.TEACHER">Assignments for {{vm.assignmentsModel.schoolName}}</h2>
                        <h2 ng-if="vm.assignmentsModel.evaluationType!==enums.EvaluationType.TEACHER">Assignments for {{vm.evaluateeTerm}}s</h2>
                        <p ng-if="!vm.assignmentsModel.assignmentGridIsReadOnly">
                            This page lets you selected the Evaluation cycle, and the Evaluator for the {{vm.evaluateeTerm}}s in your district.
                            <span ng-if="vm.assignmentsModel.evaluationType===enums.EvaluationType.TEACHER && vm.assignmentsModel.userIsDistrictAdmin">
                                You can also delegate the responsibility for principal assignments to the school.
                            </span>
                        </p>
                        <p ng-if="vm.assignmentsModel.assignmentGridIsReadOnly">
                            This page lets you view the current assignment status for your school.
                        </p>
                        </div>
                    <div class="col-lg-3">
                        <div class="pull-right">
                            <button ng-if="vm.fromSummary" class="btn btn-primary btn.xs" ng-click="vm.back()" >Back to Summary</button>
                        </div>
                    </div>
                </div>

                <div ng-if="vm.assignmentsModel.assignmentGridIsReadOnly">
                    <br/>
                    <eval-alert>
                        This page is in View Mode. The district has not delegated the responsibility for assignments to the school.
                    </eval-alert>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div ng-if="vm.assignmentsModel.evaluationType===enums.EvaluationType.TEACHER">
                            <div ng-if="vm.assignmentsModel.userIsDistrictAdmin">
                                <label>Assignment Responsibility:&nbsp;</label>
                                <div class="button-group">
                                    <button class="btn btn-xs" ng-click="vm.assignmentsModel.toggleDelegate()"
                                            ng-class="{'btn-primary':!vm.assignmentsModel.delegates[vm.assignmentsModel.schoolCode]}">District</button>
                                    <button class="btn btn-xs"
                                            ng-click="vm.assignmentsModel.toggleDelegate()"
                                            ng-class="{'btn-primary':vm.assignmentsModel.delegates[vm.assignmentsModel.schoolCode]}">School</button>
                                </div>
                                <br/>

                                <p class="text-danger">Note: delegating assignments to a school, doesn’t prevent you from doing the occasional change when necessary.
                                    final decision always remains at the district level.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <dte-requests-grid-editable ng-if="!vm.assignmentsModel.dteGridIsReadOnly &&
                                                            vm.assignmentsModel.dteAssignmentRequests.length>0"
                                                    assignments-model="vm.assignmentsModel">
                        </dte-requests-grid-editable>

                        <dte-requests-grid-read-only ng-if="vm.assignmentsModel.dteGridIsReadOnly &&
                                                            vm.assignmentsModel.acceptedDTEAssignmentRequests.length>0"
                                                     assignments-model="vm.assignmentsModel">
                        </dte-requests-grid-read-only>
                    </div>
                </div>

                <br/><br/>
                <h3>{{vm.evaluateeTerm}} Assignments</h3>
                <br/>
                <div class="row">
                    <div class="col-lg-3">
                        <strong>{{vm.evaluateeTerm}}s:&nbsp;</strong>{{vm.assignmentsModel.totalCount}}
                    </div>
                    <div class="col-lg-3">
                        <strong>Assigned:&nbsp;</strong>{{vm.assignmentsModel.assignedCount}}
                    </div>
                    <div class="col-lg-4">
                        <strong>Awaiting Assignment:&nbsp;</strong>
                        <span class="label label-warning" ng-if="vm.assignmentsModel.unassignedCount>0">
                            {{vm.assignmentsModel.unassignedCount}}
                        </span>
                        <span ng-if="vm.assignmentsModel.unassignedCount===0">
                            {{vm.assignmentsModel.unassignedCount}}
                        </span>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <assignments-grid-read-only ng-if="vm.assignmentsModel.assignmentGridIsReadOnly"
                                                    assignments-model="vm.assignmentsModel">
                        </assignments-grid-read-only>

                        <assignments-grid-editable ng-if="!vm.assignmentsModel.assignmentGridIsReadOnly"
                                                   assignments-model="vm.assignmentsModel">
                        </assignments-grid-editable>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>