<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <page-header class="col-lg-6" title="'Assignments Summary'">
                        Summary of {{vm.evaluateeTerm}}'s assignments across the entire district
                    </page-header>
                </div>
                <br/>
                <br/>
                <button class="btn btn-xs btn-primary" ng-click="vm.delegateToAllSchools(true)">Delegate to All Schools</button>
                <br/><br/>
                 <div class="row">
                    <div class="col-lg-3">
                        <label>Schools:&nbsp;</label>{{vm.summaries.length}}
                    </div>
                    <div class="col-lg-3">
                        <label>{{vm.evaluateeTerm}}s Assigned:&nbsp;</label>{{vm.assignedCount}}
                    </div>
                    <div class="col-lg-4">
                        <label>{{vm.evaluateeTerm}}s Awaiting Assignment:&nbsp;</label>
                         <span class="label label-warning" ng-if="vm.unassignedCount>0">
                            {{vm.unassignedCount}}
                        </span>
                        <span ng-if="vm.unassignedCount===0">
                            {{vm.unassignedCount}}
                        </span>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-lg'12">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Schools</th>
                                    <th>Principal(s)</th>
                                    <th>Assignments Responsibility</th>
                                    <th>{{vm.evaluateeTerm}}s</th>
                                    <th>Assigned</th>
                                    <th>Awaiting Assignment</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="summary in vm.summaries">
                                    <td>{{summary.schoolName}}</td>
                                    <td ng-bind-html="summary.principalNames.join('<br/>')"></td>
                                    <td>
                                        <button  class="btn btn-xs"
                                                 ng-class="{ 'btn-default': summary.delegated,'btn-primary': !summary.delegated}"
                                                 ng-click="vm.toggleDelegateForSchool(summary)">District
                                        </button>
                                        <button  class="btn btn-xs"
                                                 ng-class="{ 'btn-default': !summary.delegated,'btn-primary': summary.delegated}"
                                                 ng-click="vm.toggleDelegateForSchool(summary)">School
                                        </button>
                                    </td>
                                    <td>{{summary.totalCount}}</td>
                                    <td>{{summary.assignedCount}}</td>
                                    <td>
                                        <span ng-if="summary.unassignedCount===0" class="fa fa-check"></span>
                                        <span ng-if="summary.unassignedCount>0">
                                            {{summary.unassignedCount}}
                                        </span>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" ng-click="vm.viewSchool(summary.schoolCode, summary.schoolName)">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>