<div>
    <br/><br/>
    <h3>Approved District-wide Teacher Evaluator Assignment Requests</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Teacher</th>
            <th>Evaluator</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="request in vm.assignmentsModel.acceptedDTEAssignmentRequests">
            <td>{{request.teacherDisplayName}}</td>
            <td>{{request.evaluatorDisplayName}}</td>
            <td>{{vm.assignmentsModel.requestTypeDisplayString(request)}}</td>
        </tr>
        </tbody>
    </table>
</div>