<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <page-header class="col-lg-12" title="'Request Assignments'">
                        Request access to school teachers to perform observations and be the assigned evaluator.
                    </page-header>
                </div>
                <br/>
                <br/>
                <div class="row" ng-if="vm.requests.length>0">
                    <div class="col-lg-12">
                        <h3>Processed/Pending Requests</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Teacher</th>
                                <th>School</th>
                                <th>Request Status</th>
                                <th>Accepted Request Eval Type</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="request in vm.requests">
                                    <td>{{request.teacherDisplayName}}</td>
                                    <td>{{request.teacherSchoolNames}}</td>
                                    <td>{{vm.requestStatus(request)}}</td>
                                    <td>{{vm.requestType(request)}}</td>
                                    <td><button class="btn btn-primary btn-xs" ng-click="vm.removeRequest(request)">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <br/><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Create a New Request</h3>
                        <br/><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <strong>School</strong>
                    </div>
                    <div class="col-sm-5">
                        <select ng-model="vm.school" class="form-control"
                                ng-change="vm.changeSchool()"
                                ng-options=" school.schoolName for school in vm.schools track by school.schoolCode">
                        </select>
                    </div>
<!--
                        <label>Select school:</label>
                        <select class="form-control" ng-model="vm.schoolCode" ng-change="vm.changeSchool()">
                            <option ng-repeat="school in vm.schools"
                                    value="{{school.schoolCode}}">{{school.name}}</option>
                        </select>-->
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Teacher</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="teacher in vm.teachers">
                                <td>{{teacher.displayName}}</td>
                                <td><button class="btn btn-primary btn-xs" ng-click="vm.createRequest(teacher)">Create Request</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>