<div>
    <br/><br/>
    <h3>District-wide Teacher Evaluator Assignment Requests</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Teacher</th>
            <th>Evaluator</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="request in vm.assignmentsModel.dteAssignmentRequests">
            <td>{{request.teacherDisplayName}}</td>
            <td>{{request.evaluatorDisplayName}}</td>
            <td>
                <select ng-model="request.statusAsString" ng-change="vm.assignmentsModel.changeRequestStatus(request)">
                    <option value="1">PENDING</option>
                    <option value="2">ACCEPTED</option>
                    <option value="3">REJECTED</option>
                </select>
            </td>
            <td>
                <select ng-model="request.typeAsString" ng-change="vm.assignmentsModel.changeRequestType(request)">
                    <option value="1">OBSERVATIONS ONLY</option>
                    <option value="2">ASSIGNED EVALUATOR</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</div>