<div class="modal-dialog">
    <div class="modal-body flatmodal">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <h2 class="modal-title" ><strong>Select Focused Evaluation Criteria</strong></h2>
                </div>

                <div class="form-group">
                    <label>Select Focus Criteria:</label>
                    <select class="form-control" ng-model="vm.focusFrameworkNode"  ng-change="vm.changeFocus()"
                            ng-options="frameworkNode as frameworkNode.shortName for frameworkNode in vm.frameworkNodes">
                    </select>
                    <p ng-show="vm.focusSelectionMissing">You must select a focus criteria.</p>

                    <div ng-show="vm.showStudentGrowthDropdown">
                        <br/>
                        <label>Select Student Growth Criteria:</label>
                        <select class="form-control" ng-model="vm.sgFocusFrameworkNode"
                                ng-options="frameworkNode as frameworkNode.shortName for frameworkNode in vm.sgFrameworkNodes">
                        </select>
                        <p ng-show="vm.growthSelectionMissing">You must select a student growth criteria because your primary focus criteria is not a student growth criteria.</p>
                    </div>
                    <br/>
                </div>

                <div class="block-center text-center">
                    <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
