<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <page-header class="col-lg-12" title="vm.title">
                    </page-header>
                </div>
                <br/><br/><br/>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Thanks for visiting the eVAL system. Unfortunately your account is not quite ready for you to work on your evaluation.

                            The district is in the process of assigning your evaluator and setting up this year’s evaluation cycle.
                            Once this is complete you will be able to start working in eVAL.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>