<div style="color:white">
    <div class="middle-box text-center animated fadeInDown">
        <h3 class="font-bold">Private Mode Error</h3>

        <div class="error-desc">
            <p>eVAL requires the use of local storage to run. We have detected that you are currently running in Private Mode, which disables local storage. You will need to turn off Private Mode to use eVAL from this computer.  </p>
            <br/>
            Once you have done so you can go back to main page: <br><a ng-click="vm.goHome()" class="btn btn-primary m-t">Home</a>
        </div>
    </div>
</div>
