
<div class="middle-box text-center animated fadeInDown">
    <h3 class="font-bold" title="{{vm.errorInfo.message}}">{{vm.errorInfo.status}}: An unexpected error occurred</h3>

    <div class="error-desc">
        <p>The server encountered something unexpected that didn't allow it to complete the request. We apologize. The error has been logged and will be investigated shortly.</p>
        <br/>
        You can go back to main page: <br><a ng-click="vm.goHome()" class="btn btn-primary m-t">Home</a>
    </div>
</div>