<div class="row" style="margin-top: 60px;">
    <div class="col-sm-offset-4 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body" ng-switch="vm.state">
                <div ng-switch-when="loading">
                    <h1>Please wait...</h1>
                    <p>We're logging you in...</p>
                </div>
                <div ng-switch-when="expired" class="text-warning">
                    <h1>Your session has expired</h1>
                    <p>Please sign-in again.</p>
                </div>
                <div ng-switch-when="error" class="text-danger">
                    <h1>Unexpected error</h1>
                    <p>Please try signing-in again in a few minutes. If the problem
                        persists, contact an administrator.</p>
                </div>
            </div>
        </div>
    </div>
</div>
