<div class="modal-dialog">
    <div class="modal-body flatmodal">
        <div class="form-group">
            <h2 class="modal-title" ><strong>Selecting a {{vm.evaluationTerm}} Framework</strong></h2>
        </div>

        <div class="form-group">
             <span ng-repeat-start="protoTypeFramework in vm.setupStatus.protoTypeFrameworks">
                <label>
                    <input type="radio" name="framework"
                           ng-model="vm.selectedFrameworkContext"
                           ng-value="protoTypeFramework">
                    {{protoTypeFramework.name}}
                </label>
            </span>
            <br ng-repeat-end /><br/>


            <br/>

            <eval-alert ng-if="vm.selectedFrameworkContext" >
                <strong>{{vm.selectedFrameworkContext.name}}</strong>
                <br/><br/>
                Loading an evaluation framework is an irreversible step.
                Please ensure that you have selected the correct framework before continuing.
            </eval-alert>
        </div>

        <div class="block-center text-center">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
            <button ng-disabled="!vm.selectedFrameworkContext" type="button" class="btn btn-danger" ng-click="vm.ok()" >Yes, load this framework</button>
        </div>
    </div>
</div>