<div class="checklist checklist-border" affix ng-class="{affix:affixed}" ng-style="offset">
    <div class="checklist-header">
        <div>Student Growth Checklist</div>
        <div class="share-date" ng-if="vm.bundle.wfState===vm.enums.WfState.SGBUNDLE_PROCESS_SHARED">{{vm.goalTerm}} Shared {{vm.bundle.processSharedDateTime | date:'shortDate'}}</div>
        <div class="share-date" ng-if="vm.bundle.wfState>=vm.enums.WfState.SGBUNDLE_PROCESS_COMPLETE">{{vm.goalTerm}} Approved {{vm.bundle.processCompleteDateTime | date:'shortDate'}}</div>
    </div>
    <div class="step" ng-class="vm.stepClass(1)">
        <span class="fa fa-check"></span>
        <span class="step-desc">Received the Student Growth {{vm.goalTerm}}</span>
    </div>
    <div class="step" ng-class="vm.stepClass(2)">
        <span class="fa fa-check"></span>
        <span class="step-desc">Score Rubric & Sign-off </span>
    </div>
    <div class="step" ng-class="vm.stepClass(3)">
        <span class="fa fa-check"></span>
        <span class="step-desc"></span>Align & Score collected evidence
    </div>
</div>