<div ng-if="vm.hasProcess">
    <h3>Process</h3>
    <p>
        The checklist on the right will help you to keep track of where you are in the Student Growth process.
        When the student growth goals are signed off you will also receive a notification, in addition to the checklist state being checked.
    </p>
    <br/>
    <h3>Develop your goals</h3>
    <p>
        The first step in the student growth process is developing your goals for this year, in each rubric you can perform actions such as adding artifacts, answering prompts,
        and writing your the goal statement. After developing all goals assigned to you, click the share button to make them available to your Evaluator.
    </p>
    <br/>
    <h3> Get Sign-off</h3>
    <p>
        After sharing your goals, your Evaluator will get a message, informing him/her to review the goals, and sign-off on them.
        Once the goals are approved you will receive a notification from eVAL, and the option to start collecting evidence for student growth will be open automatically.
    </p>
    <br/>
    <h3>Start Collecting Evidence</h3>
    <p>
        When the goals are signed off and ready, you will be able to start collecting Evidence for all of your student growth goals.
    </p>
</div>
<div ng-if="!vm.hasProcess">
    <h3>Collect Evidence</h3>
    <p>
        When you are ready you can start collecting Evidence for all of your student growth goals.
    </p>
</div>