<div ng-if="vm.hasProcess">
    <h3>Process</h3>
    <p>
        The checklist on the right will help you to keep track of where you are in the Student Growth process.
        When the student growth goals are signed off you will also receive a notification, in addition to the checklist state being checked.
    </p>
    <br/>
    <h3>Receive the Student Growth Goals</h3>
    <p>
        At this stage you are waiting for the {{vm.evaluateeTerm}} to complete developing the current year student growth goals, and share them with you.
        oOce the goals are shared a new activity indication will appear for this {{vm.evaluateeTerm}} in the dashboard, and the checklist will indicate this step completion.
    </p>
    <br/>
    <h3>Score the Rubric & Sign-off</h3>
    <p>At this stage the student growth goals are available for review by you, score them according to the rubrics and then
        click of a signoff button to sign off on them. The {{vm.evaluateeTerm}} will be informed regarding the signoff and the goal scores,
        and the option to start collecting evidence for student growth will become available.
    </p>
    <br/>
    <h3>Score the evidence collected</h3>
    <p>
        Align & Score the evidence collected.
    </p>
</div>
<div ng-if="!vm.hasProcess">
    <h3>Score the evidence collected</h3>
    <p>
        Align & Score the evidence collected.
    </p>
</div>