<div>
    <div class="row">
        <div class="col-lg-12">
            <page-header ng-if="vm.hasProcess" title="'Student Growth Process and Summary'"></page-header>
            <page-header ng-if="!vm.hasProcess" title="'Student Growth Goals Summary'">
                As the principal collects Evidence for his student growth goals, it will be available
                here for you to align and score.
            </page-header>
        </div>
    </div>
    <br/>
    <div class="table-blue-header">
        <div class="row">
            <div class="col-lg-8">
                <div ng-if="!vm.isEvaluatee && vm.hasProcess"  ng-include="'app/student-growth-goals/summary/_evaluator-overview.html'"></div>
                <div ng-if="vm.isEvaluatee" ng-include="'app/student-growth-goals/summary/_evaluatee-overview.html'"></div>
                <br/>
                <div>
                    <h3>Summary</h3>
                    <div ng-if="vm.hasProcess">
                        <strong>Goal Statement{{vm.bundle.goals.length===1?'':'s'}}</strong>
                        <table class="table table-bordered table-blue-header">
                            <thead>
                            <tr>
                                <th ng-repeat="goal in vm.bundle.goals">{{goal.frameworkNodeShortName}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-repeat="goal in vm.bundle.goals">{{goal.goalStatement}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <br/>
                    </div>
                </div>
                <sg-bundle-summary-directive evidence-collection="vm.evidenceCollection"></sg-bundle-summary-directive>
            </div>
            <div class="col-lg-4" ng-if="vm.hasProcess">
                <div ng-if="!vm.isEvaluatee" ng-include="'app/student-growth-goals/summary/_evaluator-steps.html'"></div>
                <div ng-if="vm.isEvaluatee" ng-include="'app/student-growth-goals/summary/_evaluatee-steps.html'"></div>
            </div>
        </div>
    </div>
</div>


