<table class="table  dashboard-rubrics">
    <thead>
    <tr>
        <th width="180px" colspan="{{(vm.userCanSeeProcessScores || vm.userCanSeeResultsScores)?2:4}}">Rubrics</th>
        <th width="90px" ng-if="vm.userCanSeeProcessScores || vm.userCanSeeResultsScores">Evidence</th>
        <th width="90px" ng-if="vm.userCanSeeProcessScores || vm.userCanSeeResultsScores">Performance</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td class="no-padding" colspan="4">
                <table ng-repeat="goal in vm.bundle.goals" class="goals table ">
                    <tr>
                        <!-- Rubrics -->
                        <td width="60px">
                            <strong>{{goal.frameworkNodeShortName}}</strong>
                        </td>
                        <td  width="120px" class="no-padding">
                            <table class="table table-border-bottom">
                                <!-- process -->
                                <tr ng-if="vm.hasProcess">
                                    <td width="60px">
                                        <span ng-if="vm.isEvaluatee">
                                           <a ng-click="vm.gotoGoalPlanning(goal)">
                                               {{vm.evidenceCollection.getRowById(goal.processRubricRowId).data.shortName}}
                                           </a>
                                        </span>
                                        <span ng-if="!vm.isEvaluatee && vm.bundle.wfState>=vm.enums.WfState.SGBUNDLE_PROCESS_SHARED">
                                            <a ng-click="vm.gotoGoalProcessRow(goal)">
                                                {{vm.evidenceCollection.getRowById(goal.processRubricRowId).data.shortName}}
                                            </a>
                                        </span>
                                        <span ng-if="!vm.isEvaluatee && vm.bundle.wfState===vm.enums.WfState.SGBUNDLE_STARTED">
                                            {{vm.evidenceCollection.getRowById(goal.processRubricRowId).data.shortName}}
                                        </span>
                                         <span class="label label-warning" ng-if="vm.goalEvidence[goal.id+'-'+goal.processRubricRowId].changed">
                                            New
                                         </span>
                                    </td>
                                </tr>
                                <!-- results-->
                                <tr ng-if="goal.resultsRubricRowId && vm.bundle.wfState>=vm.enums.WfState.SGBUNDLE_PROCESS_COMPLETE">
                                    <td>
                                         <span  ng-if="vm.isEvaluatee" >
                                           <a ng-click="vm.gotoGoalResults(goal)">
                                               {{vm.evidenceCollection.getRowById(goal.resultsRubricRowId).data.shortName}}
                                           </a>
                                         </span>
                                         <span ng-if="!vm.isEvaluatee">
                                            <a ng-click="vm.gotoGoalResultsRow(goal)">
                                                {{vm.evidenceCollection.getRowById(goal.resultsRubricRowId).data.shortName}}
                                            </a>
                                        </span>
                                         <span class="label label-warning" ng-if="vm.goalEvidence[goal.id+'-'+goal.resultsRubricRowId].changed">
                                            New
                                         </span>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <!-- Evidence -->
                        <td width="90px" class="no-padding" ng-if="vm.userCanSeeProcessScores || vm.userCanSeeResultsScores">
                            <table class="table table-border-bottom">
                                <!-- process -->
                                <tr ng-if="vm.hasProcess">
                                    <td width="90px">
                                     <span ng-if="vm.userCanSeeProcessScores">
                                            {{vm.goalEvidence[goal.id+'-'+goal.processRubricRowId].used}}/
                                            {{vm.goalEvidence[goal.id+'-'+goal.processRubricRowId].avail}}
                                    </span>
                                    <span ng-if="!vm.userCanSeeProcessScores">
                                            &nbsp;
                                    </span>
                                    </td>
                                </tr>
                                <!-- results-->
                                <tr ng-if="goal.resultsRubricRowId && vm.bundle.wfState>=vm.enums.WfState.SGBUNDLE_PROCESS_COMPLETE">
                                <td width="60px">
                                     <span ng-if="vm.userCanSeeResultsScores">
                                         {{vm.goalEvidence[goal.id+'-'+goal.resultsRubricRowId].used}}/
                                         {{vm.goalEvidence[goal.id+'-'+goal.resultsRubricRowId].avail}}
                                    </span>
                                    <span ng-if="!vm.userCanSeeResultsScores">
                                            &nbsp;
                                    </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!--Performance -->
                        <td width="90px" class="no-padding" ng-if="vm.userCanSeeProcessScores || vm.userCanSeeResultsScores">
                            <table class="table table-border-bottom">
                                <!-- process -->
                                <tr ng-if="vm.hasProcess">
                                    <td width="90px" >
                                     <span ng-if="vm.userCanSeeProcessScores">
                                            {{vm.goalEvidence[goal.id+'-'+goal.processRubricRowId].score}}
                                    </span>
                                    <span ng-if="!vm.userCanSeeProcessScores">
                                             &nbsp;
                                    </span>
                                    </td>
                                </tr>
                                <!-- results-->
                                <tr ng-if="goal.resultsRubricRowId && vm.bundle.wfState>=vm.enums.WfState.SGBUNDLE_PROCESS_COMPLETE">
                                    <td width="60px">
                                         <span ng-if="vm.userCanSeeResultsScores">
                                            {{vm.goalEvidence[goal.id+'-'+goal.resultsRubricRowId].score}}
                                        </span>
                                        <span ng-if="!vm.userCanSeeResultsScores">
                                             &nbsp;
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
