<div class="modal-dialog">
    <div class="modal-body flatmodal">
    <div class="form-group">
        <h2 class="modal-title" ><strong>Code as Evidence</strong></h2>
    </div>

    <div class="form-group">
        <p class="font-size14">Coding responses as evidence requires that the response is no longer editable. Once you have coded the response, then {{data.evaluateeTerm}} will no longer be able to make changes.</p>
    </div>

    <div class="block-center text-center">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        <button id="code-confirm-ok-btn" type="button" class="btn btn-primary" ng-click="vm.save(true)" >Continue</button>
        <button type="button" class="btn btn-primary" ng-click="vm.save(false)" >Continue, and don't show again.</button>
    </div>
</div>
</div>