<div class="modal-dialog">
    <div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <h2 class="modal-title" ><strong>{{data.title}}</strong></h2>
            </div>

            <div class="form-group">
                <p class="font-size14">Adding this component will make available all the features of a {{data.title}} in this Observation.</p>
                <p>Even though you manually added this component you are under no obligation to use it, but once added it will remain available throughout this Observation process, and cannot be removed.</p>
            </div>

            <div class="block-center text-center">
                <button id="cancel-btn" type="button" class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
                <button id="ok-btn" type="button" class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
            </div>
        </div>
    </div>
</div>
</div>
