<div class="modal-dialog">
    <div class="modal-body flatmodal">
        <div class="form-group">
            <h2 class="modal-title" ><strong>{{data.title}}</strong></h2>
        </div>

        <div class="form-group">
            <p>"Focus lock" makes sure that all Observations throughout the year stay in alignment to the current year's evaluation cycle.
                Unlocking a focused Observation will make all criteria available to be evaluated, even those outside of this year's chosen focus.</p>

            <p>Note: this action only affects the current Observation, if you want to change the yearly Evaluation focus you can do so through
                the administration section, or by contacting the district administrator. in either case please consult your district guidelines
                when making a change.</p>
        </div>

        <div class="block-center text-center">
            <button class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
            <button class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
        </div>
    </div>
</div>

