<div class="modal-dialog">
    <div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <h2 class="modal-title" ><strong>New Observation</strong></h2>
            </div>

            <div class="font-size14 form-group">
                <p>Which Observation type would you like to start?</p>
            </div>

            <div class="block-center text-center">
                <button ng-click="vm.close()" class="btn btn-default btn-outline">Close</button>
                <button id="informal-btn" ng-click="vm.save(vm.enums.ObservationType.INFORMAL)" class="btn btn-primary">Informal</button>
                <button id="formal-btn" ng-click="vm.save(vm.enums.ObservationType.FORMAL)" class="btn btn-primary">Formal</button>
            </div>
        </div>
    </div>
</div>
</div>