<categorized-selector edit-header="<b>Select the Observation Focus</b>"
                      view-header="<b>Observation Focus</b>"
                      read-only="vm.readOnly"
                      categories="vm.categories"
                      state-framework-only="false"
                      locked="vm.observation.focused"
                      unlocked="vm.unlocked"
                      changed="vm.changed($selectedRows)"></categorized-selector>
