<div ng-if="vm.isEvaluator && vm.observation.wfState === vm.enums.WfState.OBS_LOCKED_TEE_REVIEW">
    <div class="alert alert-info eval-alert">
        <i class="fa fa-2x fa-exclamation-circle"></i>
        <div class="alert-content">
            This Observation was sent to the {{vm.evaluateeTermLC}} for <strong>Final Acknowledgement</strong>
            {{ vm.observation.sendFinalDateTime | fromNow }}.
            If you need to manually mark the Observation as complete, you can do so from the Report section.
        </div>
    </div>
</div>
<div ng-if="vm.isEvaluatee && vm.observation.wfState === vm.enums.WfState.OBS_LOCKED_TEE_REVIEW">
    <div class="alert alert-info eval-alert">
        <i class="fa fa-2x fa-exclamation-circle"></i>
        <div class="alert-content">
            This Observation was sent to you for <strong>Final Acknowledgement</strong> on
            {{ vm.observation.sendFinalDateTime | fromNow }}. View and acknowledge the report in the Report section.
        </div>
    </div>
</div>
<div ng-if="vm.observation.wfState === vm.enums.WfState.OBS_LOCKED_SEALED">
    <div class="alert alert-info eval-alert">
        <i class="fa fa-2x fa-exclamation-circle"></i>
        <div class="alert-content">
            {{vm.formatLockedMessage()}}
        </div>
        <div class="pull-right" ng-if="(vm.observation.wfState === vm.enums.WfState.OBS_LOCKED_SEALED) &&
                                       (vm.isEvaluatee || vm.isEvaluator)">
            <div class="btn btn-primary btn-sm" ng-click="vm.requestUnlock()">Request Unlock</div>
        </div>
    </div>
</div>

<div ng-if="vm.observation.wfState === vm.enums.WfState.OBS_UNLOCK_REQUEST_TOR ||
            vm.observation.wfState === vm.enums.WfState.OBS_UNLOCK_REQUEST_TEE">
    <div class="alert alert-info eval-alert">
        <i class="fa fa-2x fa-exclamation-circle"></i>
        <div class="alert-content">
            <div ng-if="(vm.observation.wfState === vm.enums.WfState.OBS_UNLOCK_REQUEST_TOR) && vm.isEvaluatee">
                A request to unlock the Observation was sent to you from your evaluator.
            </div>
            <div ng-if="(vm.observation.wfState === vm.enums.WfState.OBS_UNLOCK_REQUEST_TOR) && !vm.isEvaluatee">
                A request to unlock the Observation was sent from you to the {{vm.evaluateeTermLC}}.
            </div>
            <div ng-if="(vm.observation.wfState === vm.enums.WfState.OBS_UNLOCK_REQUEST_TEE) && vm.isEvaluatee">
                A request to unlock the Observation was sent from you to your evaluator.
            </div>
            <div ng-if="(vm.observation.wfState === vm.enums.WfState.OBS_UNLOCK_REQUEST_TEE) && !vm.isEvaluatee">
                A request to unlock the Observation was sent to you from the {{vm.evaluateeTermLC}}.
            </div>
            If the request is approved, the Observation will become editable and will go through the Final Acknowledgement process again.
            <div class="pull-right">
                <div ng-if="(vm.observation.wfState === vm.enums.WfState.OBS_UNLOCK_REQUEST_TEE && vm.isEvaluator) ||
                                           (vm.observation.wfState === vm.enums.WfState.OBS_UNLOCK_REQUEST_TOR && vm.isEvaluatee)">
                    <div class="btn btn-primary btn-sm" confirm="Are you sure you want to decline the request?" ng-click="vm.declineRequest()">Decline Request</div>
                    <div class="btn btn-primary btn-sm"  ng-click="vm.acceptRequest()">Accept Request</div>
                </div>
                <div ng-if="(vm.observation.wfState === vm.enums.WfState.OBS_UNLOCK_REQUEST_TEE && vm.isEvaluatee) ||
                                           (vm.observation.wfState === vm.enums.WfState.OBS_UNLOCK_REQUEST_TOR && vm.isEvaluator)">
                    <div class="btn btn-primary btn-sm" confirm="Are you sure you want to remove the request?" ng-click="vm.removeRequest()">Remove Unlock Request</div>
                </div>
            </div>
        </div>

    </div>
</div>


