<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <page-header title="'Observations'">List of Observations you have started</page-header>
                    </div>
                    <div class="col-lg-6">
                        <div class="pull-right" ng-show="vm.showNewObservationBtn">
                            <button id="addNewButton" ng-click="vm.openNewObservationWindow()" class="btn btn-primary btn-sm" type="button">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add Observation
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row" ng-if="vm.observations.length>0">
                    <div class="col-md-12">
                        <list-filter filters="vm.filters" list="vm.observations"></list-filter>
                    </div>
                </div>
                <br/>
                <loading-panel loaded="vm.observations != null">
                    <div class="row" ng-if="vm.observations.length===0">
                        <div class="col-lg-12">
                            <nothing-here ng-if="vm.isAssignedEvaluator" title="'Nothing here yet'" description="'Get started by adding an Observation.'"></nothing-here>
                            <nothing-here ng-if="vm.isEvaluatee" title="'Nothing here yet'" description="'Any observations started by your evaluator will be displayed here.'"></nothing-here>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row" ng-if="vm.observations.length>0">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Created By</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="observation in vm.observations | filter:vm.selectedFilter()">
                                        <td>{{observation.creationDateTime|date}}</td>
                                        <td>{{observation.typeDisplayName}}</td>
                                        <td>{{observation.createdByDisplayName}}</td>
                                        <td style="width: 200px;">{{observation.title}}</td>
                                        <td>{{observation.statusDisplayName}}</td>
                                        <td>
                                            <button class="btn btn-primary btn-xs" ng-click="vm.editObservation(observation.id)">View</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </loading-panel>
            </div>
        </div>
    </div>
</div>
