<div class="row well">
    <div class="col-sm-12">
        <div>
            <label>Observation Notes Shared</label>
            <span class="">{{vm.observation.observeNotesShared}}</span>
        </div>
        <div>
            <label>Evaluator Scores Shared</label>
            <span class="">{{vm.observation.evaluatorScoresShared}}</span>
        </div>
        <div>
            <label>{{vm.evaluateeTerm}} Scoring Enabled</label>
            <span>{{vm.observation.selfEvalShared}}</span>
        </div>
        <div class="text-right">
            <a ng-click="vm.toggle()" class="change-btn">
                Change
            </a>
        </div>
    </div>
</div>

<div style="overflow: visible;">
    <div class="popover-wrapper" ng-if="vm.shown">
        <div class="overlay" ng-click="vm.toggle()"></div>
        <div class="popover right">
            <div class="arrow"></div>
            <div class="popover-title"><strong>Options</strong></div>
            <div class="popover-content">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Observation Notes Shared</label>
                        <div class="col-sm-8">
                           <div class="">{{vm.observation.observeNotesShared}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Evaluator Scores Shared</label>
                        <div class="col-sm-8">
                            <div class="">{{vm.observation.evaluatorScoresShared}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{vm.evaluateeTerm}} Scoring Enabled</label>
                        <div class="col-sm-8">
                            <div class="">{{vm.observation.selfEvalShared}}</div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-offset-4 col-sm-4">
                        <button type="button"
                                class="btn btn-default btn-outline btn-block btn-sm"
                                ng-click="vm.toggle()">Close
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button"
                                class="btn btn-primary btn-block btn-sm"
                                ng-click="vm.save()">Done
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>