<div class="modal-dialog">
    <div class="modal-body flatmodal">
    <div class="form-group">
        <h2 class="modal-title" ><strong>Re-send Conference Prompts</strong></h2>
    </div>

    <p>The {{vm.evaluateeTerm}} will receive a notification that an update was made to the conference prompts. You may include an optional
        comment below that will be included in the notification.</p>

    <div class="form-group">
        <label>Comment (optional):</label>
        <textarea class="form-control" rows="3" ng-model="vm.comment" placeholder="Enter comments here"></textarea>
    </div>

    <div class="block-center text-center">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="vm.save()" >Continue</button>
    </div>
</div>
</div>