<div class="modal-dialog">
    <div class="modal-body flatmodal">
    <div class="form-group">
        <h2 class="modal-title" ><strong>Send Conference Prompts</strong></h2>
    </div>

    <div ng-if="data.promptsSentByTor" class="form-group">
        <p>You initially made the prompts available to the {{data.evaluateeTerm}} on {{data.confQsTorSentDate  | date:'shortDate'}}. Any changes you have made since that date are already visible to the {{data.evaluateeTerm}}.</p>
        <p>This action will only notify the {{data.evaluateeTerm}} that there are new changes.</p>
    </div>

    <div ng-if="!data.promptsSentByTor" class="form-group">
        <p>When you Send Prompts you are making prompts visible to the {{data.evaluateeTerm}}. Any changes or new prompts that are added will be immediately visible to the {{data.evaluateeTerm}} once you send the initial prompts. </p>
        <p>You can click the Send Prompts again if you would like the {{data.evaluateeTerm}} to receive a notification that there were additional changes made to the prompts.</p>
    </div>

    <div class="block-center text-center">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="ok()" >Continue</button>
    </div>
</div>
</div>