<div class="modal-dialog">
    <div class="modal-body flatmodal">
    <div class="form-group">
        <h2 class="modal-title" ><strong>{{vm.type==='notes'?'Sharing Notes':'Sharing Responses'}}</strong></h2>
    </div>

    <div class="form-group" ng-if="vm.type===3">
        <p class="font-size14">Sharing your final summary will make it available to the Evaluator. Your input will be included in the observation report. For that reason it is recommended that you share your final summary at the point you are done and ready to share.</p>
    </div>

    <div class="form-group" ng-if="vm.type===2">
        <p class="font-size14">Sharing your conference summary will make it available to the Evaluator. You'll be able to continue to make changes until the Evaluator decides to code portions of the summary as evidence. For that reason it is recommended that you share
            your summary at the point you are done and ready to share.</p>
    </div>

    <div class="form-group" ng-if="vm.type===1">
        <p class="font-size14">Sharing responses will make the responses available to the Evaluator. You'll be able to adjust/change the responses until the Evaluator decides to code portions of the response as evidence. For that reason it is recommended that you share
            your responses at the point you are done and ready to share.</p>
    </div>

    <div class="block-center text-center">
        <button id="cancel-btn" type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        <button id="save-true-btn" type="button" class="btn btn-primary" ng-click="vm.save(true)" >Continue</button>
        <button id="save-false-btn" type="button" class="btn btn-primary" ng-click="vm.save(false)" >Continue, and don't show again.</button>
    </div>
</div>
</div>