

<h3>Your Role in Setting up {{vm.evaluateeTermUC}} Evaluations in eVAL</h3>
<p>
    {{vm.districtName}} has already started the setup process for the {{vm.schoolYearDisplayName}} school year by selecting the <strong>{{vm.frameworkContext.name}}</strong> Evaluation Framework for {{vm.evaluateeTermUC}} evaluations.
</p>
<p>
    As a School Administrator at {{vm.schoolName}}, you may be responsible for some steps in the initial yearly set up process for {{vm.evaluateeTermUC}} evaluations.
</p>

<p>Check the following table to see which administrative tasks you have responsibility for.</p>
<br/>
<table class="table table-bordered table-blue-header">
    <thead>
    <tr>
        <th>Setup Step</th>
        <th width="25%">Description</th>
        <th width="25%">Responsibility</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Assigning evaluators and evaluation cycles for {{vm.evaluateeTermLC}}s.</td>
        <td>
            Before a {{vm.evaluateeTermLC}}s can begin using eVAL for his evaluation,
            he must be assigned an evaluator and have an evaluation cycle (Comprehensive
            or Focused) set.
        </td>
        <td>

            <span ng-if="vm.assignmentDelegated">
                The district has delegated responsibility for this task to the school. <strong>The responsibility for making assignments resides with your school.</strong>
            </span>
            <span ng-if="!vm.assignmentDelegated">
                The district has not delegated responsibility for this task to the school. You are able to view the current status for assignments, but <strong>responsibility for making assignments resides with the district.</strong>
            </span>
        </td>
        <td>
            <div>
                <p>
                    You can {{vm.assignmentDelegated?'manage':'view'}} <a ng-click="vm.gotoAssignments()">{{vm.evaluateeTermUC}} Assignments</a> at any time.
                </p>
                <div ng-if="vm.unassignedCount>0">
                    <label>{{vm.evaluateeTermUC}}s Awaiting Assignment:&nbsp;</label>
                                 <span class="label label-warning" ng-if="vm.unassignedCount>0">
                                    {{vm.unassignedCount}}
                                </span>
                </div>
            </div>
        </td>
    </tr>
    <tr ng-if="vm.evaluationType !== vm.enums.EvaluationType.PRINCIPAL">
        <td>
            Setting up a default set of Observation Prompts (optional)
        </td>
        <td>
            <p>
                As a School Administrator you can create conference prompts that are available for use by all principals at your school.
            </p>
        </td>
        <td>
            District (district-wide prompts)<br/>
            School (school-wide prompts)<br/>
            Principal (personal prompts)
        </td>
        <td>
            You can work in the <a ng-click="vm.gotoPromptBank()">School Prompt Bank</a> at any time.
        </td>
    </tr>
    </tbody>
</table>
