<h3>Your Role in Setting up {{vm.evaluateeTermUC}} Evaluations in eVAL</h3>
<p>
    {{vm.districtName}} has already started the setup process for the {{vm.schoolYearDisplayName}} school year by selecting the <strong>{{vm.frameworkContext.name}}</strong> Evaluation Framework for {{vm.evaluateeTermUC}} evaluations.
</p>
<p>
    As a District Administrator at {{vm.schoolName}}, you are responsible for some additional steps in the initial yearly set up process for {{vm.evaluateeTermUC}} evaluations.
</p>

<p>Check the following table to see which administrative tasks you have responsibility for.</p>
<br/>
<table class="table table-bordered table-blue-header">
    <thead>
    <tr>
        <th>Setup Step</th>
        <th width="25%">Description</th>
        <th width="25%">Responsibility</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Assigning evaluators and evaluation cycles for {{vm.evaluateeTermLC}}s.</td>
        <td>
                Before {{vm.evaluateeTermLC}}s can begin using eVAL for their own evaluations,
                they must be assigned an evaluator and have an evaluation cycle (Comprehensive
                or Focused) set.
        </td>
        <td>
            <span>
                The district can delegated responsibility for this task to the school. At the current time responsibility for assignments has delegated assignments to <span class="label label-warning">
                {{vm.delegatedAssignmentsCount===vm.schoolCount?'All': vm.delegatedAssignmentsCount}}</span> schools.
            </span>
        </td>
        <td>
            <div>
                <p>
                    You can manage <a ng-click="vm.gotoAssignments()">{{vm.evaluateeTermUC}} Assignments</a> at any time.
                </p>
                <div ng-if="vm.unassignedCount>0">
                    <label>{{vm.evaluateeTermUC}}s Awaiting Assignment:&nbsp;</label>
                     <span class="label label-warning">
                        {{vm.unassignedCount}}
                    </span>
                </div>
                <div ng-if="vm.pendingDTEAssignmentRequestCount>0">
                    <label>District-wide Teacher Assignment Requests Awaiting Assignment:&nbsp;</label>
                     <span class="label label-warning">
                        {{vm.pendingDTEAssignmentRequestCount}}
                    </span>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Setting up a default set of Observation Conference Prompts (optional)
        </td>
        <td>
            <p>
                The district can pre-define a set of prompts that are available to all schools
                in the district.
            </p>
        </td>
        <td>
            District Admin (district-wide prompts)<br/>
            School Admin (school-wide prompts)<br/>
            Principal (personal prompts)
        </td>
        <td>
            You can work in the <a ng-click="vm.gotoPromptBank()">District Prompt Bank</a> at any time.
        </td>
    </tr>
    <tr>
        <td>
            Setting default options for Teacher Evaluations (optional)
        </td>
        <td>
            <p>
                The district can configure many options within eVAL, such as whether certain modules are active, what the official Observation Report format looks like, and more.
            </p>
        </td>
        <td>
            District Admin
        </td>
        <td>
            You can work in the <a ng-click="vm.gotoSettings()">Settings</a> section at any time.
        </td>
    </tr>f
    <tr>
        <td>
            Activating {{vm.evaluateeTermUC}} Evaluations for {{vm.schoolYearDisplayName}}
        </td>
        <td>
            <p>
                <strong>The {{vm.evaluateeTermUC}} Evaluation Framework must be activated by the district before is is available to district users.</strong> It is recommended that the district delay activating the Evaluation Framework until it has completed all of the setup tasks or delegated tasks to the school.
            </p>
        </td>
        <td>
            District Admin
        </td>
        <td>
            <div class="text-center">
                <button  ng-if="!vm.frameworkIsActive"  class="btn btn-primary btn-lg" ng-click="vm.activateFrameworkContext()">
                    Activate {{vm.evaluateeTermUC}} Evaluations
                </button>
                <eval-alert ng-if="vm.frameworkIsActive">
                    {{vm.evaluateeTermUC}} Evaluations have been activated.
                </eval-alert>
            </div>
        </td>
    </tr>
    </tbody>
</table>