<h3>Your Role in Setting up {{vm.evaluateeTermUC}} Evaluations in eVAL</h3>
<p>
    {{vm.districtName}} has already started the setup process for the {{vm.schoolYearDisplayName}} school year by selecting the <strong>{{vm.frameworkContext.name}}</strong> Evaluation Framework for {{vm.evaluateeTermUC}} evaluations.
</p>
<p>
    As a District-wide Teacher Evaluator at {{vm.districtName}}, you are responsible for some additional steps in the initial yearly set up process for {{vm.evaluateeTermUC}} evaluations.
</p>

<p>Check the following table to see which administrative tasks you have responsibility for.</p>
<br/>
<table class="table table-bordered table-blue-header">
    <thead>
    <tr>
        <th>Setup Step</th>
        <th width="25%">Description</th>
        <th width="25%">Responsibility</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Requesting to be involved in the evaluation of teachers in your district.</td>
        <td>
                Before you can participate in the evaluation of teachers in your district, you must
            first send a request to the District Administrator for each teacher you would like to evaluate.
        </td>
        <td>
            <span>
            The District Administrator has responsibility for accepting or rejecting each request and specifying whether you are the assigned evaluator or limited to performing observations for the teacher.
            </span>
        </td>
        <td>
            <div>
                <p>
                    You can manage your <a ng-click="vm.gotoDTEAssignmentRequests()">Assignments Requests</a> at any time.
                </p>
                <div ng-if="vm.pendingDTEAssignmentRequestCount>0">
                    <label>Requests Awaiting Assignment:&nbsp;</label>
                     <span class="label label-warning">
                        {{vm.pendingDTEAssignmentRequestCount}}
                    </span>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            Setting up a default set of Observation Prompts (optional)
        </td>
        <td>
            <p>
                As a District-wide Teacher Evaluator you can create private conference prompts that are available for use in your observations.
            </p>
        </td>
        <td>
            Personal Prompts
        </td>
        <td>
            You can work in your <a ng-click="vm.gotoPromptBank()">Private Prompt Bank</a> at any time.
        </td>
    </tr>
    </tbody>
</table>