<div class="row">
    <page-header class="col-lg-12" title="vm.welcomeMessage">
    </page-header>
</div>
<br/>
<div class="row">
    <div class="col-lg-12">
        <div ng-if="vm.workAreaTag=='DA_TR'" ng-include="'app/layout/dashboards/_begin-year-da-tr.html'"></div>
        <div ng-if="vm.workAreaTag=='SA_TR'" ng-include="'app/layout/dashboards/_begin-year-sa-tr.html'"></div>
        <div ng-if="vm.workAreaTag=='PR_TR'" ng-include="'app/layout/dashboards/_begin-year-pr-tr.html'"></div>
        <div ng-if="vm.workAreaTag=='PR_PR'" ng-include="'app/layout/dashboards/_begin-year-pr-pr.html'"></div>
        <div ng-if="vm.workAreaTag=='DE'" ng-include="'app/layout/dashboards/_begin-year-de.html'"></div>
        <div ng-if="vm.workAreaTag=='DTE'"   ng-include="'app/layout/dashboards/_begin-year-dte.html'"></div>
    </div>
</div>

