<div class="row">
    <div class="col-lg-2">
        <span>{{displayBeginning}}</span>
    </div>
    <div class="col-lg-8">
        <div ya-no-ui-slider="vm.options" ya-no-ui-slider-events="vm.events" ya-no-ui-slider-slide-debounce="3000"></div>
    </div>
    <div class="col-lg-2">
        <span>{{displayEnd}}</span>
    </div>
</div>