<div class="modal-dialog">
    <div class="modal-body flatmodal">
        <div class="form-group">
            <h2 class="modal-title" ><strong>Revising Goals</strong></h2>
        </div>

        <div class="font-size14 form-group">
            <u>What happens after clicking the “Revise Goals” button?:</u>
        </div>

        <div class="font-size14 form-group">
            <ul>
                <li>
                    Your goals will become editable and the goal setting process will start over.
                </li>
                <li>Your new goals will be private until you decide to share them with your evaluator.</li>
                <li>Any aligned evidence packages/scores from your evaluator will be removed.</li>
                <li>Your evaluator will sign-off on your new goals.</li>
            </ul>
        </div>

        <br/>
        <div class="block-center text-center">
            <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
            <button type="button" class="btn btn-primary" ng-click="ok()">Yes, I want to revise my goals</button>
        </div>
    </div>
</div>