<div ng-if="vm.bundle.wfState>=vm.enums.WfState.SGBUNDLE_PROCESS_SHARED">
    <h4>Sharing</h4>
    <p ng-if="vm.hasProcess">
        {{vm.evaluateeTerm}} has shared goals
        <span class="pull-right">Yes</span>
    </p>
  <!--  <p>
        Evaluator has shared scores
        <span ng-class="{disabled: !vm.bundle.evaluatorScoresShared}" class="pull-right">
            {{vm.bundle.evaluatorScoresShared ? 'Yes' : 'No'}}
        </span>
    </p>-->
</div>
<div class="text-right">
    <button class="btn btn-sm btn-default"
            ng-click="vm.popoverOpen = false">Close</button>
    <button ng-if="vm.isEvaluator" class="btn btn-sm btn-primary"
            ng-click="vm.popoverOpen = false; vm.openConfigureSharingModal()">
        Edit
    </button>
</div>