<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <h2 class="modal-title"><strong>Sharing Options</strong></h2>
            </div>

            <div class="form-group">
                <label for="cbShareTorScores">Share Achievement Scores</label>
                <div class="pull-right">
                    <div class="onoffswitch">
                        <input class="onoffswitch-checkbox"
                            id="cbShareTorScores"
                            ng-model="vm.shareOptions.evaluatorScoresShared"
                            type="checkbox">
                        <label class="onoffswitch-label" for="cbShareTorScores">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="block-center text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.save()">Save Options</button>
            </div>
        </div>
    </div>
</div>