<div class="modal-dialog">
    <div class="modal-body flatmodal">
        <div ng-if="vm.ready">
            <div class="form-group">
                <h2 class="modal-title" ><strong>Student Growth Goals Sign-off</strong></h2>
            </div>

            <p>After the Sign-off the Rubric scores and meeting note (if used) will be shared with the {{vm.evaluateeTerm}}.
                Additionally, it will enable the {{vm.evaluateeTerm}} to start collecting Evidence for these Goals
            </p>

            <br/>

            <div class="form-group">
                <label>Provide a summary note of the meeting: (optional):</label>
                <textarea class="form-control" rows="3" ng-model="vm.bundle.evaluatorProcessConfNotes" placeholder="Enter comments here"></textarea>
            </div>

            <div class="block-center text-center">
                <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="vm.save()" >Sign-off</button>
            </div>
        </div>
        <div ng-if="!vm.ready">
            <div class="form-group">
                <h2 class="modal-title" ><strong>Missing Student Growth Goals Scores</strong></h2>
            </div>

            <div>
                <p>Before you can sign-off on the Student Growth goals, you need to score all of the goal planning rubrics.
                    When you’re done click the Sign-off button again.
                </p>
                <strong>Missing Scores:&nbsp;</strong><span class="text-danger">{{vm.missingRows}}</span>

            </div>

            <br/>
            <div class="block-center text-center">
                <button type="button" class="btn btn-default" ng-click="vm.cancel()">Close</button>
            </div>
        </div>
</div>
</div>