<div class="observation-tabs" affix ng-class="{affix:affixed}" ng-style="offset">
    <div>
        <div class="tabs-container tabs">
            <ul class="nav nav-tabs">
                <li ng-repeat="link in vm.tabs"
                    ng-class="{'active': (vm.$state.current.name === link.state && (vm.$stateParams.id == link.params.id || !link.params.id))}"
                    ng-if="!link.disabled">
                    <a ng-click="vm.navigate(link)">{{link.title}}</a>
                </li>
            </ul>
        </div>
        <div class="save-notice" ng-show="vm.bundle.saveNotice">
            <label>{{vm.bundle.saveNotice}}</label>
        </div>
        <div class="buttons">
            <div class="col-lg-12">
                <div class="pull-right">
                 <!--   <button ng-show="vm.evaluatee && vm.bundle.wfState==vm.enums.WfState.SGBUNDLE_PROCESS_SHARED" class="btn btn-blue btn-sm"
                            uib-popover-template="'app/student-growth-goals/views/_share-popover.html'"
                            popover-trigger="outsideClick"
                            popover-is-open="vm.popoverOpen"
                            popover-placement="bottom-right">
                        <span class="sharing-icon">
                            <span class="fa fa-user evaluator"></span>
                            <span class="fa fa-user evaluatee"></span>
                        </span>
                        {{vm.evaluateeTerm}} Shared Goals
                    </button>-->

                    <button ng-show="!vm.evaluatee && vm.bundle.evaluatorScoresShared" class="btn btn-blue btn-sm"
                            uib-popover-template="'app/student-growth-goals/views/_share-popover.html'"
                            popover-trigger="outsideClick"
                            popover-is-open="vm.popoverOpen"
                            popover-placement="bottom-right">
                        <span class="sharing-icon">
                            <span class="fa fa-user evaluator"></span>
                            <span class="fa fa-user evaluatee"></span>
                        </span>
                        Evaluator Shared Input
                    </button>
                    <button ng-show="vm.isEvaluatee && vm.bundle.wfState===vm.enums.WfState.SGBUNDLE_STARTED"
                            class="btn btn-primary btn-sm"
                            ng-click="vm.shareGoals()">
                        Share Goals
                    </button>
                    <button ng-show="!vm.isEvaluatee && !vm.bundle.evaluatorScoresShared && vm.bundle.wfState>=vm.enums.WfState.SGBUNDLE_PROCESS_SHARED"
                            class="btn btn-primary btn-sm"
                            ng-click="vm.openConfigureSharingModal()">
                        Share Scores
                    </button>
                    <button ng-show="vm.hasProcess && vm.isEvaluatee && vm.bundle.wfState>=vm.enums.WfState.SGBUNDLE_PROCESS_SHARED"
                            class="btn btn-primary btn-sm"
                            ng-click="vm.reviseGoals()">
                        Revise Goals
                    </button>
                    <button ng-show="vm.hasProcess && !vm.isEvaluatee && vm.bundle.wfState===vm.enums.WfState.SGBUNDLE_PROCESS_SHARED"
                            class="btn btn-primary btn-sm"
                            ng-click="vm.approveGoals()">
                        Sign-off
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-content">
    <div class="tab-body">
        <div ui-view="content"></div>
    </div>
</div>
