<div ng-if="vm.isAssignedEvaluator && vm.bundle.wfState<vm.enums.WfState.SGBUNDLE_PROCESS_SHARED" class="row">
    <div class="col-lg-12">
        <nothing-here title="'No goals available to review yet.'" description="'When the goals have been shared they will be displayed here.'"></nothing-here>
    </div>
</div>

<div ng-if="vm.bundle.wfState>=vm.enums.WfState.SGBUNDLE_PROCESS_SHARED" class="row">
    <div class="col-lg-12">
        <br/>
        <evidence-collection evidence-collection="vm.evidenceCollection"></evidence-collection>
    </div>
</div>
