<div class="row available-evidence">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>{{vm.row.data.shortName}} - {{vm.row.data.title}}</h2>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <strong>{{vm.row.data.shortName}} Rubric Reference </strong>
                            <hr/>
                        </div>
                        <rubric-row-reference row="vm.row"></rubric-row-reference>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-primary btn-xs" ng-click="vm.addArtifact()">Add New Artifact</button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Artifacts</h4>
                        <span>Below are the Artifacts that are linked to this Goal</span>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-12">
                        <div ng-if="vm.artifacts.length===0">
                            <br/>
                            <nothing-here title="'No artifacts have been linked yet'" icon="'fa fa-exclamation-circle'" description="'If artifacts are linked, they will be displayed here.'"></nothing-here>
                        </div>
                        <div  ng-if="vm.artifacts.length>0">
                            <div class="available-evidence" ng-repeat="artifact in vm.artifacts">
                                <div class="evidence-desc">
                                    <div class="artifact-evidence">
                                        <div>
                                            <artifact-evidence-summary artifact="artifact"></artifact-evidence-summary>
                                        </div>
                                        <div>
                                            <span ng-if="vm.evidence.inUse"
                                                  class="fa fa-sm fa-times-circle color-darkgrey"
                                                  uib-tooltip="This items is being used as evidence and cannot be removed.">
                                            </span>
                                            <button ng-click="vm.editArtifact(artifact)" title="Edit"
                                                    class="btn-transparent">
                                                <span class="fa fa-pencil fa-md color-green"></span>
                                            </button>
                                            <button ng-if="!vm.evidence.inUse" ng-click="vm.removeArtifact(artifact)"
                                                    title="Delete" class="btn-transparent">
                                                <span class="fa fa-times-circle fa-md color-red"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>