<div ng-if="vm.goal" class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>{{vm.row.data.shortName}} - {{vm.row.data.title}}</h2>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <strong>{{vm.row.data.shortName}} Rubric Reference </strong>
                            <hr/>
                        </div>
                        <rubric-row-reference row="vm.row"></rubric-row-reference>
                    </div>
                </div>

                <div class="row" ng-if="!vm.readOnly">
                    <div class="col-lg-12">
                        <button class="btn btn-primary btn-xs" ng-click="vm.addArtifact()">Add New Artifact</button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Artifacts</h4>
                        <span>Below are the Artifacts that are linked to this Goal</span>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-12">
                        <div ng-if="vm.artifacts.length===0">
                            <br/>
                            <nothing-here title="'No artifacts have been linked yet'" icon="'fa fa-exclamation-circle'" description="'If artifacts are linked, they will be displayed here.'"></nothing-here>
                        </div>
                        <div  ng-if="vm.artifacts.length>0">
                            <div class="available-evidence" ng-repeat="artifact in vm.artifacts">
                                <div class="evidence-desc">
                                    <div class="artifact-evidence">
                                        <div class="clearfix">
                                            <div ng-class="{'col-xs-12 no-padding' : vm.readOnly, 'artifcat-row pull-left' : !vm.readOnly}">
                                                <artifact-evidence-summary artifact="artifact"></artifact-evidence-summary>
                                            </div>
                                            <div ng-if="!vm.readOnly" class=" crud-panel text-right pull-right">
                                                <span ng-if="artifact.createdByUserId!=vm.bundle.evaluateeId"
                                                          class="fa fa-sm fa-times-circle color-darkgrey"
                                                          uib-tooltip="This items is was created by someone else and cannot be modified.">
                                                </span>
                                                <button ng-click="vm.editArtifact(artifact)" title="Edit"
                                                        ng-if="artifact.createdByUserId===vm.bundle.evaluateeId"
                                                        class="btn-transparent">
                                                    <span class="fa fa-pencil fa-md color-green"></span>
                                                </button>
                                                <button ng-if="artifact.createdByUserId===vm.bundle.evaluateeId"
                                                        ng-click="vm.removeArtifact(artifact)"
                                                        title="Delete" class="btn-transparent">
                                                    <span class="fa fa-times-circle fa-md color-red"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <br/><br/>

                        <div ng-if="vm.userPromptResponses.length > 0">

                            <div class="row">
                                <div class="col-lg-12">
                                    <h4>Prompts</h4>
                                    <div>Below you will find some prompts to help you in building your Goal(s)</div>
                                </div>
                            </div>
                            <br/>

                            <div ng-repeat="userPrompt in vm.userPromptResponses">
                                <div class="q-ans-main-area">
                                    <div class="teacher-question">
                                        <strong>{{$index+1}}. <span class="marginLeft10" ng-bind-html="userPrompt.prompt"></span></strong>
                                    </div>
                                    <div class="teacher-answer">
                                        <div>
                                           <textarea ng-if="!vm.readOnly" class="form-control" ng-model="userPrompt.response" rows="5"
                                                     ng-change="vm.savePrompt(userPrompt)" placeholder="Provide response here">
                                            </textarea>
                                            <p ng-if="vm.readOnly">{{userPrompt.response}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="vm.userPromptResponses.length===0">
                            <br/>
                            <h4>Prompts</h4>
                            <span>Below you will find prompt to help you in building your Goal(s)</span>
                            <hr/>
                            <nothing-here title="'No prompts have been assigned yet'" icon="'fa fa-exclamation-circle'" description="'If prompts are assigned, they will be displayed here.'"></nothing-here>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <br/><br/>
                        <h4>Goal Statement</h4>
                        <div class="teacher-answer">
                            <div>
                               <textarea ng-if="!vm.readOnly" class="form-control" ng-model="vm.goal.goalStatement" rows="5"
                                         ng-change="vm.saveGoal()" placeholder="Provide goal statement here">
                                </textarea>
                                <p ng-if="vm.readOnly">{{vm.goal.goalStatement}}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



