<div class="modal-dialog">
    <div class="modal-body flatmodal">
    <div class="form-group">
        <h2 class="modal-title" ><strong>{{vm.type===1?'Sharing Goal(s)':'Sharing Goal Evidence'}}</strong></h2>
    </div>

    <div class="form-group">
        <p ng-if="vm.type===1">The {{vm.evaluateeTerm}} will receive a notification that an update was made to your goal(s). You may include an optional
            comment below that will be included in the notification.</p>
        <p ng-if="vm.type===2">The {{vm.evaluateeTerm}} will receive a notification that an update was made to your goal evidence. You may include an optional
            comment below that will be included in the notification.</p>

        <div class="form-group">
            <label>Comment (optional):</label>
            <textarea class="form-control" rows="3" ng-model="vm.comment" placeholder="Enter comments here"></textarea>
        </div>

    </div>

    <br/>
    <div class="block-center text-center">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="vm.save()" >Continue</button>
    </div>
</div>
</div>