<div class="modal-dialog">
    <div class="modal-body flatmodal">
    <div class="form-group">
        <h2 ng-if="!vm.complete" class="modal-title" ><strong>Missing Student Growth Goals</strong></h2>
        <h2 ng-if="vm.complete" class="modal-title" ><strong>Shared Goals</strong></h2>
    </div>

    <div ng-if="!vm.complete">
        <p>Before you can share your Student Growth goals, you need to fill out all your assigned
            goals. When you’re done click the share button again.
        </p>
        <strong>Missing Goals:&nbsp;</strong><span class="text-danger">{{vm.missingGoals.join(", ")}}</span>
        <br/>
        <br/>
        <p>Note: Student Growth goal assignment is determined by your current evaluation cycle.
        </p>
    </div>
    <div ng-if="vm.complete">
        <strong>After clicking shared goals, the following will happen:</strong>
        <br/>
        <br/>
        <ol>
            <li>Your Evaluator will be notified that your goals are done and available for review.
                The Student Growth area will become read-only until you and your evaluator complete the Goal Sign-off process.</li>
            <li>
                Once the goals have been approved, the following new tabs will be added to the Student Growth area: {{vm.resultsRows.join(', ')}}.
                The option to collect evidence for them will become available.
            </li>
        </ol>
    </div>

    <br/>
    <div class="block-center text-center">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Close</button>
         <button ng-if="vm.complete" type="button" class="btn btn-primary" ng-click="vm.save()" >Continue</button>
    </div>
</div>
</div>