<button class="btn btn-primary" ng-if="!vm.hideButton" ng-click="vm.togglePopup()">
    <i class="fa fa-question-circle"></i> Page Help
</button>
<div class="popover" ng-if="vm.showPopup">
    <h3 class="popover-title text-center">Page Help
        <button class="close" ng-click="vm.togglePopup()"><span>×</span></button>
    </h3>
    <div class="popover-content">
        <ng-transclude></ng-transclude>
        <div>
            <div class="checkbox">
                <input id="hide-help-cb" ng-model="vm.hideButton" ng-change="vm.toggleButton()" type="checkbox">
                <label></label>
            </div>
            <label for="hide-help-cb">Hide Help</label>
            <span>(you can always reactivate from the help menu)</span>
        </div>
    </div>
</div>