<text-angular ng-model="$ctrl.text"
              ta-toolbar="$ctrl.toolbar"
              id="{{$ctrl.editorName}}"
              name="{{$ctrl.editorName}}"></text-angular>
<div ng-if="$ctrl.showLegend" class="legend">
    Selections that look like <span class="coded-section" rubricrow="1a" contenteditable="false"> this</span> are in use by the observation and may not be modified or removed.
</div>