<div class="row">
    <div class="col-lg-12">

        <div ng-if="vm.isEvaluatee && vm.observation.wfState < vm.enums.WfState.EVAL_DRAFT">
            <nothing-here title="'The Summative Report is not ready yet'" description="'When your evaluator sends the final version for acknowledgement it will appear here for your review.'"></nothing-here>
        </div>

        <div ng-if="vm.isAssignedEvaluator || vm.observation.wfState >= vm.enums.WfState.EVAL_READY_FOR_CONFERENCE">
            <div class="text-center">
                <h1>{{vm.reportTitle}}</h1>
            </div>
            <br/><br/>

            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <p>
                            <strong>District:</strong>
                            <span>{{vm.district}}</span>
                        </p>

                        <p>
                            <strong>School:</strong>
                            <span>{{vm.school}}</span>
                        </p>

                        <p>
                            <strong>School Year:</strong>
                            <span>{{vm.schoolYear}}</span>
                        </p>

                        <p>
                            <strong>Annual Evaluation Cycle:</strong>
                            <span ng-bind-html="vm.planTypeDisplayName">{</span>
                        </p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div>
                        <p>
                            <strong>Evaluator:</strong>
                            <span>{{vm.evaluatorDisplayName}}</span>
                        </p>

                        <p>
                            <strong>{{vm.evaluateeTermUC}}:</strong>
                            <span>{{vm.evaluatee.displayName}}</span>
                        </p>
                    </div>
                </div>
            </div>

            <br/><br/>
            <div class="row">
                <div class="col-lg-5">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Criteria Score</th>
                            <th>Student Growth Score</th>
                            <th>Summative Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <br/>

            <div ng-include="'app/reports/_instructional-summary.html'"></div>
            <div ng-include="'app/reports/_state-summary.html'"></div>
            <div ng-include="'app/reports/_available_aligned_evidence.html'"></div>

            <div class="row"  ng-if="vm.evaluatee.evalData.evaluateeFinalNotes">
                <div class="col-12-lg">
                    <div>
                        <br/><br/>
                        <div>
                            <h4>{{vm.evaluateeTermUC}} Summary</h4>
                            <hr/>
                            <div>
                                <p ng-bind-html="vm.evaluatee.evalData.evaluateeFinalNotes"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"  ng-if="vm.evaluatee.evalData.evaluatorFinalNotes">
                <div class="col-12-lg">
                    <div>
                        <br/><br/>
                        <div>
                            <h4>Evaluator Summary</h4>
                            <hr/>
                            <div>
                                <p ng-bind-html="vm.evaluatee.evalData.evaluatorFinalNotes"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
