<div ng-if="vm.summativeEvaluationEnabled">
    <!--<evaluation-state></evaluation-state>-->

    <div class="observation-tabs" affix ng-class="{affix:affixed}" ng-style="offset">
        <div>
            <div class="tabs-container tabs">
                <ul class="nav nav-tabs" id="evaluationTabs">
                    <li class="active" uib-dropdown ng-if="vm.tabsCollapsed">
                        <a uib-dropdown-toggle>
                            Sections <span class="caret"></span>
                        </a>
                        <ul uib-dropdown-menu>
                            <li ng-repeat="link in vm.evaluationTabs" ui-sref-active="active">
                                <a ui-sref="{{link.state}}">{{link.title}}</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-repeat="link in vm.evaluationTabs"
                        ui-sref-active="active"
                        ng-if="!link.disabled && !vm.tabsCollapsed">
                        <a ui-sref="{{link.state}}">{{link.title}}</a>
                    </li>
                </ul>
            </div>
            <div class="save-notice" ng-show="vm.evidenceCollection.saveNotice">
                <label>{{vm.evidenceCollection.saveNotice}}</label>
            </div>
            <div class="buttons">
                <div class="col-lg-12 no-padding">
                    <div class="pull-right">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-body">
            <div ui-view="content"></div>
        </div>
    </div>
</div>
<div ng-if="!vm.summativeEvaluationEnabled">
    <nothing-here
                  title="'Nothing here yet'"
                  description="'When your district as opened up the Summative Evaluation area this section will become active.'">
    </nothing-here>
</div>
