<h3 class="text-center">Evidence Item Creation</h3>
<div class="subhead">Items demonstrating the claim</div>
<ul class="selected-evidence">
    <li class="item-row"
        ng-repeat="evidence in vm.state.selectedEvidence | orderBy:'id'">
        <div class="index">{{$index + 1}}</div>
        <div class="summary">
            <evidence-item-summary
                read-only="true"
                evidence-collection="vm.evidenceCollection"
                evidence="evidence">
            </evidence-item-summary>
        </div>
        <div class="remove">
            <a ng-click="vm.deselect(evidence)"><i class="fa fa-times"></i></a>
        </div>
    </li>
</ul>
<div class="subhead">Relevant Rubric Alignment</div>
<div ng-if="!vm.state.evaluation.selectedText">
    <button class="btn btn-xs btn-primary"
            ng-click="vm.goToRubric()">Go to Rubric</button>
    &nbsp;&nbsp;and select the relevant rubric text
</div>
<div ng-if="vm.state.evaluation.selectedText">
    <div class="item-row">
        <div class="index">
            {{vm.enums.PerformanceLevelShortNameMapper[vm.state.evaluation.level].substr(0,1)}}
        </div>
        <div class="summary">
            <p>{{vm.state.evaluation.selectedText}}</p>
        </div>
        <div class="remove">
            <a ng-click="vm.clearRubric()"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <small>If you wish to replace the text selection, remove the current one first.</small>
</div>
<div class="text-center subhead">
    <button class="btn btn-xs btn-default btn-outline"
            ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-xs btn-primary"
            ng-disabled="!vm.state.evaluation.selectedText"
            ng-click="vm.createEvaluation()">Create</button>
</div>