<!--<back-to-top></back-to-top>-->
<help>

    <div style="padding:20px">
        <div class="row">
            <div class="col-lg-12">
                <p>Hi {{vm.user.displayName}},</p>
                <p>Welcome to Eval!</p>
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-lg-12">
                <p>Here's a quick guide to show how to create an Aligned Evidence Package.</p>
                <div style="width:400px">
                    <videogular vg-theme="vm.video_config.theme">
                        <vg-media vg-src="vm.video_config.sources"
                                  vg-tracks="vm.video_config.tracks"
                                  vg-native-controls="true">
                        </vg-media>
                        <vg-overlay-play></vg-overlay-play>
                        <vg-poster vg-url="vm.video_config.plugins.poster"></vg-poster>
                    </videogular>
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-lg-12">
                <p>Here are some other articles that may be helpful:</p>
                <p>
                    <a target="_blank" href="https://stateeval.screenstepslive.com/s/14601/m/55083/l/512798">
                        How to Create an Aligned Evidence Package
                    </a>
                </p>
            </div>
        </div>
    </div>

</help>
<div class="row">
    <div class="col-lg-12">
        <div class="color-index" ng-if="vm.evidenceCollection.data.view === 'merge'">
            <strong>Color index:</strong>&nbsp;
            <div class="div-inline btn-toolbar">
                <button class="btn btn-sm"
                        ng-class="vm.rubricUtils.colorObj.merge.evaluator">Evaluator
                </button>
                <button class="btn btn-sm"
                        ng-class="vm.rubricUtils.colorObj.merge.evaluatee">{{vm.evaluateeTerm}}
                </button>
            </div>
            <br/>
        </div>
        <div class="pull-right">
            <div ng-if="(!vm.isEvaluatee && vm.observation.selfEvalComplete) ||
                        (vm.isEvaluatee && vm.observation.evaluatorScoresShared)"
                 class="div-inline margin-top-5 margin-bottom-5 checkbox checkbox-primary">
                <input type="checkbox"
                       id="cbShowBoth"
                       ng-model="vm.showBothCB"
                       ng-click="vm.toggleIncludeEvaluateeScores()"/>
                <label for="cbShowBoth">Show {{vm.showOtherTerm}}'s Input</label>
               <span id="tooltipTarget" tooltip="{{vm.teeInputNotCompleteToolTip}}"
                     tooltip-trigger="none" tooltip-is-open="vm.showShowTeeInputPopover"></span>
                &nbsp;

            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-lg-8 evidence-collection-anim-container">

        <div ng-switch="vm.state.view"
             ng-animate-swap="vm.row || vm.node"
             class="evidence-collection-anim">
            <div ng-switch-when="node">
                <div class="row">
                    <rubric-title item="vm.node" eval-style="node"
                                  hide-scores="vm.evidenceCollection.hideNodeScoring"></rubric-title>
                </div>
                <br/>
                <div ng-if="vm.summative">
                    <h4>Statement of Performance</h4>
                       <textarea class="form-control" ng-model="vm.node.score.statementOfPerformance" rows="5"
                                 ng-change="vm.statementOfPerformanceChanged()" placeholder="Provide statement here">
                        </textarea>
                </div>
                <br/><br/>
                <div class="clearfix">
                    <div class="col lg-12">
                        <strong>Criterion View: </strong>
                        <div class="btn-group">
                            <label class="btn btn-primary btn-outline btn-xs" ng-model="vm.viewOptions.filter"
                                   uib-btn-radio="'slim'">Slim</label>
                            <label class="btn btn-primary btn-outline btn-xs" ng-model="vm.viewOptions.filter" uib-btn-radio="'normal'">Default</label>
                            <label class="btn btn-primary btn-outline btn-xs" ng-model="vm.viewOptions.filter" uib-btn-radio="'custom'">Custom</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" ng-show="vm.viewOptions.filter === 'custom'">
                    <div class="col lg-12">
                        <div class="btn-group custom-filter">

                            <label class="btn  btn-outline btn-xs {{$hover}}" ng-model="vm.filterAll"
                                   ng-mouseover="$hover='btn-hover';" ng-mouseout="$hover='';"
                                   ng-click="vm.allfilters();$hover='';"
                                   ng-class="{active: vm.filterAll}"
                                   uib-btn-checkbox>All</label>
                            <label class="btn  btn-outline btn-xs {{$hover1}}" ng-model="vm.viewOptions.rubric"
                                    ng-click="vm.togglefilter();$hover1='';"
                                    ng-class="{active: vm.viewOptions.rubric}"
                                    ng-mouseover="$hover1='btn-hover';" ng-mouseout="$hover1='';"
                                    uib-btn-checkbox>Rubric</label>
                            <label class="btn   btn-outline btn-xs {{$hover2}}"
                                    ng-model="vm.viewOptions.criticalAttributes"
                                   ng-class="{active: vm.viewOptions.criticalAttributes}"
                                   ng-show="vm.context.frameworkContext.districtConfiguration.criticalAttributesEnabled" ng-click="vm.togglefilter();$hover2='';"
                                   ng-mouseover="$hover2='btn-hover';" ng-mouseout="$hover2='';"
                                   uib-btn-checkbox>Critical Attributes</label>
                            <label class="btn  btn-outline  btn-xs {{$hover3}}"
                                ng-model="vm.viewOptions.evidence"
                                ng-click="vm.togglefilter();$hover3='';"
                               ng-class="{active: vm.viewOptions.evidence}"
                                ng-mouseover="$hover3='btn-hover';" ng-mouseout="$hover3='';"
                                uib-btn-checkbox>Available Evidence</label>
                            <label class="btn  btn-outline btn-xs {{$hover4}}"
                                ng-model="vm.viewOptions.evaluations"
                                ng-click="vm.togglefilter();$hover4='';"
                               ng-class="{active: vm.viewOptions.evaluations}"
                                ng-mouseover="$hover4='btn-hover';" ng-mouseout="$hover4='';"
                                uib-btn-checkbox>Alignment Packages</label>
                        </div>
                    </div>
                    <br/>
                </div>

                    <div ng-repeat="row in vm.node.rows"  ng-if="!row.hidden" class="clearfix">
                        <br/>
                        <rubric-title item="row" eval-style="row"></rubric-title>
                        <br/>
                        <available-evidence evidence-collection="vm.evidenceCollection" row="row"
                                            ng-show="vm.viewOptions.filter=== 'custom' &&
                                                     vm.viewOptions.evidence"></available-evidence>
                        <rubric-row row="row" ng-hide="vm.viewOptions.filter === 'slim'"></rubric-row>
                        <br/>
                    </div>
            </div>
            <div ng-switch-when="row">
                <rubric-title item="vm.row" eval-style="row"></rubric-title>
                <br/>
                <available-evidence evidence-collection="vm.evidenceCollection" row="vm.row"></available-evidence>
                <br/>
                <br/>
                <rubric-row id="rubric-row" row="vm.row" slider="vm.slider"></rubric-row>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div style="position:relative">
            <div class="rubric-helper-animate"
                 ng-if="!vm.state.selectedEvidence.length && !vm.state.evaluation.selectedText">
                <rubric-helper></rubric-helper>
            </div>
            <div class="evaluation-builder-animate"
                 ng-if="vm.state.selectedEvidence.length || vm.state.evaluation.selectedText"
                 ng-style="{ top: vm.state.evaluation.basicPosition + 'px' }">
                <!--Using ng-include here to just split things up into smaller chunks-->
                <div ng-include="'app/core/evidence-collection/_evaluation-builder.html'"
                     class="evaluation-builder"></div>
            </div>
            <div class="success-message"
                 ng-style="{ top: vm.successPosition + 'px' }"
                 ng-if="vm.evidenceCreated" ng-class="{fadeout : vm.fadeout}">
                <h2>Success</h2>
                <p>All created Evidence are added at the bottom of the Rubric.</p>
                <div class="text-center">
                    <button class="btn btn-primary btn-xs"
                            ng-click="vm.evidenceCreated = false">Ok
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
