<h3><strong>User Orientations</strong></h3>
<table class="table">
    <thead>
    <tr>
        <th>Year</th>
        <th>District</th>
        <th>School</th>
        <th>Role</th>
        <th>Work Area</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="orientation in vm.userOrientations | orderBy: 'schoolYear'">
        <td>{{orientation.schoolYear}}</td>
        <td>{{orientation.districtName + ': ' + orientation.districtCode}}</td>
        <td>{{orientation.schoolName + ': ' + orientation.schoolCode}}</td>
        <td>{{orientation.roleName}}</td>
        <td>{{vm.workAreaService[orientation.workAreaTag].title}}</td>
    </tr>
    </tbody>
</table>