<nav class="navbar-default navbar-static-side" role="navigation">

    <div class="sidebar-collapse">
        <ul class="nav" side-navigation id="side-menu">

            <!--HEADER-->
            <li class="left-navbar-logo">
                <img alt="image" src="{{vm.evalLogo}}"/>
            </li>
            <!--PICTURE AND ROLES-->
            <li class="nav-section-profile">
                <div class="nav-summary">
                    <img alt="image" class="img-circle"
                         src="{{vm.userInfo.profileImageUrl || 'images/blank-profile-48x48.png'}}"/>
                    <span class="block m-t-xs">
                        <strong class="font-bold">{{vm.userInfo.displayName}}</strong>
                    </span>
                </div>
            </li>
            <!--ROLE STRING AND OPTIONS BAR-->
            <li class="nav-section-orientation">
                <div class="nav-summary">
                    <a id="expandOptionsAnchor" ng-click="vm.showOrientation = !vm.showOrientation">
                        <span class="clear">
                            <span class="text-muted block">
                                {{vm.rolesDisplayString}}
                                <b class="caret"></b></span>
                        </span>
                    </a>
                </div>
                <div class="" ng-show="vm.showOrientation">
                    <user-orientation config="vm.config"></user-orientation>
                </div>
            </li>
            <!--EVALUATEES DROPDOWN-->
            <li class="nav-section-evaluating" ng-if="!vm.impersonator">
                <div class="nav-summary">
                    <div ng-if="vm.context.evaluatees"
                         class="nav-evaluating left-nav-eval-dropdown">
                        <span>Evaluating</span>
                        <br/>
                        <select class="evaluatee-dropdown" ng-model="vm.context.evaluatee"
                                ng-change="vm.changeEvaluatee()"
                                ng-options="evaluatee.displayName for evaluatee in vm.context.evaluatees track by evaluatee.id">
                            <option value="">{{'Select a ' + vm.evaluateeTerm}}</option>
                        </select>
                    </div>
                </div>
            </li>
            <!--FOR IMPERSONATORS-->
            <li class="nav-section-impersonate" ng-if="vm.impersonator">
                <div class="row nav-summary">
                    <div class="col-lg-12">
                        <span>{{vm.impersonationSchool}}</span>
                    </div>
                </div>
                <div class="nav-evaluating left-nav-eval-dropdown">
                    <span>Viewing as:</span>
                    <select class="evaluatee-dropdown" ng-model="vm.context.impersonateConfig.impersonatee"
                            ng-change="vm.changeImpersonatee()"
                            ng-options="impersonatee.displayName for impersonatee in vm.context.impersonateConfig.impersonateeList track by impersonatee.id">
                    </select>
                    <br/>
                    <span>Evaluating</span>
                    <select class="evaluatee-dropdown" ng-model="vm.context.evaluatee"
                            ng-change="vm.changeEvaluatee()"
                            ng-options="evaluatee.displayName for evaluatee in vm.context.evaluatees track by evaluatee.id">
                        <option value="">{{'Select a ' + vm.evaluateeTerm}}</option>
                    </select>
                </div>
                <div class="row">
                    <div class="text-right">
                        <u>
                            <a ng-click="vm.initWorkArea('NMP')">
                                Exit View
                            </a> |
                            <a ng-click="vm.editOptions()">
                                Edit Options
                            </a>
                        </u>
                    </div>

                </div>
            </li>
            <links-menu></links-menu>
        </ul>

    </div>

</nav>