<div ng-repeat="order in vm.order" ng-switch="order">

    <span class="text-muted block">
        <small ng-switch-default>
            {{(order === 'schoolYear') ? ((vm.displayContext.orientation.schoolYear - 1)) + ' - ' : ''}}
            {{vm.displayContext.orientation[order]}}
        </small>
        <small ng-switch-when="schoolYear">{{vm.displayContext.orientation.schoolYear - 1 + ' - ' +
            vm.displayContext.orientation.schoolYear}}
        </small>
        <small ng-switch-when="workAreaTag">{{vm.workAreaService[vm.displayContext.orientation.workAreaTag].title}}
        </small>
    </span>
</div>
<!--WHEN NOT IMPERSONATING-->
<div style="overflow: visible;">
    <div class="text-right" ng-if="!vm.context.impersonateConfig">
        <a ng-click="vm.toggle('options-button')" class="change-btn">
            Options
        </a>
    </div>
    <div class="popover-wrapper" ng-if="vm.showWorkAreaPopover || vm.showImpersonationPopover">
        <div class="overlay" ng-click="vm.toggle('popover')">

        </div>
        <div class="popover right" ng-if="vm.showWorkAreaPopover">
            <div class="arrow"></div>
            <div class="popover-title">
                <strong>
                    Options
                </strong>
            </div>
            <div class="popover-content">
                <div class="form-horizontal">
                    <div class="form-group"
                         ng-repeat="order in vm.order">
                        <label class="col-sm-4 control-label">{{vm.displayNames[$index]}}</label>
                        <div class="col-sm-8">
                            <p class="form-control-static text-muted"
                               ng-show="vm.lengths[order] === 1"
                               ng-switch="order">
                                <span ng-switch-default>{{vm.context.orientation[order]}}</span>
                                <span ng-switch-when="schoolName">{{vm.context.orientation[order] === '' ? 'District-wide' : vm.context.orientation[order]}}</span>
                                <span ng-switch-when="workAreaTag">{{vm.workAreaService[vm.context.orientation[order]].title}}</span>
                            </p>

                            <div class="dropdown" uib-dropdown ng-show="vm.lengths[order] > 1">
                                <button class="btn btn-sm btn-white"
                                        type="button"
                                        uib-dropdown-toggle
                                        aria-haspopup="true"
                                        aria-expanded="true"
                                        ng-switch="order">
                                    <span ng-switch-default>{{vm.context.navOptions[order]}}</span>
                                    <span ng-switch-when="schoolYear">{{((vm.context.navOptions.schoolYear | number) - 1) + ' - ' +vm.context.navOptions[order]}}</span>
                                    <span ng-switch-when="schoolName">{{vm.context.navOptions.schoolName === ''?  'District-wide' : vm.context.navOptions.schoolName}}</span>
                                    <span ng-switch-when="workAreaTag">{{vm.workAreaService[vm.context.navOptions.workAreaTag].title}}</span>

                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu>
                                    <li ng-repeat="(key, value) in vm[order]"
                                        ng-class="{active: key === vm.context.navOptions[order]}">
                                        <a ng-click="vm.change(vm[order], key, $parent.$index)"
                                           ng-switch="order">
                                            <span ng-switch-default>{{key}}</span>
                                            <span
                                                ng-switch-when="schoolYear">{{((key | number) - 1) + ' - '}}{{key}}</span>
                                            <span ng-switch-when="schoolName">{{(key === '') ? 'District-wide': key}}</span>
                                            <span ng-switch-when="workAreaTag">{{vm.workAreaService[key].title}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-show="vm.workAreaService[vm.context.navOptions.workAreaTag].isEvaluatorWorkArea()">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <input type="checkbox"
                                       ng-model="vm.context.assignedOnly"
                                       id="user-orientation-assigned-only">
                                <label for="user-orientation-assigned-only"
                                       class="text-muted">{{vm.assignedOnlyLabel}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-offset-4 col-sm-4">
                        <button type="button"
                                class="btn btn-default btn-outline btn-block btn-sm"
                                ng-click="vm.closeWorkAreaPopover()">Close
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button"
                                class="btn btn-primary btn-block btn-sm"
                                ng-click="vm.changeWorkArea(vm.context.navOptions.workAreaTag)">
                            Done
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="popover right top20" ng-if="vm.showImpersonationPopover">
            <div class="arrow"></div>
            <div class="popover-title">
                <strong>
                    Select Evaluator
                </strong>
            </div>
            <div class="popover-content">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Evaluator Type</label>
                        <div class="col-sm-8">
                            <select ng-model="vm.imp.workAreaTag" ng-change="vm.defaultSchool()" class="form-control">
                                <option value="PR_TR" ng-if="vm.imp['PR_TR'].configured">
                                    Principal Evaluating Teachers
                                </option>
                                <option value="PR_PR" ng-if="vm.imp['PR_PR'].configured">
                                    Head Principal Evaluating Principals
                                </option>
                                <option value="DTE" ng-if="vm.imp['DTE'].configured">
                                    District-wide Teacher Evaluator
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-if="vm.imp.workAreaTag !== 'DTE'">
                        <label class="col-sm-4 control-label">School</label>
                        <div class="col-sm-8">
                            <select ng-model="vm.imp.school" class="form-control"
                                    ng-options=" school.schoolName for school in
                                     vm.imp[vm.imp.workAreaTag].schools">
                                <option value="">Select a School</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">
                            {{vm.utils.mapRoleNameToFriendlyName(vm.roleMap[vm.imp.workAreaTag])}}
                        </label>
                        <div class="col-sm-8">
                            <select ng-model="vm.imp.impersonatee"
                                    ng-options="impersonatee.displayName for impersonatee in vm.imp.school.impersonateeList"
                                    class="form-control">
                                <option value="">Select an Evaluator</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-offset-4 col-sm-4">
                            <button type="button" class="btn btn-default" ng-click="vm.closeImpersonationPopover()">Close
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary" ng-click="vm.impersonate(vm.imp.impersonatee, vm.imp.school.impersonateeList, vm.imp.school, vm.imp.workAreaTag)">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
