<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>View Resource</h2>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <strong>Resource Title</strong>&nbsp;&nbsp;
                        {{vm.resource.title}}
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <strong>Date:</strong>&nbsp;&nbsp;
                        {{vm.resource.creationDateTime | date }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <strong>Source:</strong>&nbsp;&nbsp;
                        {{vm.resource.definedBy}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                       <div ng-if="vm.resource.description">
                           <br/>
                           <p><strong>Description:</strong></p>
                            <p ng-bind-html="vm.resource.description"></p>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <resource-builder-alignment read-only="true" resource="vm.resource"></resource-builder-alignment>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <p><strong>Attached Item(s):</strong></p>
                        <div ng-repeat="item in vm.resource.libItems">
                            <div class="well">
                                <div>
                                    {{vm.itemTypeToString(item.itemType)}}: <a ng-click="vm.viewItem(item)">{{vm.itemDisplayName(item)}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <button class="btn btn-primary" ng-click="vm.goBack()">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
