
<div class="well">
<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <p>You may add multiple items, but keep in mind that if you align the Resource to the Framework, the items should be related.</p>
                <button class="btn btn-xs btn-primary" ng-click="vm.createItem(vm.enums.ArtifactLibItemType.FILE)">Upload File</button>
                <button class="btn btn-xs btn-primary" ng-click="vm.createItem(vm.enums.ArtifactLibItemType.WEB)">Link to Website URL</button>
            </div>
        </div>
    </div>
</div>
<br/>
<div ng-show="vm.resource.libItems.length>0">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <tbody>
                <tr ng-repeat="item in vm.resource.libItems">
                    <td>{{vm.utils.mapLibItemTypeToString(item.itemType)}}</td>
                    <td><a ng-click="vm.viewItem(item)">{{vm.itemDisplayName(item)}}</a></td>
                    <td></td>
                    <td align="right">
                        <a ng-click="vm.editItem(item)"><span class="fa fa-pencil"></span></a>
                        <a ng-click="vm.removeItem(item)"  confirm="Are you sure you want to remove this item?">
                            <span class="glyphicon glyphicon-remove-circle color-red"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

</div>
