<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Resources</h2>
                        <p>List of Resources for {{vm.evaluateeTerm}} Evaluations</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="pull-right">
                            <button ng-if="vm.isAdmin" class="btn btn-primary" ng-click="vm.addNewResource()">Add Resource</button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row" ng-if="vm.resources.length===0">
                    <div class="col-lg-12">
                        <nothing-here  ng-if="vm.isAdmin"
                                       icon="'fa fa-exclamation-circle'"
                                       title="'Nothing here yet.'"
                                       description="'Click the Add Resource button to create a new Resource.'"></nothing-here>
                        <nothing-here  ng-if="!vm.isAdmin"
                                       icon="'fa fa-exclamation-circle'"
                                       title="'No resources yet.'"
                                       description="'Resources supplied by your school or district will appear here.'"></nothing-here>
                    </div>
                </div>
                <div class="row" ng-if="vm.resources.length>0">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                            <th>Source</th>
                            <th width="30%">Title</th>
                            <th>Rubric Alignment</th>
                            <th>Action</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="resource in vm.resources">
                                <td>{{resource.definedBy}}</td>
                                <td>{{resource.title}}</td>
                                <td><alignment-string object="resource"></alignment-string></td>
                                <td>
                                    <button ng-if="resource.editable" class="btn btn-primary btn-xs" ng-click="vm.editResource(resource.id)">Edit</button>
                                    <button ng-if="!resource.editable" class="btn btn-primary btn-xs" ng-click="vm.viewResource(resource.id)">View</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
