<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Edit Resource</h2>
                        <div>Create/Edit this Resource</div>
                        <br/>
                        <ng-form name="vm.builderForm" novalidate>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group" ng-class="{ 'has-error' : vm.builderForm.resourceTitle.$invalid && !vm.builderForm.resourceTitle.$pristine }">
                                        <label>Title</label>
                                        <input type="text" name="resourceTitle" maxlength="50" class="form-control" ng-model="vm.resource.title"
                                               ng-change="vm.autoSave()"  placeholder="Enter Title" required>
                                        <div ng-messages="vm.builderForm.resourceTitle.$error">
                                            <div ng-messages-include="app/core/views/validation-messages.html"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div id="step1">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>Related Files, Websites, or Professional Practice Notes</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="">
                                            <div ng-show="vm.resource.libItems.length>0">
                                                <div ng-repeat="item in vm.resource.libItems"
                                                     class="lib-item-desc">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            {{vm.utils.mapLibItemTypeToString(item.itemType)}}
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a ng-click="vm.viewItem(item)">{{vm.itemDisplayName(item)}}</a>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="pull-right">
                                                                <button ng-click="vm.editItem(item)"
                                                                        ng-disabled="vm.itemToEdit"
                                                                        ng-class="{'color-darkgrey': vm.itemToEdit}"
                                                                        title="Edit"
                                                                        class="btn-transparent">
                                                                    <span class="fa fa-pencil fa-md color-green"></span>
                                                                </button>
                                                                <button ng-click="vm.removeItem(item)"
                                                                        ng-disabled="vm.itemToEdit"
                                                                        ng-class="{'color-darkgrey': vm.itemToEdit}"
                                                                        title="Edit"
                                                                        confirm="Are you sure you want to remove this item?"
                                                                        class="btn-transparent">
                                                                    <span class="fa fa-times-circle fa-md color-red"></span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-if="vm.resource.libItems.length===0 && !vm.itemToEdit">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="add-artifact-area">
                                                            <div>
                                                                <img src="images/add-first-artifact.png"/>
                                                            </div>
                                                            <div>
                                                                Add you first Resource
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div  ng-if="vm.itemToEdit" class="edit-artifact-area">
                                                <artifact-builder-edit-lib-item
                                                    ng-show="vm.itemToEdit"
                                                    item="vm.itemToEdit"
                                                    done-fcn="vm.doneItemEdit"
                                                    cancel-fcn="vm.cancelItemEdit" >
                                                </artifact-builder-edit-lib-item>
                                            </div>

                                            <div class="">
                                                <button class="new-lib-item-btn"
                                                        ng-disabled="vm.itemToEdit"
                                                        ng-click="vm.createItem(vm.enums.ArtifactLibItemType.FILE)">
                                             <span class="glyphicon glyphicon-plus-sign"
                                                   ng-class="{'color-darkgrey': false, 'color-green': !vm.itemToEdit}"></span>&nbsp;
                                                    <span>Upload File</span></button>
                                                <button class="new-lib-item-btn"
                                                        ng-disabled="vm.itemToEdit"
                                                        ng-click="vm.createItem(vm.enums.ArtifactLibItemType.WEB)">
                                             <span class="glyphicon glyphicon-plus-sign"
                                                   ng-class="{'color-darkgrey': false, 'color-green': !vm.itemToEdit}"></span>&nbsp;
                                                    <span>Link to Website URL</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/><br/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <resource-builder-alignment resource="vm.resource"></resource-builder-alignment>
                                </div>
                            </div>

                            <br/><br/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Provide a description of the resource: (optional)</label>
                                          <textarea class="form-control" ng-model="vm.resource.description" rows="5"
                                                    ng-change="vm.autoSave()" placeholder="Provide description here">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="eval-footer">
    <div class="row">
        <div class="col-sm-12 text-center button-row">
            <a class="pull-left" confirm="Are you sure you want to delete this resource?" ng-click="vm.deleteResource()">
                Delete
            </a>
            <button type="submit" class="btn btn-primary btn" ng-click="vm.goBack(vm.resource)">
                Close
            </button>
            <div class="pull-right">
                <label>{{vm.saveNotice}}</label>
            </div>
        </div>
    </div>
</div>



