<div class="modal-dialog">
    <div class="modal-body flatmodal">
        <div class="form-group">
            <h2 class="modal-title" ><strong>Delete Observation</strong></h2>
        </div>

        <div class="form-group">
            <p>
                Deleting an observation is an irreversible step. All data associated with the observation will be permaently remove.
                Please ensure that this is a step you want to take before continuing.
            </p>
       </div>

        <div class="block-center text-center">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-danger" ng-click="ok()" >Yes, delete this observation</button>
        </div>
    </div>
</div>