<div class="modal-dialog">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <h2 class="modal-title" ><strong>Observation Unlock Request</strong></h2>
                </div>

                <div class="form-group">
                    <p class="font-size14"></p>
                </div>

                <div class="block-center text-center">
                    <button type="button" class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
                    <button type="button" class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
