<div read-only-area read-only="vm.isObservationReadOnly">
    <div>
        <div>
            <div>
                <h2>Observation Setup</h2>
                <div>General information about the Observation</div>
            </div>

            <div class="row padTop30" ng-if="vm.isEvaluatee && !vm.observation.selfEvalShared && vm.observation.wfState<enums.WfState.OBS_LOCKED_TEE_REVIEW">
                <div class="col-xs-12">
                    <div class="alert alert-info">
                        <i class="fa fa-2x fa-exclamation-circle"></i>
                        <span class="marginLeft10 font-size14 alert-text">
                           The Observation Notes and Evidence have not been shared yet, only initial details are available.
                        </span>
                    </div>
                </div>
            </div>
            <br/>
            <div style="margin-top: 30px;">
                <form novalidate>
                    <div class="row">
                        <div class="col-lg-3 bdr1">
                            <observation-details observation="vm.observation"></observation-details>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="form-group col-sm-8">
                                    <label>Observation Title:</label>
                                    <input class="form-control"
                                           ng-hide="vm.isObservationReadOnly"
                                           maxlength="30"
                                           type="text"
                                           ng-model="vm.title"
                                           ng-change="vm.titleChanged()"
                                           ng-focus="vm.titleFocused()"
                                           ng-blur="vm.titleBlurred()"
                                           placeholder="Enter Title"
                                           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }" />
                                    <p ng-show="vm.isObservationReadOnly">{{vm.observation.title}}</p>
                                </div>
                                <div class="form-group col-sm-4"
                                     ng-show="!vm.isObservationReadOnly &&
                                     (!vm.observation.preConfIsActive || !vm.observation.postConfIsActive) &&
                                      !vm.isEvaluatee">
                                    <label>
                                        Add Components:
                                    </label>
                                    <div class="btn-toolbar">
                                        <button id="add-pre-btn"
                                                ng-if="!vm.observation.preConfIsActive"
                                                class="btn btn-primary btn-xs hide-when-read-only" n
                                                ng-click="vm.addPreConf()">Add Pre-Conf</button>
                                        <button id="add-post-btn"
                                                ng-if="!vm.observation.postConfIsActive"
                                                class="btn btn-primary btn-xs hide-when-read-only"
                                                ng-click="vm.addPostConf()">Add Post-Conf</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4" ng-show="vm.observation.preConfIsActive">
                                    <div class="form-group">
                                        <label>Pre-Conference Date:</label>
                                        <div class="input-group" ng-hide="vm.isObservationReadOnly">
                                            <input type="text"
                                                   class="form-control"
                                                   uib-datepicker-popup
                                                   ng-pattern="vm.dateRegex"
                                                   ng-model="vm.observation.preConfStartDate"
                                                   ng-change="vm.saveObservation()"
                                                   ng-focus="preconfDate.opened = true"
                                                   show-weeks="false"
                                                   show-button-bar="false"
                                                   is-open="preconfDate.opened"
                                            />
                                            <span class="input-group-addon" ng-click="preconfDate.opened = !preconfDate.opened">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <p ng-show="vm.isObservationReadOnly">{{ (vm.observation.preConfStartDate || 'N/A') | date:'M/d/y' }}</p>
                                    </div>
                                    <label>Start Time:</label>

                                    <timepicker-pop ng-hide="vm.isObservationReadOnly" input-time="vm.observation.preConfStartTime" show-meridian="true" class="input-group" changed="vm.saveObservation()" readonly="vm.isObservationReadOnly"></timepicker-pop>
                                    <p ng-show="vm.isObservationReadOnly">{{ (vm.observation.preConfStartTime || 'N/A') | date:'shortTime' }}</p>
                                </div>

                                <div class="col-sm-4">
                                    <div>
                                        <div class="form-group">
                                            <label>Observation Date:</label>
                                            <div class="input-group" ng-hide="vm.isObservationReadOnly">
                                                <input type="text"
                                                       class="form-control"
                                                       uib-datepicker-popup
                                                       ng-pattern="vm.dateRegex"
                                                       ng-model="vm.observation.observeStartDate"
                                                       ng-change="vm.saveObservation()"
                                                       ng-focus="obsDate.opened = true"
                                                       ng-disabled="vm.isObservationReadOnly"
                                                       show-weeks="false"
                                                       show-button-bar="false"
                                                       is-open="obsDate.opened"
                                                />
                                                <span class="input-group-addon" ng-click="obsDate.opened = !obsDate.opened">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <p ng-show="vm.isObservationReadOnly">{{ (vm.observation.observeStartDate || 'N/A') | date:'M/d/y' }}</p>
                                        </div>

                                        <div class="col-xs-6 no-padding">
                                            <label>Start Time:</label>
                                            <div class="input-group" ng-hide="vm.isObservationReadOnly">
                                                <timepicker-pop
                                                    input-time="vm.observation.observeStartTime"
                                                    show-meridian="true"
                                                    class="input-group"
                                                    changed="vm.saveObservation()"
                                                    readonly="vm.isObservationReadOnly"></timepicker-pop>
                                            </div>
                                            <p ng-show="vm.isObservationReadOnly">{{ (vm.observation.observeStartTime || 'N/A') | date:'shortTime' }}</p>
                                        </div>
                                        <div class="col-xs-6 duration">
                                            <label>Duration:</label>
                                            <div ng-hide="vm.isObservationReadOnly">
                                                <input class="form-control"
                                                    ng-model="vm.observation.observeDuration"
                                                    ng-change="vm.saveObservation()"
                                                    ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                                                    type="text"
                                                    ng-readonly="vm.isObservationReadOnly"
                                                    placeholder="" />
                                                <span>Min.</span>
                                            </div>
                                            <p ng-show="vm.isObservationReadOnly">{{ vm.observation.observeDuration ? vm.observation.observeDuration + ' min' : '' }}</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-4" ng-show="vm.observation.postConfIsActive">
                                    <div class="form-group">
                                        <label>Post-Conference Date:</label>
                                        <div class="input-group" ng-hide="vm.isObservationReadOnly">
                                            <input type="text"
                                                   class="form-control"
                                                   uib-datepicker-popup
                                                   ng-pattern="vm.dateRegex"
                                                   ng-model="vm.observation.postConfStartDate"
                                                   ng-change="vm.saveObservation()"
                                                   ng-focus="postconfDate.opened = true"
                                                   ng-disabled="vm.isObservationReadOnly"
                                                   show-weeks="false"
                                                   show-button-bar="false"
                                                   is-open="postconfDate.opened" />
                                            <span class="input-group-addon"
                                                ng-click="postconfDate.opened = !postconfDate.opened">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <p ng-show="vm.isObservationReadOnly">{{ (vm.observation.postConfStartDate || 'N/A') | date:'M/d/y' }}</p>
                                    </div>

                                    <label>Start Time:</label>
                                    <div class="input-group" ng-hide="vm.isObservationReadOnly">
                                        <timepicker-pop input-time="vm.observation.postConfStartTime" show-meridian="true" class="input-group" changed="vm.saveObservation()" readonly="vm.isObservationReadOnly">
                                        </timepicker-pop>
                                    </div>
                                    <p ng-show="vm.isObservationReadOnly">{{ (vm.observation.postConfStartTime || 'N/A') | date:'shortTime' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-if="vm.observation.focused">
        <br/>
        <observation-alignment observation="vm.observation" evidence-collection="vm.evidenceCollection"></observation-alignment>
    </div>

    <div class="row" ng-if="vm.isAssignedEvaluator && !vm.isObservationReadOnly">
        <div class="col-lg-12">
            <br/><br/>
            <button class="btn btn-default btn-outline" ng-click="vm.deleteObservation()">Delete Observation</button>
        </div>
    </div>
</div>
