<span style="background-color: #e07bc2;">When I entered your classroom, several students were already at the table, working on problems from the board on their whiteboards. As other students came in, they went right to a seat and began working.</span>
<br/> <br/> <span style="background-color: #ffe680;">As students worked,you were watching over them, checking to see if their answers were correct. You told one student he had copied the problem incorrectly from the board. He fixed it and continued working.&nbsp;</span>
<br/> <br/> <span
    style="background-color: #e07bc2;">"These match, don't they? Look how good you've got at estimating!"</span><br/>
<br/> <span
    style="background-color: #e07bc2;">"Jerry, you lined up your numbers correctly today. Good job!"<br/> </span> <br/>
<span style="background-color: #e07bc2;">A timer went off. You asked students to cap their pens, and you directed their attention to the board so you could go over the problem together.</span>
<br/> <br/> <span style="background-color: #f5f32c;">Jerry was having trouble reading 4,079. You helped him figure it out and had him repeat it again correctly.<br/> </span>
<br/> <span style="background-color: #f5f32c;">You were asking students to add the actual numbers and also do an estimation to see if their answer is close.<br/> </span>
<br/> <span style="background-color: #ffe680;">You asked Alina why she chose to estimate 295 to 300. She said, "Because it's only 5 away from 300." You congratulated her, and told the group that this is the kind of reason you are looking for.</span>
<br/> <br/> <span style="background-color: #f5f32c;">You demonstrated for the group how to look for 10's as they add multiple numbers together.&nbsp;</span>
<br/> <br/> <span style="background-color: #e07bc2;">You asked each student if they had the answer correct. If they did not, you asked what they think happened.</span>
<br/> <br/> <span style="background-color: #ffe680;">Next, you wrote 63-28 and 68-23 on the board. You told the group to look at them and decide which one needs regrouping. You told them to only do the problem that involves regrouping, and then to flip it over and do the reverse to check their answers.<br/> </span>
<br/> <span style="background-color: #ffe680;">Olivia was doing the wrong problem. You asked her if she understood your directions. She said oops, that she was to do the problem that involves regrouping. You asked her if she knows what "regrouping" means. She explained it, and you told her to go ahead and do the problem.</span>
<br/> <br/> <span style="background-color: #ffe680;">You checked with all the other students at the table. <span
    style="background-color: #e07bc2;">You complimented their work and showcased Olivia's board.</span></span><span
    style="background-color: #e07bc2;"><br/> </span> <br/> <span style="background-color: #e07bc2;">You asked students to turn in their boards and get pencils out.</span>
<br/> <br/> <span style="background-color: #ffe680;">"Here's what you have proved to me today - that you CAN regroup." You explained that the work you are giving them is for them to show you that they can. You told them that the paper has 9 problems on it, but that you only want them to do the problems that require regrouping. You gave them 2 different strategies for going through the problems - they can either look at each problem and cross out the ones that don't need regrouping, or that they can just look at each problem as they go. You said that if they don't look hard enough at the problems, they will end up doing more work than you want them to.</span>
<br/> <br/> <span style="background-color: #ffe680;">Students began working right away. You intervened with Jerry; he had crossed out problems with no regrouping, but did not regroup on the problem he was doing. You had a discussion with him about this.&nbsp;</span>
<br/> <br/> <span style="background-color: #ffe680;">You reminded the group that they could still use the strategy of flipping the problem over and adding, to check their work.<br/> </span>
<br/> <span style="background-color: #ffe680;">You noticed that Jerry had originally crossed a problem out, but that he had gone back and done the problem. You told him he was correct in going back, but asked him how he knew he should do that one. (He had figured out that it involved regrouping.)<br/> </span>
<br/> <span style="background-color: #e07bc2;">You continued checking in with each group member, giving feedback and having them challenge themselves if they were finished.</span>
<br/> <br/> <span style="background-color: #e07bc2;">"Nicely done!"&nbsp;</span><br/> <br/> <span
    style="background-color: #ffe680;">Alina was working on a problem. She had corrected a previous mistake. You reminded her that when she corrects a mistake, she needs to go back and check the whole problem.</span>&nbsp;
<br/> <br/> <span style="background-color: #f5f32c;">"Is 8 + &nbsp;2 zero, or is it ten?" You talked Jerry through the problem.<br/> </span>
<br/> <span style="background-color: #e07bc2;">"How does it feel to make a mistake?" (good) You talked about how you saw Jerry fix a mistake, and Alina fix a mistake WITHOUT you telling them. You told them you were proud of them.<br/> </span>
<br/> <span style="background-color: #f5f32c;">You gave them a sneak preview of what's coming next week.</span><br/>
<br/> <span style="background-color: #e07bc2;">You had each student self-assess how they did in group today. Discussion about Ethan giving himself a 3; Jermaine said Ethan should get a 4. Others agreed. All students had done better today than yesterday, and you complimented them about this.</span>
<br/>
<br/>
