<categorized-selector edit-header="<b>Align Artifact to Rubric:</b>"
                      view-header="<b>Aligned Rubrics</b>"
                      read-only="vm.readOnly"
                      categories="vm.categories"
                      state-framework-only="vm.fromSG"
                      changed="vm.changed($selectedRows)"
                      ng-if="vm.loaded"></categorized-selector>