<div class="row">
    <div class="col-lg-12 header-info">
        <div class="pull-right" ng-if="!vm.report">
            <button class="btn btn-outline btn-default btn-xs" ng-click="vm.toggleExpand($event)">{{vm.expand?"Collapse":"Expand"}}</button>
        </div>
        <div class="pull-left">
            <label>Title:</label> <span>{{vm.artifact.title}}</span>
        </div>
        <div class="pull-left">
            <label>Date:</label> <span>{{vm.artifact.creationDateTime | date }}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="pull-left">
            <label>Source:</label> <span> {{vm.artifact.createdByDisplayName}} ( {{ vm.source }} )</span>
        </div>
    </div>
</div>
<div ng-show="vm.expand || vm.report" class="row">
    <div  class="col-lg-12">
        <table>
            <tr ng-repeat="item in vm.artifact.libItems">
                <td>
                    {{ item.itemType == vm.enums.ArtifactLibItemType.PROFPRACTICE ? 'Professional Practice' : vm.itemTypeToString(item.itemType) }}
                </td>
                <td>
                    <div ng-if="item.itemType == vm.enums.ArtifactLibItemType.PROFPRACTICE && item.title">{{item.title}}</div>
                    <div ng-if="item.itemType == vm.enums.ArtifactLibItemType.PROFPRACTICE"
                       ng-bind-html="item.profPracticeNotes"></div>
                    <a ng-if="item.itemType != vm.enums.ArtifactLibItemType.PROFPRACTICE"
                       ng-click="vm.viewItem(item)">{{vm.itemDisplayName(item)}}</a>
                </td>
            </tr>
        </table>
        <div ng-if="vm.artifact.evidence">
            <label>Alignment reasoning:</label>
            <div ng-bind-html="vm.artifact.evidence"></div>
        </div>
    </div>
</div>
