<div id="changeFocusDiv"></div>
<div class="row">
    <div ng-class="{'col-lg-8': !vm.fromSG, 'col-lg-12':vm.fromSG}">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <page-header title="'Edit Artifact'">
                    <div ng-if="vm.fromSG">
                        <br/>
                        <eval-alert>
                            Note: This artifact will also be visible from you Artifacts section. If you want to expand where this artifact is used you can do so there.
                        </eval-alert>
                        <br/>
                    </div>
                </page-header>
                <br/>
                <ng-form name="vm.builderForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : vm.builderForm.artifactTitle.$invalid && !vm.builderForm.artifactTitle.$pristine }">
                        <label>Artifact Title</label>
                        <input type="text" name="artifactTitle" class="form-control" ng-model="vm.title" maxlength="30" ng-change="vm.titleChanged()"
                        ng-focus="vm.titleFocused()" ng-blur="vm.titleBlurred()" placeholder="Enter Title" required>
                        <div ng-messages="vm.builderForm.artifactTitle.$error">
                            <div ng-messages-include="app/core/views/validation-messages.html"></div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <label>Artifact</label>
                    <div ng-show="vm.artifact.libItems.length>0">
                        <div ng-repeat="item in vm.artifact.libItems" class="lib-item-desc">
                            <div class="row">
                                <div class="col-md-3">
                                    {{vm.utils.mapLibItemTypeToString(item.itemType)}}
                                </div>
                                <div class="col-md-4">
                                    <a ng-click="vm.viewItem(item)">{{vm.itemDisplayName(item)}}</a>
                                </div>
                                <div class="col-md-5">
                                    <div class="pull-right">
                                        <button ng-click="vm.editItem(item)" ng-disabled="vm.itemToEdit" ng-class="{'color-darkgrey': vm.itemToEdit}" title="Edit"
                                        class="btn-transparent">
                                            <span class="fa fa-pencil fa-md color-green"></span>
                                        </button>
                                        <button ng-if="vm.artifact.libItems.length>1" ng-click="vm.removeItem(item)" ng-disabled="vm.itemToEdit" ng-class="{'color-darkgrey': vm.itemToEdit}"
                                        title="Delete" confirm="Are you sure you want to remove this item?" class="btn-transparent">
                                            <span class="fa fa-times-circle fa-md color-red"></span>
                                        </button>
                                        <button ng-if="vm.artifact.libItems.length===1" uib-tooltip="There must be at least one item." class="btn-transparent">
                                            <span class="fa fa-times-circle fa-md color-darkgrey"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="vm.artifact.libItems.length===0 && !vm.itemToEdit">
                        <div class="add-new-area">No artifacts added yet. Click one of the buttons below to add your first Artifact.
                        </div>
                        <br/>
                    </div>

                    <div ng-if="vm.itemToEdit" class="edit-artifact-area">
                        <artifact-builder-edit-lib-item ng-show="vm.itemToEdit" item="vm.itemToEdit" done-fcn="vm.doneItemEdit" cancel-fcn="vm.cancelItemEdit">
                        </artifact-builder-edit-lib-item>
                    </div>
                    <p class="text-muted" ng-if="vm.artifact.libItems.length===1">
                        Note: there must be at least one artifact.
                    </p>
                    <br/>
                    <div>
                        <button class="btn btn-primary btn-xs" ng-disabled="vm.itemToEdit" ng-click="vm.createItem(vm.enums.ArtifactLibItemType.FILE)">
                            Add File</button>
                        <button class="btn btn-primary btn-xs" ng-disabled="vm.itemToEdit" ng-click="vm.createItem(vm.enums.ArtifactLibItemType.WEB)">
                            Add Website</button>
                        <button class="btn btn-primary btn-xs" ng-disabled="vm.itemToEdit" ng-click="vm.createItem(vm.enums.ArtifactLibItemType.PROFPRACTICE)">
                            Add Professional Practice</button>
                    </div>
                    <div ng-if="vm.fromSG">
                        <br/><br/>
                        <div class="text-center">
                            <button class="btn btn-default btn-outline btn-sm"
                                    ng-if="vm.artifact.libItems.length===0"
                                    ng-click="vm.cancelArtifact()">
                                Cancel
                            </button>&nbsp;&nbsp;
                            <button class="btn btn-primary btn-sm"
                                    ng-disabled="vm.itemToEdit || vm.artifact.libItems.length===0"
                                    ng-click="vm.goBack()">Save & Close
                            </button>
                        </div>
                    </div>
                    <div ng-if="!vm.fromSG">
                        <div ng-show="vm.currentStep > 1" class="fade-in">
                            <br/>
                            <br/>
                            <div smooth-scroll ng-if="vm.artifact.alignedRubricRows.length>0 && (vm.artifact.linkedObservations.length===0 &&
                                                    vm.artifact.linkedOtherEvidenceCollections.length===0 &&
                                                    vm.artifact.linkedSelfAssessments.length===0 &&
                                                    vm.artifact.linkedStudentGrowthGoals.length===0)"></div>
                            <artifact-builder-alignment artifact="vm.artifact" goal-bundle="vm.bundle" done="vm.done"></artifact-builder-alignment>
                        </div>
                        <div ng-show="vm.currentStep > 2" class="fade-in">
                            <br/>
                            <br/>
                            <div ng-if="vm.origin !== 'other-evidence-list'">
                                <div class="alert alert-info eval-alert" ng-if="vm.warning">
                                    <i class="fa fa-2x fa-exclamation-circle"></i>
                                    <div class="alert-content">
                                        {{vm.warning}}
                                    </div>
                                </div>
                                <artifact-builder-linked-objects done="vm.done" goal-bundle="vm.bundle" artifact="vm.artifact"></artifact-builder-linked-objects>
                            </div>
                        </div>
                        <div ng-if="vm.currentStep > 2" class="fade-in">
                            <br/>
                            <br/>
                        <!-- todo: decide if we need this, deferred for now
                           <div class="alert alert-warning" ng-show="vm.artifact.alignedRubricRows.length>4">
                                <span class="fa fa-info-circle fa-2x"></span>
                            </div>-->
                            <div class="form-group">
                                <label>Provide reasoning for your alignment choice(s): (optional)</label>
                                <textarea class="form-control" ng-model="vm.artifact.evidence" rows="5" ng-change="vm.autoSave()" placeholder="Provide reasoning here">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
    <div ng-if="!vm.fromSG" ng-class="{'col-lg-4':!vm.fromSG}" id="artifacts-checklist-container">
        <div class="checklist" affix ng-class="{affix:affixed}" ng-style="offset">
            <div class="checklist-header">
                <div class="share-date pull-right" ng-if="vm.saveNotice">{{vm.saveNotice}}</div>
                <div>Artifact Creation Checklist</div>
                <div class="share-date" ng-if="vm.artifact.isShared">Shared {{vm.artifact.shareDateTime | date:'shortDate'}}</div>
            </div>
            <div class="step" ng-class="vm.stepClass(1)">
                <span class="fa fa-check"></span>
                <span class="step-desc">Add an artifact</span>
            </div>
            <div class="step" ng-class="vm.stepClass(2)">
                <span class="fa fa-check"></span>
                <span class="step-desc">Align artifacts to rubric</span>
            </div>
            <div class="step" ng-class="vm.stepClass(3)">
                <span class="fa fa-check"></span>
                <span class="step-desc"></span>Make available as evidence
            </div>
            <div class="step" ng-class="vm.stepClass(4)">
                <span class="fa fa-check"></span>
                <span class="step-desc">Share Artifact</span>
            </div>

            <hr>
            <p class="step-desc">Artifact options:</p>
            <div class="text-center">
                <button ng-if="vm.currentStep < 5"  class="btn btn-xs btn-default" ng-click="vm.deleteArtifact()">
                    Delete Artifact
                </button>
                <button id="saveButton" type="submit" class="btn btn-xs btn-default" ng-click="vm.saveForLater(vm.artifact)">
                    {{ (vm.currentStep >= 5) ? 'Update' : 'Save'}} & Close
                </button>
                <button ng-if="vm.currentStep < 5" ng-disabled="vm.currentStep != 4" type="submit" class="btn btn-xs btn-primary" ng-click="vm.shareArtifact()">
                    Share Artifact
                </button>
            </div>
        </div>
    </div>
</div>