<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <page-header class="col-lg-10" title="'Artifacts'">
                        List of Artifacts associated with the {{vm.evaluateeTerm}}'s evaluation.<br/>
                        Note: Artifacts will not be visible as evidence within the objects they are linked to until they have been shared.
                    </page-header>
                    <div class="col-lg-2" ng-if="!vm.readOnly">
                        <div class="pull-right">
                            <button id="addNewButton" ng-click="vm.newArtifact()" class="btn btn-primary btn-sm" type="button">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add Artifact
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row" ng-if="vm.artifacts.length>0">
                    <div class="col-md-12">
                        <list-filter filters="vm.filters" list="vm.artifacts"></list-filter>
                    </div>
                </div>
                <br/>
                <loading-panel loaded="vm.artifacts != null">
                    <div class="row" ng-if="vm.artifacts.length===0">
                        <div class="col-lg-12">
                            <nothing-here title="'Nothing here'" description="'Click the Add Artifact button to create a new artifact.'"></nothing-here>
                        </div>
                    </div>
                    <div class="row" ng-if="vm.artifacts.length>0">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Title</th>
                                    <th>Source</th>
                                    <th>Shared</th>
                                    <th>Related Items</th>
                                    <th>Linked to</th>
                                    <th>Rubrics Selected</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="artifact in vm.artifacts | filter:vm.selectedFilter()">
                                    <td>{{artifact.creationDateTime | date }}</td>
                                    <td>{{artifact.title}}</td>
                                    <td>{{artifact.createdByDisplayName}}</td>
                                    <td>{{artifact.isShared}}</td>
                                     <td>
                                         <div ng-repeat="item in artifact.libItems">
                                             <a ng-click="vm.viewItem(item)">{{vm.itemDisplayName(item)}}</a>
                                        </div>
                                    </td>
                                    <td ng-bind-html="vm.attachments[artifact.id]"></td>
                                    <td><alignment-string object="artifact"></alignment-string></td>
                                    <td>
                                        <button ng-if="!vm.readOnly && vm.owner[artifact.id]" ng-click="vm.editArtifact(artifact)" class="btn btn-xs btn-primary">Edit</button>
                                        <button ng-if="vm.readOnly || !vm.owner[artifact.id]" ng-click="vm.viewArtifact(artifact)" class="btn btn-xs btn-primary">View</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </loading-panel>
            </div>
        </div>
    </div>
</div>


