<categorized-selector edit-header="<b>Evidence (where would you like the artifact to be available as evidence?)</b>"
                      view-header="<b>Make the artifact available as evidence</b>"
                      read-only="vm.readOnly"
                      categories="vm.categories"
                      changed="vm.changed($selectedRows)"
                      ng-if="vm.loaded"></categorized-selector>
