
            <ng-form name="vm.editItemForm"  novalidate>
                <div class="row">
                    <div class="col-lg-8">
                        <div ng-if="vm.item.itemType === vm.enums.ArtifactLibItemType.FILE">
                            <h2 ng-show="vm.waiting">Please wait for Upload...</h2>
                            <div class="alert alert-danger" ng-if="vm.uploadError">
                                <b>Upload error!</b> {{ vm.uploadError }}
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div ng-hide="vm.waiting" class="form-group">
                                        <label>File:</label>
                                        <div class="div-inline" ng-messages="vm.editItemForm.file.$error">
                                            <div ng-messages-include="app/core/views/validation-messages.html"></div>
                                        </div>
                                        <div>
                                            <a ng-href="http://www.ucarecdn.com/{{vm.fileUUID}}/">{{vm.fileName}}</a>
                                            <input ng-show="vm.editItemForm.file.$invalid" type="text" ng-disabled="true"
                                                   class="form-control" placeholder="Click Choose File to select a file" name="file" ng-model="vm.fileName" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="vm.item.itemType === vm.enums.ArtifactLibItemType.WEB">
                            <div class="form-group"  ng-class="{ 'has-error' : vm.editItemForm.url.$invalid && !vm.editItemForm.url.$pristine }">
                                <label>Website URL:</label>
                                <div class="div-inline" ng-messages="vm.editItemForm.url.$error">
                                    <div ng-messages-include="app/core/views/validation-messages.html"></div>
                                </div>
                                <input type="text" name="url" ng-model="vm.webUrl" ng-trim="false" ng-change="vm.webUrl=vm.webUrl.split(' ').join('')" class="form-control" required
                                       placeholder="Enter Website URL"/>

                            </div>
                        </div>
                        <div ng-if="vm.item.itemType === vm.enums.ArtifactLibItemType.PROFPRACTICE">
                            <div class="form-group"  ng-class="{ 'has-error' : vm.editItemForm.comments.$invalid && !vm.editItemForm.comments.$pristine }">
                                <label>Describe the practice:</label>
                                <div class="div-inline" ng-messages="vm.editItemForm.comments.$error">
                                    <div ng-messages-include="app/core/views/validation-messages.html"></div>
                                </div>
                                    <textarea name="comments" class="form-control" ng-model="vm.profPracticeNotes" rows="5" required
                                              ng-change="vm.autoSave()" placeholder="Describe the practice here">
                                    </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Friendly Name: (optional)</label>
                            <input type="text" name="title" maxlength="30" class="form-control" ng-model="vm.title" placeholder="Enter Title">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="pull-right button-toolbar">
                            <button type="button" class="btn btn-outline btn-default btn-xs" ng-click="vm.cancel()">Cancel</button>
                            <button type="button" ng-if="vm.item.itemType === vm.enums.ArtifactLibItemType.FILE"
                                    class="btn btn-primary btn-xs" ng-click="vm.uploadFile()">Choose File</button>
                            <button type="submit" ng-click="vm.submitForm(vm.item)" ng-disabled="vm.editItemForm.$invalid" class="btn btn-primary btn-xs">Done</button>
                        </div>
                    </div>
                </div>
             </ng-form>



