<div class="modal-dialog">
<div class="modal-body flatmodal">
    <div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<h2 class="modal-title" ><strong>Artifact Deletion</strong></h2>
			</div>
			
			<div class="form-group">
				<p >
					Are you sure you want to delete this Artifact?
				</p>
			</div>
						
			<div class="block-center text-center">
					<button type="button" class="btn btn-default"  ng-click="cancel()">Cancel</button>
					<button type="button" class="btn btn-danger"  ng-click="ok()">Yes, I want to Delete</button>
			</div>
		</div>
    </div>
</div>
</div>
