<div class="modal-dialog">
    <div class="modal-body flatmodal">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <h2 class="modal-title" ><strong>{{vm.item.title}}</strong></h2>
                </div>

                <div class="form-group">
                    <div ng-bind-html="vm.item.profPracticeNotes"></div>
                </div>

                <div class="block-center text-center">
                    <button type="button" class="btn btn-primary"  ng-click="vm.close()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

