<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <page-header class="col-lg-12" title="vm.title">
                    </page-header>
                </div>
                <br/>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>