<div ng-show="vm.isImpersonating" class="row active-evaluatee">
    <div class="col-sm-10">
        <h3 class="text-right active-evaluatee-name"> {{vm.evaluator.displayName}}</h3>
    </div>
    <div class="active-evaluatee-profile-image">
        <img alt="image" class="img-circle" src="{{vm.evaluator.profileImageUrl || 'images/blank-profile-48x48.png'}}" />
    </div>
</div>
<div ng-show="vm.isEvaluating" class="row active-evaluatee">
    <div class="col-sm-10">
        <div class="text-right"><small ng-bind-html="vm.planType"></small></div>
        <h3 class="text-right active-evaluatee-name"> {{vm.evaluatee.displayName}}</h3>
    </div>
    <div class="active-evaluatee-profile-image">
        <img alt="image" class="img-circle" src="{{vm.evaluatee.profileImageUrl || 'images/blank-profile-48x48.png'}}" />
    </div>
</div>
