<div class="row border-bottom" ng-controller="topNavBarController as vm">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <!--Disabling the collapse button because some of the menu options currently don't behave-->
        <!--<ul class="nav navbar-top-links navbar-left">
            <a class="navbar-minimalize btn btn-primary minimalize-styl-2" href="" ng-click="vm.toggleSideBar()"><i class="fa fa-bars"></i></a>
        </ul>-->
        <ul class="nav navbar-top-links navbar-right" >
            <li ng-show="vm.framework!=null" >
                <select ng-options="item.id as item.name for item in vm.frameworks"
                        ng-model="vm.frameworkId" ng-change="vm.changeFramework()">
                </select>
            </li>
            <li>
                <a>Release Notes</a>
            </li>
            <li>
                <a ui-sref="account-profile">Account</a>
            </li>
            <li>
                <div uib-dropdown is-open="status.isopen">
                    <a uib-dropdown-toggle>
                        Help <span class="caret"></span>
                    </a>
                    <ul uib-dropdown-menu>
                        <li role="menuitem" ng-if="vm.helpHidden()">
                            <a ng-click="vm.showHelp()">Show the page help widget</a>
                        </li>
                        <li role="menuitem"><a>Help Center</a></li>
                    </ul>
                </div>
                <!--<a href="docs/eVALHelp.pdf" target="_blank">Help</a>-->
            </li>
            <li>
                <a ui-sref="login">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>
