<div class="row">
    <div class="col-lg-12">

        <div ng-if="vm.reportOptions[vm.enums.ObservationReportOptions.AVAILABLE_EVIDENCE] ||
                                vm.reportOptions[vm.enums.ObservationReportOptions.ALIGNED_EVIDENCE]">
            <br/><br/>
            <div class="text-center">
                <h2 class="collected_title">Detailed Collected Evidence</h2>
            </div>
            <!-- todo: do one for each framework that is confiuured -->
            <div ng-repeat="node in vm.evidenceCollection.tree[vm.stateFramework.name].nodes">
                <div class="row report-section">
                    <div class="col-md-10 col-xs-8 rubric-title">
                        <div class="node-title">
                            <div>
                                {{node.data.shortName}}
                            </div>
                            <div class="subline">
                                -
                            </div>
                            <div>
                                {{node.data.title}}
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 ">
                        <div class="pull-right">
                            <report-score-block item="node"></report-score-block>
                        </div>
                    </div>
                </div>
                <div ng-repeat="row in node.rows">
                    <div class="row report-section">
                        <div class="col-md-10 col-xs-8 rubric-title">
                            <div class="row-title">
                                <div>
                                    {{row.data.shortName}}
                                </div>
                                <div class="subline">
                                    -
                                </div>
                                <div>
                                    {{row.data.title}}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-4 ">
                            <div class="pull-right">
                                <report-score-block item="row"></report-score-block>
                            </div>
                        </div>
                    </div>
                    <report-available-evidence ng-if="vm.reportOptions[vm.enums.ObservationReportOptions.AVAILABLE_EVIDENCE]"
                                               evidence-collection="vm.evidenceCollection"
                                               row="row">
                    </report-available-evidence>

                    <div  ng-if="row.evaluations.length>0">
                        <br/><br/>
                        <strong>Aligned Evidence</strong>
                        <br/><br/>
                    </div>

                    <div ng-repeat="rrEval in row.evaluations" ng-if="vm.reportOptions[vm.enums.ObservationReportOptions.ALIGNED_EVIDENCE]">
                        <rubric-row-evaluation class="report-section"
                            rr-eval="rrEval"
                            report="true"
                            evidence-collection="vm.evidenceCollection">
                        </rubric-row-evaluation>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>