<div ng-if="vm.reportOptions[vm.enums.ObservationReportOptions.INSTRUCTIONAL_VIEW]">
    <div>
        <h2>Instructional Summary View</h2>
    </div>
    <div ng-repeat="node in vm.evidenceCollection.tree[vm.instructionalFramework.name].nodes">
        <report-fn-score-block node="node"></report-fn-score-block>
    </div>
</div>
