<br/><br/>
<table class="signatures">
    <tr>
        <td>
            Evaluator Signature:
        </td>
        <td>
            ______________________________________________________________________
        </td>
        <td>
            Date:_________________
        </td>
    </tr>
    <tr>
        <td>
            {{vm.evaluateeTermUC}} Signature:
        </td>
        <td>
            ______________________________________________________________________
        </td>
        <td>
            Date:_________________
        </td>
    </tr>
</table>
