<div ng-if="vm.reportOptions[vm.enums.ObservationReportOptions.STATE_VIEW]">
    <div><h2>State Summary View</h2></div>
    <div ng-repeat="node in vm.evidenceCollection.tree[vm.stateFramework.name].nodes">
        <report-fn-score-block node="node" evidence-collection="vm.evidenceCollection"></report-fn-score-block>
    </div>
</div>