<div class="row" >
    <div class="col-lg-12">
        <strong>Available Evidence</strong>
        <p class="text-muted">
            Below is all of the available evidence associated with this rubric component
        </p>
        <div class="row" ng-hide="vm.viewOptions.filter !== 'custom' && vm.state.view === 'node'">
            <br/>
            <div class="col-md-12">
                <list-filter filters="vm.filters" list="vm.row.evidences"></list-filter>
                <div class="div-inline">
                    <button class="btn btn-xs btn-primary" ng-click="vm.showEvidence=!vm.showEvidence">{{vm.showEvidence?"Hide Evidence":"Show Evidence"}}</button>
                    &nbsp;&nbsp;
                    <div  class="div-inline margin-top-5 margin-bottom-5 checkbox checkbox-primary">
                        <input type="checkbox" id="cbHideUsed" ng-model="vm.hideUsed"  />
                        <label for="cbHideUsed">Automatically hide aligned</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="vm.row.evidences.length===0 && vm.showEvidence">
            <div class="col-lg-12">
                <div class="add-new-area">No available Evidence for this rubric component</div>
            </div>
        </div>
        <div ng-if="vm.showEvidence">
            <br/>
            <div ng-repeat="evidence in vm.row.evidences | filter:vm.selectedFilter() | orderBy: 'creationDateTime': false">
                <div ng-click="vm.check(evidence)"
                     class="evidence-desc"
                     ng-class="{'evidence-selected': vm.evidenceCollectionService.state.selectedEvidence.indexOf(evidence) >= 0}">
                    <evidence-item-summary
                        evidence-collection="vm.evidenceCollection"
                        read-only="!vm.isEvaluator"
                        show-source="vm.evidenceCollection.request.collectionType === vm.enums.EvidenceCollectionType.YEAR_TO_DATE ||
                                     vm.evidenceCollection.request.collectionType === vm.enums.EvidenceCollectionType.SUMMATIVE"
                        evidence="evidence">
                    </evidence-item-summary>
                </div>
            </div>

            <div class="row" ng-if="vm.isEvaluator && !vm.evidenceCollection.readOnly && vm.state.view !== 'node'">
                <br/>
                <div class="col-lg-12">
                    <button id="add-other-evidence-btn" class="btn btn-primary btn-xs" ng-click="vm.addRubricNoteAnnotation()">Add Other Evidence</button>
                    <div class="evidence-comment" ng-if="vm.showRubricNoteArea">
                        <textarea id="other-evidence-textarea" class="form-control" ng-model="vm.rubricNote" rows="5"
                                 placeholder="Provide evidence here">
                        </textarea>
                        <div class="comment-buttons">
                            <button class="btn btn-default btn-outline btn-xs"
                                    ng-click="vm.cancelRubricNoteAnnotation()">Cancel</button>
                            <button id="other-evidence-done-btn" class="btn btn-primary btn-xs"
                                    ng-click="vm.saveRubricNoteAnnotation()">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
