<div class="row available-evidence" >
    <div class="col-lg-12">
        <strong ng-if="vm.row.evidences.length>0">Available Evidence</strong>
        <div ng-repeat="evidence in vm.row.evidences">
            <div class="evidence-desc report-section">
                <evidence-item-summary
                    evidence-collection="vm.evidenceCollection"
                    read-only="true"
                    report="true"
                    show-source="false"
                    evidence="evidence">
                </evidence-item-summary>
            </div>
        </div>
    </div>
</div>
