<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Self Assessments</h2>
                        <p ng-if="vm.isEvaluatee">List of your Self-assessments</p>
                        <p ng-if="!vm.isEvaluatee">List of Self-assessments shared by {{vm.evaluateeDisplayName}}</p>
                    </div>
                    <div class="col-lg-6" ng-if="vm.isEvaluatee">
                        <div class="pull-right">
                            <button ng-click="vm.newAssessment()" class="btn btn-primary btn-sm" type="button">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add Self-Assessment
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row" ng-if="vm.assessments.length===0">
                    <div class="col-lg-12">
                        <nothing-here ng-if="vm.isEvaluatee" title="'Nothing here'" description="'Click the Add Self-Assessment button to create a new Self-Assessment.'"></nothing-here>
                        <nothing-here ng-if="!vm.isEvaluatee" title="'If self-assessments are shared'" description="'They will appear here.'"></nothing-here>
                    </div>
                </div>
                <div class="row" ng-if="vm.assessments.length>0">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Title</th>
                                <th>Focused</th>
                                <th>Shared</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="assessment in vm.assessments">
                                <td>{{assessment.creationDateTime | date }}</td>
                                <td>{{assessment.title}}</td>
                                <td>{{assessment.focused}}</td>
                                <td>{{assessment.isShared}}</td>
                                <td>
                                    <button ng-click="vm.editAssessment(assessment)" class="btn btn-xs btn-primary">
                                        {{vm.isEvaluatee?'Edit':'View'}}</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
