
<!-- Wrapper-->
<div id="wrapper">

    <!-- Left Navigation -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" side-navigation id="side-menu">

                <!--HEADER-->
                <li class="left-navbar-logo">
                    <img alt="image" src="{{vm.evalLogo}}"/>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page wrapper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg" style="min-height: 860px;">

        <!-- Top Nav -->
        <div ng-include="'app/layout/top-nav/top-navbar.html'"></div>

        <!-- Page Header/Breadcrumbs -->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Welcome to eVAL</h2>
            </div>
        </div>
        <!-- Main view  -->
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <page-header class="col-lg-12" title="vm.welcomeMessage">
                                </page-header>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div ng-if="!vm.isDA">
                                        <eval-alert>You have arrived at this screen because one or more of the Evaluation Areas that you are registered to work in within eVAL are not ready for use yet. At the beginning of the school year your district must first perform several setup tasks before making an Evaluation Area available to district users. The table below shows the status for each Evaluation Area you are registered for. You can begin working in any Evaluation Area that has been activated by clicking the <b>Enter Work Area</b> button.
                                        </eval-alert>
                                        <br/>
                                        <br/>
                                    </div>
                                    <div ng-if="vm.isDA">
                                        <eval-alert>You have arrived at this screen because one or more of the Evaluation Areas within eVAL are not ready for use. As a District Administrator you have a primary role in setting up the Evaluation Areas.
                                            <ul>
                                                <li>
                                                    <strong>Selecting an Evaluation Framework</strong>
                                                    <p>
                                                        For each evaluation type that the district is going to perform in eVAL, the district must select the Evaluation Framework to use.
                                                    </p>
                                                </li>
                                                <li>
                                                    <strong>Setting up and Activating the Evaluation Framework</strong>
                                                    <p>The Evaluation Framework must be activated before it is available to district users. To activate the framework you must enter the Administrative section for the Evaluation Area within eVAL. Once there you will see a list of additional setup steps that should be reviewed before activating.</p>
                                                </li>
                                            </ul>
                                        </eval-alert>
                                    </div>
                                    <user-orientations-summary></user-orientations-summary>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->




