<table class="table table-bordered">
   <!-- <thead>
    <tr>
        <th width="20%">School</th>
        <th width="20%">Role</th>
        <th width="20%">Work Area</th>
        <th width="20%">Action</th>
    </tr>
    </thead>-->
    <tbody>
    <tr ng-repeat="workAreaSetupStatus in vm.workAreaSetupStatusesByEvalType">
        <td width="20%">{{workAreaSetupStatus.schoolName}}</td>
        <td width="20%">{{workAreaSetupStatus.roleDisplayName}}</td>
        <td width="20%">{{workAreaSetupStatus.workAreaTitle}}</td>
        <td width="20%">
            <buttton class="btn btn-xs btn-primary"
                     ng-click="vm.gotoWorkArea(workAreaSetupStatus)">
           <!--     {{workAreaSetupStatus.workAreaTitle}}-->
                Enter Work Area
            </buttton>
        </td>
    </tr>
    </tbody>
</table>