<div ng-repeat-start="district in vm.districts">
    <div class="row">
        <div class="col-lg-12">
            <div class="district-header text-center" >
                <h3>{{district.districtName}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div ng-repeat="setupStatus in district.setupStatuses">
                <div>
                    <br/>
                    <div class="evaluation-section-header text-center">
                        <h3>{{setupStatus.evaluationTypeDisplayName}}</h3>
                    </div>
                    <div ng-if="!district.isADA && !setupStatus.active" class="text-center">
                        <br/>
                        <span ng-if="setupStatus.optOut">
                            Your district has chosen not to support evaluations within eVAL for this evaluation type.
                        </span>
                        <span ng-if="!setupStatus.optOut" class="label label-warning" >
                            District Setup in Progress
                        </span>
                    </div>
                    <div ng-if="district.isADA && !setupStatus.active">
                        <br/>
                        <div ng-if="!setupStatus.loaded">
                            <div class="text-center">
                                <button class="btn btn-sm btn-primary"
                                        ng-disabled="setupStatus.optOut"
                                        ng-click="vm.loadFramework(setupStatus)">
                                    Select Framework
                                </button>
                                <br/>
                                <div  class="div-inline margin-top-5 margin-bottom-5 checkbox checkbox-primary">
                                    <input type="checkbox" id="cbOptOut{{$index}}" ng-change="vm.changeOptOut(setupStatus)" ng-model="setupStatus.optOut"  />
                                    <label for="cbOptOut{{$index}}">Our district is not planning on performing evaluations in this area.</label>
                                </div>
                            </div>
                        </div>
                        <div ng-if="setupStatus.loaded">
                            <div class="text-center">
                                <strong>{{setupStatus.loadedContext.name}}</strong>
                            </div>
                            <br/>
                            <div class="text-center">
                                <button class="btn btn-sm btn-primary" ng-click="vm.gotoDAWorkArea(setupStatus)">
                                    Setup Framework
                                </button>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <setup-role-summary ng-if="setupStatus.active"
                                        evaluation-type="setupStatus.evaluationType"
                                        work-area-setup-statuses="district.workAreaSetupStatuses">
                    </setup-role-summary>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br ng-repeat-end/>