<div class="row report-section"  ng-if="vm.reportOptions[vm.enums.ObservationReportOptions.POST_CONFERENCE] &&
                         vm.observation.postConfQsTorSentDate">
    <div class="col-lg-12">
        <div>
            <br/><br/>
            <div>
                <h4>Post-Conference Prompts</h4>
                <hr/>

                <div class="prompt-responses" ng-if="vm.includePostConfPrompts">
                    <div ng-repeat="userPromptResponse in vm.postConfPromptResponses">
                        <div class="prompt-response">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p style="font-weight:bold" ng-bind-html="userPromptResponse.prompt"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <hr />
                                    <p ng-bind-html="userPromptResponse.response"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row report-section"  ng-if="vm.reportOptions[vm.enums.ObservationReportOptions.POST_CONFERENCE] &&
                        vm.observation.evaluateePostConNotes">
    <div class="col-lg-12">
        <div>
            <br/><br/>
            <div>
                <h4>{{vm.evaluateeTermUC}} Post-Conference Summary</h4>
                <hr/>
                <div>
                    <p ng-bind-html="vm.evaluateePostConfNotes"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row report-section"  ng-if="vm.reportOptions[vm.enums.ObservationReportOptions.POST_CONFERENCE] &&
                        vm.observation.evaluatorPostConNotes">
    <div class="col-lg-12">
        <div>
            <br/><br/>
            <div>
                <h4>{{vm.evaluatorTermUC}} Post-Conference Summary</h4>
                <hr/>
                <div>
                    <p ng-bind-html="vm.evaluatorPostConfNotes"></p>
                </div>
            </div>
        </div>
    </div>
</div>
