<div class="row report-section"  ng-if="vm.reportOptions[vm.enums.ObservationReportOptions.PRE_CONFERENCE] &&
                         vm.observation.preConfQsTorSentDate">
    <div class="col-lg-12">
        <div>
            <br/><br/>
            <div>
                <h4>Pre-Conference Prompts</h4>
                <hr/>

                <div class="prompt-responses" ng-if="vm.includePreConfPrompts">
                    <div ng-repeat="userPromptResponse in vm.preConfPromptResponses">
                        <div class="prompt-response">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p style="font-weight:bold" ng-bind-html="userPromptResponse.prompt"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <hr />
                                    <p ng-bind-html="userPromptResponse.response"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row report-section"  ng-if="vm.reportOptions[vm.enums.ObservationReportOptions.PRE_CONFERENCE] &&
                        vm.observation.evaluateePreConNotes">
    <div class="col-lg-12">
        <div>
            <br/><br/>
            <div>
                <h4>{{vm.evaluateeTermUC}} Pre-Conference Summary</h4>
                <hr/>
                <div>
                    <p ng-bind-html="vm.evaluateePreConfNotes"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row report-section"  ng-if="vm.reportOptions[vm.enums.ObservationReportOptions.PRE_CONFERENCE] &&
                        vm.observation.evaluatorPreConNotes">
    <div class="col-lg-12">
        <div>
            <br/><br/>
            <div>
                <h4>{{vm.evaluatorTermUC}} Pre-Conference Summary</h4>
                <hr/>
                <div>
                    <p ng-bind-html="vm.evaluatorPreConfNotes"></p>
                </div>
            </div>
        </div>
    </div>
</div>
