<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <h2 class="modal-title" ><strong>Send Final Report</strong></h2>
            </div>

            <div ng-if="vm.readyToSubmit">
                <div class="font-size14 form-group">
                    <p>This will share the official version of the Observation Report, for review and acknowledgment. Before you share the report make sure you have reviewed it for accuracy in the Report section. </p>
                </div>

                <div class="font-size14 form-group">
                    <u>What happens after clicking the “Send Final Report” button?:</u>
                </div>

                <div class="font-size14 form-group">
                    <ul>
                        <li>
                            The Observation will switch to a View Mode, and no further changes can be made.
                        </li>
                        <li>The Final Observation Report will be share with {{vm.evaluateeTermUpperCase}}.</li>
                        <li>The Observation Notes and Evidence will be shared with the {{vm.evaluateeTermLowerCase}}.</li>
                        <li>When the {{vm.evaluateeTermUpperCase}} acknowledges the Observation Report, the Observation will be locked automatically.</li>
                        <li>You can lock the Observation manually at any time, depending on your district policy.</li>
                    </ul>
                </div>

                <div class="block-center text-center">
                    <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.ok()">Yes, send final version</button>
                </div>
            </div>
            <div ng-if="!vm.readyToSubmit">
                <p>Before you can submit the Observation Report for final acknowledgement, you need to fill out all required fields.
                    When you’re done click the submit button again.
                </p>
                <strong>Missing Field(s):&nbsp;</strong>
                    <span class="text-danger">
                        <br/>{{!vm.observation.observeStartDate?"Observation Start Date":""}}
                        <br/>{{!vm.observation.observeDuration?"Observation Duration":""}}
                    </span>
                <br/>
                <br/>
                <div class="block-center text-center">
                    <button type="button" class="btn btn-default" ng-click="vm.cancel()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

