<div class="modal-dialog">
    <div class="modal-body flatmodal">
    <div class="form-group">
        <h2 class="modal-title" ><strong>Acknowledge Final Version</strong></h2>
    </div>

    <div class="form-group">
        <p>Acknowledging the Observation will conclude the Observation for both you and the Evaluator.
                Before the Observation is concluded you can add final notes to be attached to the Observation, these are optional.</p>
    </div>

    <div class="form-group">
        <label>Comment (optional):</label>
        <textarea class="form-control" rows="3" ng-model="vm.notes" placeholder="Enter comments here"></textarea>
    </div>

    <div class="block-center text-center">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="vm.ok()" >Acknowledge</button>
    </div>
</div>
</div>