<div class="row">
    <div class="col-lg-12">

        <div ng-if="vm.isEvaluatee && vm.observation.wfState < vm.enums.WfState.OBS_LOCKED_TEE_REVIEW">
            <nothing-here title="'The Observation Report is not ready yet'" description="'When your evaluator sends the final version for acknowledgement it will appear here for your review.'"></nothing-here>
        </div>

        <div ng-if="vm.isAssignedEvaluator || vm.observation.wfState >= vm.enums.WfState.OBS_LOCKED_TEE_REVIEW">
            <div class="text-center">
                <h1><strong>{{vm.reportTitle}}</strong></h1>
                <h2>{{vm.district}} {{vm.schoolYear}}</h2>
                <h3>{{vm.evaluatee.displayName}}, {{vm.school}}</h3>
            </div>
            <div ng-if="vm.observation.wfState < vm.enums.WfState.OBS_LOCKED_TEE_REVIEW">
                <br/>
                <strong><i>Printed from the system before observation process was completed; use for informational purposes only.</i></strong>
                <br/>
            </div>
            <br/><br/>
            <div class=" report-section row">
                <div class="col-lg-12">
                    <div>
                        <p>
                            <strong>Observation System ID:</strong>
                            <span>{{vm.observation.shortName}}</span>
                        </p>
                        <p>
                            <strong>Title:</strong>
                            <span>{{vm.observation.title}}</span>
                        </p>
                        <p>
                            <strong>Evaluator:</strong>
                            <span>{{vm.evaluatorDisplayName}}</span>
                        </p>
                        <p ng-if="vm.evalFocused">
                            <strong>Observation Focus:</strong>
                            <span ng-bind-html="vm.observationFocusDisplayName"></span>
                        </p>

                        <p>
                            <strong>Observation Date:</strong>
                            <span>{{vm.observation.startDate? (vm.observation.startDate | date):
                                'N/A'}}</span>
                        </p>
                    </div>
                </div>
            </div>

            <br/><br/>
            <div class="row">
                <div class="col-lg-5">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Criteria Raw Score</th>
                            <th>Observation Summative Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{vm.rawScore}}</td>
                            <td>{{vm.summativeScore}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <br/>

            <div ng-include="'app/reports/_instructional-summary.html'"></div>
            <div ng-include="'app/reports/_state-summary.html'"></div>
            <div ng-include="'app/reports/_available_aligned_evidence.html'"></div>

            <div class="row report-section"  ng-if="
                 vm.reportOptions[vm.enums.ObservationReportOptions.OBSERVATION_NOTES] &&
                 vm.observation.observeNotes">
                <div class="col-lg-12">
                    <div>
                        <br/><br/>
                        <div>
                            <h4>Observation Notes</h4>
                            <hr/>
                            <div>
                                <p ng-bind-html="vm.observation.observeNotes"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-include="'app/observation/details/report/_pre-conf.html'"></div>
            <div ng-include="'app/observation/details/report/_post-conf.html'"></div>

            <div class="row report-section"  ng-if="vm.observation.evaluateeFinalNotes">
                <div class="col-lg-12">
                    <div>
                        <br/><br/>
                        <div>
                            <h4>{{vm.evaluateeTermUC}} Observation Summary</h4>
                            <hr/>
                            <div>
                                <p ng-bind-html="vm.observation.evaluateeFinalNotes"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row report-section"  ng-if="vm.observation.evaluatorFinalNotes">
                <div class="col-lg-12">
                    <div>
                        <br/><br/>
                        <div>
                            <h4>Evaluator Observation Summary</h4>
                            <hr/>
                            <div>
                                <p ng-bind-html="vm.observation.evaluatorFinalNotes"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-include="'app/reports/_signatures.html'"></div>
        </div>
    </div>
</div>
