<div class="row" ng-if="vm.observation.wfState === vm.enums.WfState.OBS_LOCKED_TEE_REVIEW">
    <div class="col-lg-12">
        <eval-alert ng-if="vm.isEvaluatee">
            You are currently viewing the <strong>Final Observation Report</strong>.
            Please click the <strong>Acknowledge Receipt</strong> button to confirm you have received this.
        </eval-alert>
        <eval-alert ng-if="!vm.isEvaluatee">
            You are currently viewing the <strong>Final Observation Report</strong> that has been sent to the {{vm.evaluateeTermLC}}.
        </eval-alert>
    </div>
</div>
<div class="row" ng-if="vm.observation.wfState >= vm.enums.WfState.OBS_LOCKED_SEALED">
    <div class="col-lg-12">
            <div class="pull-right">
                <span>Click to view the report as a PDF document.</span>
                <a ng-click="vm.downloadPDF()">
                    <img alt="image"
                         src="images/pdficon_large.png"/>
                </a>
            </div>
    </div>
</div>

<div ng-show="vm.pdfLoading" ng-include="'app/core/spinners/_wave.html'"></div>

<div class="row"  ng-if="vm.isEvaluatee && vm.observation.wfState === vm.enums.WfState.OBS_LOCKED_TEE_REVIEW">
    <div class="col-lg-12">
        <div class="pull-right">
            <button
                    class="btn btn-primary btn-sm" ng-click="vm.acknowledgeFinalVersion()">
                Acknowledge Receipt of Observation Report
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <button  ng-if="!vm.isEvaluatee && vm.observation.wfState <= vm.enums.WfState.OBS_LOCKED_TEE_REVIEW"
                     class="btn btn-primary btn-sm" ng-click="vm.createPDF()">
                Create PDF
            </button>
        </div>
    </div>
</div>

<observation-report-output
    evidence-collection="vm.evidenceCollection"
    preview="false"
    report-format="vm.finalReportFormatType">
</observation-report-output>


<!-- todo: implement preview vs final and custom reportFormat
<uib-tabset>
    <uib-tab heading="Preview">
        <div class="tab-body">
            <div ng-if="vm.isAssignedEvaluator">
                <div class="alert alert-info eval-alert">
                    <i class="fa fa-2x fa-exclamation-circle"></i>
                    <div class="alert-content">
                        <p>You are currently viewing a preview of the observation report.</p>
                        <p>You may choose any report format you like and optionally generate a print version of the report. All reports generated from
                        this page are not an official version and will be clearly marked as Preview in the title.</p>
                    </div>
                    <div class="text-right">
                        <div class="form-group">
                            <label>Report Format</label>
                            <select ng-model="vm.previewReportFormatType"
                                    ng-change="vm.changeReportFormat()" convert-to-number>
                                <option value="1">Summary</option>
                                <option value="2">Detailed</option>
                                &lt;!&ndash;          <option value="3">Custom</option>&ndash;&gt;
                                <option value="4">Final</option>
                            </select>
                            &lt;!&ndash;                <button ng-click="vm.createPDF()">Create PDF</button>&ndash;&gt;
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12-lg">
                    </div>
                </div>

            </div>

            <observation-report-output
                evidence-collection="vm.evidenceCollection"
                preview="true"
                report-format="vm.previewReportFormatType">
            </observation-report-output>
        </div>
    </uib-tab>
    <uib-tab heading="Final" active="">
        <div class="tab-body">
        </div>
    </uib-tab>
</uib-tabset>
-->






