<div class="well well-sm" ng-if="vm.districtConfig.nonSummativeScoringEnabled">
    <div class="grading">
        <span>{{vm.item.data.shortName}}</span>
            <button ng-if="vm.state.view==='node' && !vm.item.rows" class="btn btn-outline btn-xs">
                <span class="fa fa-pencil-square-o"
                ng-click="vm.redirectToRow()">
                </span>
            </button>

            <button ng-repeat="level in vm.enums.PerformanceLevels"
                    ng-click="vm.scoreItem($index + 1)"
                    ng-class="vm.colorObj[vm.item.root.data.view][vm.item.root.data.evaluation[vm.getHighlightId(vm.score, vm.otherScore, $index)]]"
                    class="btn btn-outline btn-default btn-score">
                {{level[0] + level[1] + level[2] | lowercase}}
                <div class="score" ng-if="vm.item.root.data.view === default ? vm.item[level].evaluations.length : vm.dividedEvaluations[level][vm.user.id].length">
                    {{ vm.item.root.data.view === default ? vm.item[level].evaluations.length : vm.dividedEvaluations[level][vm.user.id].length}}
                </div>
            </button>
        </div>
        <!--<div ng-if="!!vm.lock;">-->
        <!--<span>{{vm.item.data.shortName}}</span>-->
        <!--<span ng-if="vm.item.root.data.view === 'default'">-->
            <!--<strong>{{vm.score.performanceLevel ? vm.enums.PerformanceLevels[vm.score.performanceLevel - 1].substring(0,-->
                <!--3) : 'N/A'}}</strong>-->
        <!--</span>-->
        <!--&lt;!&ndash; merged scores &ndash;&gt;-->
        <!--<span ng-if="vm.item.root.data.view === 'merge'">-->
            <!--<button class="btn btn-outline btn-default {{vm.item?'btn-xs':'btn-sm'}}"-->
                    <!--ng-class="vm.colorObj[vm.item.root.data.view][vm.item.root.data.evaluation[vm.score.createdByUserId]]">-->
                <!--{{vm.score.performanceLevel ? vm.enums.PerformanceLevels[vm.score.performanceLevel - 1].substring(0, 3)-->
                <!--: 'N/A'}}-->
            <!--</button>-->
            <!--<button class="btn btn-outline btn-default {{vm.item?'btn-xs':'btn-sm'}}"-->
                    <!--ng-class="vm.colorObj[vm.item.root.data.view][vm.item.root.data.evaluation[vm.otherScore.createdByUserId]]">-->
                <!--{{vm.otherScore.performanceLevel ? vm.enums.PerformanceLevels[vm.otherScore.performanceLevel - -->
                <!--1].substring(0, 3) : 'N/A'}}-->
            <!--</button>-->
            <!--</span>-->
        <!--<button class="btn btn-outline btn-xs">-->
                <!--<span class="fa fa-pencil-square-o"-->
                      <!--ng-click="vm.redirectToRow()">-->
                <!--</span>-->
        <!--</button>-->
    <!--</div>-->
</div>