<text-angular ng-model="$ctrl.text" 
              ta-toolbar="$ctrl.toolbar"
              id="{{$ctrl.editorName}}" 
              name="{{$ctrl.editorName}}"></text-angular>
<div ng-if="$ctrl.showLegend" class="legend">
    Selections that look <span class="coded-section" rubricrow="1a" contenteditable="false">like this</span> are use by the observation may not be modified or removed.
</div>