<div class="row">
    <div class="col-lg-12">
        <h2>Artifacts</h2>
        <div>List of Artifacts that are available to this Self-Assessment</div>
    </div>
</div>
<br/>
<br/>
<div class="row" ng-if="vm.selfAssessment.linkedArtifacts.length===0">
    <div class="col-lg-12">
        <nothing-here title="'Nothing here'" description="'No artifacts have been linked to this Self-Assessment.'"></nothing-here>
    </div>
</div>
<div class="row" ng-if="vm.selfAssessment.linkedArtifacts.length>0">
    <div class="col-lg-12">
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Source</th>
                <th>Rubric Selected</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="artifact in vm.selfAssessment.linkedArtifacts">
                <td>{{artifact.creationDateTime | date }}</td>
                <td>{{artifact.title}}</td>
                <td>{{artifact.createdByDisplayName}}</td>
                <td>
                    <alignment-string object="artifact" redirect="vm.redirect"></alignment-string>
                </td>
                <td>
                    <button ng-click="vm.viewArtifact(artifact)" class="btn btn-xs btn-primary">View</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

