<div ng-if="vm.sharing">
    <h4>Sharing</h4>
    <p>
        Sharing Observation notes
        <span ng-class="{disabled: !vm.observation.observeNotesShared}" class="pull-right">
            {{vm.observation.observeNotesShared ? 'Yes' : 'No'}}
        </span>
    </p>
    <p>
        Sharing Evaluator scores
        <span ng-class="{disabled: !vm.observation.evaluatorScoresShared}" class="pull-right">
            {{vm.observation.evaluatorScoresShared ? 'Yes' : 'No'}}
        </span>
    </p>
    <p>
        Allow {{vm.evaluateeTermUC}} scoring
        <span ng-class="{disabled: !vm.observation.selfEvalShared}" class="pull-right">
            {{vm.observation.selfEvalShared?(vm.observation.selfEvalComplete?'Complete':'Yes'):'No'}}
        </span>
    </p>
</div>
<div ng-if="!vm.sharing">
    <h4>Observation Sharing</h4>
    <p class="note">Note: sharing is not yet active, you are currently not sharing.</p>
    <p>
        When you click the "Setup Sharing" button, you will be presented
        with a few sharing options before sharing is active.
    </p>
</div>
<div class="text-right">
    <button class="btn btn-sm btn-default"
            ng-click="vm.popoverOpen = false">Close</button>
    <button ng-if="vm.isEvaluator && (!vm.observation.observeNotesShared ||
                                      !vm.observation.selfEvalShared ||
                                      !vm.observation.evaluatorScoresShared)" class="btn btn-sm btn-primary"
            ng-click="vm.popoverOpen = false; vm.openConfigureSharingModal()">
        {{ vm.sharing ? 'Edit' : 'Setup Sharing' }}
    </button>
</div>