<div class="modal-dialog">
    <div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <h2 class="modal-title" ><strong>Observation Unlock Request</strong></h2>
            </div>

            <div class="form-group">
                <p class="font-size14">After clicking the "Yes, create request” button, the other party will be sent a notification of your request. If the request is approved, the Observation will become editable and will go through the Final Acknowledgement process again.</p>
            </div>

            <div class="block-center text-center">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="ok()">Yes, create request</button>
            </div>
        </div>
    </div>
</div>
</div>
