<observation-state observation="vm.observation"></observation-state>

<div class="observation-tabs" affix ng-class="{affix:affixed}" ng-style="offset">
    <div>
        <div class="tabs-container tabs">
            <ul class="nav nav-tabs" id="observationTabs">
                <li class="active" uib-dropdown ng-if="vm.tabsCollapsed">
                    <a uib-dropdown-toggle>
                        Sections <span class="caret"></span>
                    </a>
                    <ul uib-dropdown-menu>
                        <li ng-repeat="link in vm.observationTabs" ui-sref-active="active">
                            <a ui-sref="{{link.state}}">{{link.title}}</a>
                        </li>
                    </ul>
                </li>
                <li ng-repeat="link in vm.observationTabs"
                    ui-sref-active="active"
                    ng-if="!link.disabled && !vm.tabsCollapsed">
                    <a ui-sref="{{link.state}}">{{link.title}}</a>
                </li>
            </ul>
        </div>
        <div class="save-notice" ng-show="vm.observation.saveNotice">
            <label>{{vm.observation.saveNotice}}</label>&nbsp;&nbsp;
        </div>
        <div class="buttons">
            <div class="col-lg-12 no-padding">
                <div class="pull-right">
                    <div ng-if="vm.observation.wfState === vm.enums.WfState.OBS_IN_PROGRESS_TOR">
                        <button ng-if="vm.isEvaluator || vm.sharing"
                                class="btn btn-sm"
                                ng-class="{'btn-default': !vm.sharing, 'btn-blue': vm.sharing}"
                                uib-popover-template="'app/observation/details/_share-popover.html'"
                                popover-trigger="outsideClick"
                                popover-is-open="vm.popoverOpen"
                                popover-placement="bottom-right">
                            <span ng-if="vm.sharing" class="sharing-icon">
                                <span class="fa fa-user evaluator"></span>
                                <span class="fa fa-user evaluatee"></span>
                            </span>
                            {{ vm.sharing ? 'Shared': 'Share' }}
                        </button>
                        <button ng-show="vm.isEvaluatee && vm.observation.selfEvalShared && !vm.observation.selfEvalComplete"
                                class="btn btn-primary btn-sm"
                                ng-click="vm.openSelfEvalCompleteModal()">
                            Alignment Complete
                        </button>
                        <button ng-if="vm.isEvaluator"
                                class="btn btn-primary btn-sm"
                                ng-click="vm.openSendFinalVersionModal()">
                            Send Final Report
                        </button>
                    </div>
                    <div ng-if="vm.observation.wfState === vm.enums.WfState.OBS_LOCKED_TEE_REVIEW">
                        <button  ng-if="vm.isEvaluator"
                                 class="btn btn-primary btn-sm" ng-click="vm.markAsComplete()">
                            Mark as Complete
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="tab-content">
    <div class="tab-body">
        <div ui-view="content"></div>
    </div>
</div>
