<!-- the dark blue header -->
<div class="rating"
     ng-class="{ editing: vm.editing, report: vm.report }">
    <div class="initial"
         ng-class="vm.ratingInitailCssClass">
        {{vm.enums.PerformanceLevels[vm.rrEval.performanceLevel - 1][0]}}
    </div>
    <span class="statement"
          id="alignedrreval-{{vm.rrEval.id}}">
         <label>{{vm.rrEval.fromCriticalAttr ? 'Critical Attribute' : 'Rubric Statement'}}</label>
         <div ng-bind-html="vm.rrEval.rubricStatement"></div>
    </span>
    <div class="buttons" ng-if="!vm.report && vm.rrEval.createdByUserId == vm.user.id && vm.evidenceCollectionService.state.view === 'row'">
        <a ng-show="!vm.editModeRREval && !vm.evidenceCollection.readOnly && vm.itemCreatedHere && !vm.rrEval.additionalInput"
           ng-click="vm.startEditRREval()">
            <span class="fa fa-plus-circle fa-sm color-green"></span>
        </a>
        <a ng-click="vm.deleteRREval()"
           ng-show="!vm.evidenceCollection.readOnly && vm.itemCreatedHere"
           confirm-if="!vm.editing"
           confirm="Do you really want to delete this aligned evidence?">
            <span class="fa fa-times-circle fa-sm color-red"></span>
        </a>
    </div>
</div>

<!--all the evidences -->
<div ng-repeat="evidence in vm.rrEval.alignedEvidences | orderBy: 'data.creationDateTime': false"
     class="evidence-group"
     ng-class="{ editing: vm.editing,  report: vm.report }">
    <div class="evidence"
         id="aligned-{{evidence.availableEvidenceId}}">
        <div class="view">
            <div class="summary">
                <!--</div>-->
                <div class="evidence-header" ng-if="arr[$index].evidenceType !== arr[$index -1].evidenceType">
                    <span>{{vm.enums.EvidenceTypeMapper[evidence.evidenceType]}}</span>
                </div>
                <evidence-item-summary read-only="true"
                                       show-source="vm.evidenceCollection.request.collectionType === vm.enums.EvidenceCollectionType.YEAR_TO_DATE ||
                                                    vm.evidenceCollection.request.collectionType === vm.enums.EvidenceCollectionType.SUMMATIVE "
                                       evidence-collection="vm.evidenceCollection"
                                       evidence="evidence.data">
                </evidence-item-summary>
            </div>
            <div class="buttons"
                 ng-if="!vm.report && vm.rrEval.createdByUserId == vm.user.id && vm.evidenceCollectionService.state.view === 'row'">
                <a ng-click="vm.deleteEvidence(evidence)"
                   ng-show="!vm.evidenceCollection.readOnly &&
                            vm.itemCreatedHere"
                   confirm-if="!vm.editing"
                   confirm="Do you really want to delete this aligned evidence item?">
                    <span class="fa fa-times-circle fa-sm color-red"></span>
                </a>
            </div>
        </div>

        <!-- evidence comment, in edit mode -->
        <div class="evidence-comment"
             ng-if="vm.evidenceEditModes[evidence.id]">
            <div class="evidence-header"><span>Additional Input</span></div>
            <textarea class="form-control" ng-model="vm.additionalInput" rows="3"
                      placeholder="Provide additional input here">
            </textarea>
            <div class="comment-buttons"
                 ng-if="vm.evidenceCollectionService.state.view === 'row'">
                <button class="btn btn-default btn-outline btn-xs"
                        ng-click="vm.cancelEditEvidence(evidence)">Cancel
                </button>
                <button class="btn btn-primary btn-xs"
                        ng-click="vm.saveEvidence(evidence)">Done
                </button>
            </div>
        </div>

        <!-- evidence comment, in view mode -->
        <div class="evidence-comment view"
             ng-if="!vm.evidenceEditModes[evidence.id] && evidence.additionalInput != ''">
            <div>
                <div class="evidence-header"><span>Additional Input</span></div>
                <div ng-bind-html="evidence.additionalInput"></div>
            </div>
            <div ng-show="!vm.evidenceCollection.readOnly &&
                            vm.itemCreatedHere"
                 class="buttons">
                <a ng-click="vm.startEditEvidence(evidence)">
                    <span class="fa fa-pencil fa-sm color-green"></span>
                </a>
                <a ng-click="vm.clearEvidenceComment(evidence)">
                    <span class="fa fa-times-circle fa-sm color-red"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- ranking comment, in edit mode -->
<div class="rating-comments"
     ng-if="vm.editModeRREval">
    <div class="evidence-header"><span>General note</span></div>
    <textarea class="form-control" ng-model="vm.additionalInput" rows="3"
              placeholder="Provide additional input here">
    </textarea>
    <div class="comment-buttons">
        <button class="btn btn-default btn-outline btn-xs" ng-click="vm.cancelEditRREval()">Cancel</button>
        <button class="btn btn-primary btn-xs" ng-click="vm.saveRREval()">Done</button>
    </div>
</div>

<!-- ranking comment, in view mode -->
<div class="rating-comments view"
     ng-class="{ editing: vm.editing }"
     ng-if="!vm.editModeRREval && vm.rrEval.additionalInput!=''">
    <div>
        <div class="evidence-header"><span>General note</span></div>
        <div ng-bind-html="vm.rrEval.additionalInput"></div>
    </div>
    <div ng-show="!vm.evidenceCollectionService.readOnly &&
                            vm.itemCreatedHere"
         class="buttons">
        <a ng-click="vm.startEditRREval()">
            <span class="fa fa-pencil fa-sm color-green"></span>
        </a>
        <a ng-click="vm.clearRREvalComment()">
            <span class="fa fa-times-circle fa-sm color-red"></span>
        </a>
    </div>
</div>

