
<div class="row">
    <div class="col-lg-12">
        <h2>{{vm.conferenceTitle}} (optional)</h2>
        <div>Here you can answer and share your {{vm.conferenceTitle}} prompt responses with your evaluator and write the summary of your meeting</div>
        <br />
        <div class="teacher-pre-conf-question-area">
            <div>
                <h4>Prompts</h4>
                <span>List of prompts and your responses</span>
                <span ng-if="vm.userPromptResponses.length>0" class="pull-right">
                    <span style="padding-right: 13px;" ng-show="vm.promptsSentByTor && !vm.promptsSentByTee">Prompts Shared by Evaluator on {{vm.confQsTorSentDate | date:'shortDate' }}</span>
                    <span style="padding-right: 13px;" ng-show="vm.promptsSentByTee">Responses Shared on {{vm.confQsTeeSentDate | date:'shortDate' }}</span>

                    <!--<button ng-if="vm.promptsSentByTor" class="btn btn-primary btn-xs" ng-click="vm.savePromptResponses()">Save for Later</button>-->
                    <button id="share-responses-btn" ng-show="vm.promptsSentByTor && !vm.promptsSentByTee && !vm.isObservationReadOnly"
                            style="margin-bottom: 2px;" class="btn btn-primary btn-xs"
                            ng-click="vm.sendPrompts()">
                        Share Responses
                    </button>
                </span>

            </div>
            <hr />
            <div ng-if="vm.userPromptResponses.length > 0">
                <div ng-repeat="userPrompt in vm.userPromptResponses">
                    <div class="q-ans-main-area">
                        <div class="teacher-question">
                            <div class="row">
                                <div class="col-lg-8">
                                    <strong>{{$index+1}}. <span class="marginLeft10">{{userPrompt.prompt}}</span></strong>
                                </div>
                                <div class="col-lg-4">
                                    <div class="pull-right">
                                        <span style="margin-right:40px" tooltip-placement="bottom" uib-tooltip="The evaluator has coded sections of this response as evidence so further changes are not allowed." class="fa fa-lock" ng-if="userPrompt.coded">&nbsp;Coded as Evidence</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="teacher-answer">
							<div ng-if="!userPrompt.coded && !vm.isObservationReadOnly">
                               <textarea class="form-control" ng-model="userPrompt.response" rows="5"
                                         ng-change="vm.savePrompt(userPrompt)" placeholder="Provide response here">
                               </textarea>
							</div>
                            <p style="padding:5px" ng-show="userPrompt.coded" ng-bind-html="userPrompt.response"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="vm.userPromptResponses.length===0">
                <nothing-here title="'Your evaluator has not assigned any prompts yet'" icon="'fa fa-exclamation-circle'" description="'If prompts are assigned by your evaluator, they will be displayed here.'"></nothing-here>
            </div>
            <br/><br />
        </div>
        <div style="clear: both;"></div>

        <!-- Conferfence Summary Notes -->
        <br /><br />
        <div>
            <div>
                <h4>{{vm.evaluateeTerm}} {{vm.conferenceTitle}} Summary</h4>
                <span>Notes that summarize the meeting (optional)</span>
                <div class="pull-right">
                    <button id="share-notes-btn" class="btn btn-primary btn-xs"
                            ng-show="!vm.notesSentByTee && !vm.isObservationReadOnly"
                            ng-click="vm.shareConfNotes()">
                        Share Conference Summary
                    </button>

                    <span style="padding-right: 13px;" ng-show="vm.confNotesSentDate">Summary Shared on {{vm.confNotesSentDate | date:'shortDate' }}</span>

                    <div class="pull-right">
                        <span style="margin-right:10px" tooltip-placement="bottom" uib-tooltip="The evaluator has coded sections of this response as evidence so further changes are not allowed." class="fa fa-lock" ng-if="vm.confNotesCoded">&nbsp;Coded as Evidence</span>
                    </div>
                </div>
            </div>
            <hr />
            <div ng-show="vm.pre">
                <textarea ng-if="!vm.confNotesCoded && !vm.isObservationReadOnly"
                          class="form-control" ng-model="vm.observation.evaluateePreConNotes" rows="5"
                          ng-change="vm.saveConfNotes()" placeholder="Provide response here">
                </textarea>
                <p ng-if="vm.confNotesCoded || vm.isObservationReadOnly" ng-bind-html="vm.observation.evaluateePreConNotes"></p>
            </div>
            <div ng-hide="vm.pre">
                <textarea ng-if="!vm.confNotesCoded && !vm.isObservationReadOnly"
                          class="form-control" ng-model="vm.observation.evaluateePostConNotes" rows="5"
                          ng-change="vm.saveConfNotes()" placeholder="Provide response here">
                </textarea>
                <p ng-if="vm.confNotesCoded || vm.isObservationReadOnly" ng-bind-html="vm.observation.evaluateePostConNotes"></p>
            </div>
            <br />
            <br />

            <div ng-if="vm.evaluatorNotesExist">
                <div>
                    <h4>Evaluator {{vm.conferenceTitle}} Summary</h4>
                    <span>Notes that summarize the meeting (optional)</span>
                </div>
                <hr />
                <div style="text-align: justify" ng-bind-html="vm.getEvaluatorConfNotes()">
                </div>
            </div>
            <br />
            <br />
        </div>

        <!-- Final Observation Summary Notes - only in post-conf -->
        <div ng-if="!vm.pre">
            <br /><br />
            <div>
                <h4>{{vm.evaluateeTerm}} Observation Summary</h4>
                <span>Notes that summarize the observation overall (optional)</span>
                <div class="pull-right">
                    <button id="share-final-notes-btn" class="btn btn-primary btn-xs"
                            ng-show="!vm.finalNotesSentByTee && !vm.isObservationReadOnly"
                            ng-click="vm.shareFinalNotes()">
                        Share Observation Summary
                    </button>

                    <span style="padding-right: 13px;" ng-show="vm.finalNotesSentDate">Observation Summary Shared on {{vm.finalNotesSentDate | date:'shortDate' }}</span>
                </div>
            </div>
            <hr />
            <div>
                <textarea ng-if="!vm.isObservationReadOnly"
                          class="form-control" ng-model="vm.observation.evaluateeFinalNotes" rows="5"
                          ng-change="vm.saveFinalNotes()" placeholder="Provide response here">
                </textarea>
                <p ng-if="vm.isObservationReadOnly" ng-bind-html="vm.observation.evaluateeFinalNotes"></p>
            </div>
            <br />
            <br />

            <div ng-if="vm.observation.evaluatorFinalNotes">
                <div>
                    <h4>Evaluator Observation Summary</h4>
                    <span>Notes that summarize the observation overall (optional)</span>
                </div>
                <hr />
                <div style="text-align: justify" ng-bind-html="vm.observation.evaluatorFinalNotes">
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>
