<div class="row" ng-if="false">
    <div class="col-lg-12">
        <h4>Prompt Responses & Notes</h4>
        <div>Here you can send prompts and view responses & notes</div>
    </div>
</div>

<br/>

<uib-tabset>
    <uib-tab heading="Prompt Setup">
        <div class="tab-body">
        <prompt-selector prompt-type="vm.promptType" send-prompts-fcn="vm.sendPrompts" observation="vm.observation"></prompt-selector>
        </div>
    </uib-tab>
    <uib-tab heading="Responses & Notes" active="vm.showResponses">
        <div class="tab-body">
            <div ng-include="'app/observation/details/conference/conference-tor-view-responses.html'"></div>
        </div>
    </uib-tab>
</uib-tabset>


