<div class="row prompt-display-area">
    <div class="col-lg-8">

        <div ng-if="vm.observation.wfState === vm.enums.WfState.OBS_IN_PROGRESS_TOR || vm.promptsSentByTor">
            <h4>Prompt Responses</h4>
            <span>List of responses</span>
            <div class="pull-right">
                <span ng-show="vm.promptsSentByTor && !vm.promptsSentByTee">Prompts Shared with {{vm.evaluateeTermUpperCase}} on {{vm.confQsTorSentDate | date:'shortDate' }}</span>
                <span ng-show="vm.promptsSentByTee">{{vm.evaluateeTermUpperCase }} Shared Responses on {{vm.confQsTeeSentDate | date:'shortDate' }}</span>
            </div>
            <hr/>
            <div ng-if="!vm.promptsSentByTor && vm.observation.wfState === vm.enums.WfState.OBS_IN_PROGRESS_TOR">
                <nothing-here title="'No responses yet'" icon="'fa fa-exclamation-circle'"
                              description="'The responses will be displayed here'"></nothing-here>
             </div>
            <div class="prompt-responses" ng-if="vm.promptsSentByTor">
                <div ng-repeat="userPromptResponse in vm.userPromptResponses">
                    <div class="prompt-response">
                        <div class="row">
                            <div class="col-lg-10">
                                <p style="font-weight:bold" ng-bind-html="userPromptResponse.prompt"></p>
                            </div>
                            <div class="col-lg-2">
                                <button ng-show="userPromptResponse.responded && !vm.isObservationReadOnly"
                                        class="pull-right btn btn-primary btn-xs"
                                        ng-click="vm.toggleCodeModeOnPrompt(userPromptResponse)">
                                    {{userPromptResponse.codeMode?'Done':'Code as Evidence'}}
                                </button>
                            </div>
                        </div>
                        <div  ng-show="!userPromptResponse.codeMode" class="row">
                            <div class="col-lg-12">
                                <hr />
                                <p ng-bind-html="userPromptResponse.responseWithOutRemoveTag" class="note-reader"></p>
                            </div>
                        </div>
                        <div ng-show="userPromptResponse.codeMode"
                             class="note-editor">
                            <!-- <div class="selectable-area"
                                 rubric-coder
                                 evidence-collection="vm.evidenceCollection"
                                 evidence-type="vm.promptEvidenceType"
                                 eval-session="vm.observation"
                                 code-id="{{userPromptResponse.id}}">
                            </div>
                            <div class="code-area code-area-{{userPromptResponse.id}}"
                                 ng-bind-html="userPromptResponse.response">
                            </div>
                            <div class="clearfix">
                            </div> -->
                            <rubric-code-editor
                                evidence-collection="vm.evidenceCollection"
                                evidence-type="vm.promptEvidenceType"
                                eval-session="vm.observation"
                                user-response="userPromptResponse">
                            </rubric-code-editor>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>
        </div>

        <div>
            <h4>{{vm.conferenceTitle}} Summary</h4>
            <span>Notes that summarize the {{vm.conferenceTitle}} meeting</span>
            <hr/>
        </div>
        <br/>
        <div ng-if="!vm.isObservationReadOnly">
            <!--<div summer-note-new  evidence-collection="vm.evidenceCollection"
                                note-owner="vm.evidenceCollection.observation"
                                note-property="vm.evaluatorNotesProperty"
                                save-message="vm.observation.saveNotice"></div>-->
            <code-editor evidence-collection="vm.evidenceCollection"
                         note-owner="vm.evidenceCollection.observation"
                         note-property="vm.evaluatorNotesProperty"
                         save-message="vm.observation.saveNotice"></code-editor>
        </div>
        <div ng-if="vm.isObservationReadOnly">
            <p ng-bind-html="vm.getEvaluatorConfNotes()"></p>
        </div>

        <br/><br/>
        <div ng-if="vm.showEvaluateeNotes">
            <div>
                <h4>{{vm.evaluateeTermUpperCase}} {{vm.conferenceTitle}} Summary</h4>
                <span>{{vm.evaluateeTermUpperCase }} shared meeting summary notes</span>

                <div class="prompt-response">
                    <div class="row">
                        <div class="col-lg-12">
                            <button ng-show="!vm.isObservationReadOnly"
                                    class="pull-right btn btn-primary btn-xs"
                                    ng-click="vm.toggleCodeModeOnNotes()">
                                {{vm.notesCodeMode?'Done':'Code as Evidence'}}
                            </button>
                        </div>
                    </div>
                    <div  ng-show="!vm.notesCodeMode" class="row">
                        <div class="col-lg-12">
                            <hr />
                            <p ng-bind-html="vm.confNotesWithoutRemoveCodeSelection" class="note-reader"></p>
                        </div>
                    </div>
                    <div ng-show="vm.notesCodeMode"
                         style="background-color: #e7eaec;padding-top:10px"
                         class="note-editor">
                        <!-- <div class="selectable-area"
                             rubric-coder
                             evidence-collection="vm.evidenceCollection"
                             evidence-type="vm.evaluateeNotesEvidenceType"
                             eval-session="vm.evidenceCollection.observation"
                             code-id="{{vm.observation.id}}">
                        </div>
                        <div style="margin: 10px 10px 20px 10px; background-color: white; padding: 10px;"
                             class="code-area code-area-{{vm.observation.id}}"
                             ng-bind-html="vm.confNotes">
                        </div>
                        <div class="clearfix">
                        </div> -->
                        <rubric-code-editor
                                evidence-collection="vm.evidenceCollection"
                                evidence-type="vm.promptEvidenceType"
                                eval-session="vm.observation"
                                user-response="userPromptResponse">
                            </rubric-code-editor>
                    </div>
                </div>
            </div>
        </div>

        <br /><br />
        <div>
            <h4>Observation Summary</h4>
            <span>Notes that summarize the observation overall (optional)</span>
            <hr/>
        </div>
        <div>
            <textarea ng-if="!vm.isObservationReadOnly"
                      class="form-control" ng-model="vm.observation.evaluatorFinalNotes" rows="7"
                      ng-change="vm.saveFinalNotes()" placeholder="Provide response here">
            </textarea>
            <p ng-if="vm.isObservationReadOnly" ng-bind-html="vm.observation.evaluatorFinalNotes"></p>
        </div>

        <div ng-if="vm.showEvaluateeFinalNotes">
            <br/><br/>
            <div>
                <h4>{{vm.evaluateeTermUpperCase}} Observation Summary</h4>
                <span>{{vm.evaluateeTermUpperCase }} shared observation summary notes</span>
                <hr/>
                <div>
                    <p ng-bind-html="vm.observation.evaluateeFinalNotes"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <rubric-helper></rubric-helper>
    </div>
</div>
