<div class="prompt-selection-area">
    <div ng-if="vm.editMode">
        <div class="row">
            <div class="col-sm-6">
                <div class="prompt-panel-header">
                    <div><b>Prompt Bank:</b></div>
                    <p class="description">List of prompts from your prompt bank that can be assigned</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="prompt-panel-header">
                    <div><b>Selected:</b></div>
                    <p class="description">Prompts that will be sent to the {{vm.evaluateeTermUpperCase}}</p>
                </div>
            </div>
        </div>

        <div class="prompts-wrapper">
            <div class="prompt-selection-area-left">
                <div class="available-prompts">
                    <div class="prompt-row prompt-row-header ">
                        <div class="row">
                            <div class="col-sm-8">Prompt</div>
                            <div class="col-sm-4">Source</div>
                        </div>
                    </div>
                    <div ng-repeat="userPrompt in vm.userPrompts">
                        <div class="prompt-row"
                             ng-if="!userPrompt.defaultAssignment"
                             ng-click="vm.selectPromptRow(userPrompt)"
                             ng-class="{'selected-prompt':vm.selectedPrompt.id==userPrompt.id}">
                            <div class="row">
                                <div class="col-sm-8" ng-bind-html="userPrompt.prompt"></div>
                                <div class="col-sm-3">{{userPrompt.definedBy}}</div>
                                <div class="col-sm-1" ng-if="!vm.isAssigned(userPrompt.id)">
                                    <button type="button"
                                            id="userPrompt.id"
                                            class="btn btn-md prompt-select-button"
                                            ng-click="vm.selectPromptRow(userPrompt);vm.assign();">
                                        <i class="fa fa-angle-double-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prompt-selection-area-right">
                <div class="prompt-row  prompt-row-header">
                    <div class="row">
                        <div class="col-sm-5">Prompt</div>
                        <div class="col-sm-2">Source</div>
                        <div class="col-sm-2">Required</div>
                        <div class="col-sm-2">Used</div>
                    </div>
                </div>
                <div class="prompts-list">
                    <div class="prompt-row"
                         ng-repeat="userPrompt in vm.assigendUserPromptResponses"
                         ng-click="vm.selectPromptAssignedRow(userPrompt)"
                         ng-class="{'selected-prompt':vm.selectedPromptAssigned.id==userPrompt.id}">
                        <div class="row">
                            <div class="col-sm-5">
                                <span ng-bind-html="userPrompt.prompt"></span>
                            </div>
                            <div class="col-sm-2">{{userPrompt.definedBy}}</div>
                            <div class="col-sm-2 text-center"><span ng-if="userPrompt.defaultAssignment" class="fa fa-check"></span></div>
                            <div class="col-sm-2 text-center"><span ng-if="userPrompt.response!=''" class="fa fa-check"></span></div>
                            <div class="col-sm-1 no-padding">
                                <button ng-click="vm.editPrompt(userPrompt)"
                                        ng-disabled="vm.showNewPromptArea || !userPrompt.private || userPrompt.defaultAssignment || userPrompt.response!=''"
                                        ng-class="{'color-darkgrey': vm.showNewPromptArea || !userPrompt.private || userPrompt.defaultAssignment || userPrompt.response!='',
                                                'edit-prompt':  !vm.showNewPromptArea && userPrompt.private && !userPrompt.defaultAssignment && !userPrompt.response!=''}"
                                        title="Edit"
                                        class="btn-transparent ">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button ng-click="vm.selectPromptAssignedRow(userPrompt);vm.unAssign();"
                                        ng-disabled="vm.showNewPromptArea || userPrompt.defaultAssignment || userPrompt.response!=''"
                                        ng-class="{'color-darkgrey': vm.showNewPromptArea || userPrompt.defaultAssignment || userPrompt.response!='', 'color-red': !vm.showNewPromptArea && !userPrompt.defaultAssignment && !userPrompt.response!=''}"
                                        title="Remove"
                                        class="btn-transparent">
                                    <span class="glyphicon glyphicon-remove-sign remove-prompt-icon"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="prompt-row" ng-show="vm.showNewPromptArea">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <textarea id="add-new-prompt-textarea" rows="3" class="col-xs-12" ng-model="vm.prompt"></textarea>
                                </div>
                                <div class="text-left" ng-if="!vm.selectedPromptAssigned || vm.selectedPromptAssigned.private">
                                    <div class="div-inline margin-top-5 margin-bottom-5 checkbox checkbox-primary">
                                        <input type="checkbox"
                                               ng-model="vm.addToBank"
                                               id="cbAddToBank"/>
                                        <label for="cbAddToBank">Add to Bank?</label>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-default btn-outline btn-xs"
                                            ng-click="vm.cancelAddPrompt()">Cancel</button>
                                    <button id="add-new-prompt-done-btn" class="btn btn-primary btn-xs"
                                            ng-click="vm.savePrompt()">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="add-new-prompt-btn" ng-click="vm.addNewPrompt();"
                        ng-class="{'disabled' : vm.showNewPromptArea}"
                        class="addNewPrompt text-left"
                        ng-disabled="vm.showNewPromptArea">
                <span class="add-stand-alone-q">
                    <span class="glyphicon glyphicon-plus-sign"
                          ng-class="{'color-darkgrey': false, 'color-green': !vm.showNewPromptArea}"></span>&nbsp;
                    <span>Add Observation-specific Prompt</span>
                </span>
                </button>
             </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right">
                    <button id="btnSend" ng-if="vm.promptsSentByTor"
                            ng-disabled="vm.showNewPromptArea"
                            ng-class="{'btn-disabled' : vm.showNewPromptArea }"
                            class="btn btn-outline btn-default btn"
                            ng-click="vm.cancelEditPrompts()">Cancel</button>
                    <button id="send-prompts-btn"
                            ng-disabled="vm.showNewPromptArea"
                            ng-class="{'btn-disabled' : vm.showNewPromptArea }"
                            ng-show="vm.assigendUserPromptResponses.length>0"
                            class="btn btn-primary btn-sm"
                            ng-click="vm.sendPrompts()">{{vm.promptsSentByTor?'Resend Prompts':'Send Prompts'}}</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!vm.editMode">
        <div class="q-done-list-area">
            <div class="q-done-list-area-header">
                <div>
                    <strong>Selected Prompts</strong>
                    <p>List of prompts you have selected to send to the {{vm.evaluateeTermLowerCase}}.</p>
                </div>
                <div ng-if="vm.assigendUserPromptResponses.length>0">
                    <div ng-show="vm.promptsSentByTor">Shared with {{vm.evaluateeTermLowerCase}} on {{vm.confQsTorSentDate | date:'shortDate' }}</div>
                    <button ng-if="!vm.observationIsReadOnly" class="btn btn-primary btn-sm" ng-click="vm.editMode=true">Edit Prompts</button>
                </div>
                <div ng-if="vm.assigendUserPromptResponses.length===0">
                    No prompts were sent to the {{vm.evaluateeTermLowerCase}}.
                </div>
            </div>
             <ol>
                <li ng-repeat="prompt in vm.assigendUserPromptResponses">{{prompt.prompt}}</li>
            </ol>
        </div>
    </div>
</div>