<div class="observation-tabs" affix ng-class="{affix:affixed}" ng-style="offset">
    <div>
        <div class="tabs-container tabs">
            <ul class="nav nav-tabs">
                <li ng-repeat="link in vm.tabs"
                    ui-sref-active="active"
                    ng-if="!link.disabled">
                    <a ui-sref="{{link.state}}">{{link.title}}</a>
                </li>
            </ul>
        </div>
        <div class="save-notice" ng-show="vm.selfAssessment.saveNotice">
            <label>{{vm.selfAssessment.saveNotice}}</label>
        </div>
        <div class="buttons">
            <div class="col-lg-12">
                <div class="pull-right">
                    <button ng-show="vm.selfAssessment.isShared" class="btn btn-blue btn-sm">
                        <span class="sharing-icon">
                            <span class="fa fa-user evaluator"></span>
                            <span class="fa fa-user evaluatee"></span>
                        </span>
                        Shared
                    </button>
                    <button ng-show="vm.isEvaluatee && !vm.selfAssessment.isShared"
                            class="btn btn-primary btn-sm"
                            ng-click="vm.shareSelfAssessment()">
                        Share Self-Assessment
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-content">
    <div class="tab-body">
        <div ui-view="content"></div>
    </div>
</div>
