<div class="modal-dialog">
    <div class="modal-body flatmodal">
    <div class="form-group">
        <h2 class="modal-title" ><strong>Finalize {{title}} Prompts</strong></h2>
    </div>

    <div class="form-group">
        <p class="font-size14">Once the prompts have been finalized you will no longer be able to remove them. You will be able to continue to edit the prompt text, but only minor corrections should be done at this as the prompt already be in use.</p>

        <p>You may also choose to retire a prompt. In this case any prompt that were already assigned will stay assigned, but the retired prompt will no longer be assigned.</p>
    </div>

    <div class="block-center text-center">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="ok()" >Yes, finalize prompts</button>
    </div>
</div>
</div>
