<div class="row content">
    <div class="col-lg-12">
        <h4>{{vm.gridOption.title}} Library Prompts</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Select</th>
                <th>Prompt</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="prompt in vm.prompts">
                <td>
                    <div class="checkbox checkbox-primary no-margin">
                        <input type="checkbox"
                               id="{{prompt.$$hashKey}}"
                               ng-disabled="prompt.alreadySelected"
                               ng-model="prompt.selected">
                        <label for="{{prompt.$$hashKey}}"></label>
                    </div>
                </td>
                <td>
                    <span ng-bind-html="prompt.prompt"></span>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button type="button" class="btn btn-default btn-outline btn-xs" ng-click="vm.cancel()">Cancel</button>
            <button type="button" class="btn btn-primary btn-xs" ng-disabled="!vm.availablePrompts" ng-click="vm.save()">Add Selected Prompts</button>
        </div>
    </div>
</div>

