<div class="row">
    <div class="col-lg-12">
        <h2>{{vm.gridOption.title}} Prompts</h2>
        <p ng-if="vm.gridOption.districtAdmin">Create the prompts you would like to be available for your district</p>
        <p ng-if="vm.gridOption.schoolAdmin">Create the prompts you would like to be available for your school</p>
        <p ng-if="vm.gridOption.evaluator">Create the prompts you would like to be available for your observations</p>
    </div>
</div>

<div class="row" ng-if="vm.studentGrowth && !vm.gridOption.districtAdmin">
    <div class="col-lg-12">
        <br/><br/>
        <div class="alert alert-info eval-alert">
            <i class="fa fa-2x fa-exclamation-circle"></i>
            <div class="alert-content">
                Student Growth Goal Prompts are created at the district-level.
            </div>
        </div>
    </div>
</div>


<div class="row" ng-if="vm.studentGrowth && !vm.gridOption.districtAdmin && vm.prompts.length===0">
    <div class="col-lg-12">
        <nothing-here title="'No prompts have been create by your district yet'" icon="'fa fa-exclamation-circle'" description="'Any prompts created by your district will be displayed here.'"></nothing-here>
    </div>
</div>

<div ng-hide="vm.studentGrowth && !vm.gridOption.districtAdmin && vm.prompts.length===0">
    <!-- todo: implement library prompts next year
    <br/>
    <div ng-if="vm.gridOption.districtAdmin">
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right">
                    <button ng-click="vm.showLibraryPrompts();"
                            class="btn btn-primary btn-xs"
                            ng-disabled="vm.showLibraryPromptArea || vm.showNewPromptArea">
                       Add Library Prompts
                    </button>
                </div>
            </div>
        </div>
        <div class="row" ng-if="vm.showLibraryPromptArea">
            <div class="col-lg-12">
                    <lib-prompts close-fcn="vm.closeLibraryPromptsArea" bank-prompts="vm.prompts" grid-option="vm.gridOption"></lib-prompts>
            </div>
        </div>
    </div>-->
    <br/>
    <div class="prompt-grid-area">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-prompts">
                    <thead>
                        <tr>
                             <th>Prompt</th>
                             <th width="120px" ng-if="!vm.gridOption.districtAdmin">Source</th>
                             <th ng-if="vm.studentGrowth" ng-repeat="group in vm.groups">{{group.name}}</th>
                             <th width="110px" ng-if="!vm.studentGrowth">Required</th>
                             <th width="130px"></th>
                             <th width="200px" ng-if="!vm.studentGrowth || vm.gridOption.districtAdmin">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="prompt in vm.prompts">
                        <td >
                            <div ng-bind-html="prompt.prompt"></div>
                        </td>
                        <td ng-if="!vm.gridOption.districtAdmin">{{prompt.definedBy}}</td>
                        <td class="text-center" ng-if="vm.studentGrowth" ng-repeat="group in vm.groups">
                            <span ng-if="vm.promptInGroup[group.id+'-'+prompt.id]" class="fa fa-check"></span>
                        </td>
                        <td class="text-center" ng-if="!vm.studentGrowth">
                            <span ng-if="vm.requiredPrompt[prompt.id]" class="fa fa-check text-muted"></span>
                            <span ng-if="vm.removableFromDefaultGroup[prompt.id]" class="fa fa-check"></span>
                        </td>
                        <td class="text-center">
                            <span ng-show="!vm.requiredPrompt[prompt.id] && prompt.assigned" class="text-muted">(Answered/Used)</span>
                            <span ng-show="vm.requiredPrompt[prompt.id]" class="text-muted">(Required Prompt)</span>
                        </td>
                        <td ng-if="!vm.studentGrowth || vm.gridOption.districtAdmin">
                            <div class="pull-right">
                                <button ng-if="prompt.editable" class="btn btn-outline btn-default btn-xs"
                                        ng-click="vm.deletePrompt(prompt)"
                                        ng-disabled="vm.showNewPromptArea"
                                        confirm="Are you sure you want to remove this prompt?">Remove</button>
                                <button ng-if="prompt.isOwner"
                                        ng-disabled="vm.showNewPromptArea"
                                        class="btn btn-primary btn-xs"
                                        ng-click="vm.editPrompt(prompt)">Edit</button>
                                <button ng-if="!prompt.isOwner && vm.assignableToDefaultGroup[prompt.id]"
                                        ng-disabled="prompt.editable || !vm.assignableToDefaultGroup[prompt.id] || vm.showNewPromptArea"
                                        class="btn btn-primary btn-xs"
                                        ng-click="vm.assignToDefaultGroup(prompt)">Add to Default</button>
                                <button ng-if="!prompt.isOwner && vm.removableFromDefaultGroup[prompt.id]"
                                        ng-disabled="prompt.editable || !vm.removableFromDefaultGroup[prompt.id] || vm.showNewPromptArea"
                                        class="btn btn-primary btn-xs"
                                        ng-click="vm.removeFromDefaultGroup(prompt)">Remove from Default</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div ng-if="vm.showNewPromptArea" class="new-prompt-area">
            <div class="row" ng-if="vm.prompt.assigned">
                <div class="col-lg-12">
                    <div class="alert alert-danger eval-alert">
                        <i class="fa fa-2x fa-exclamation-circle"></i>
                        <div class="alert-content">
                            This prompt has been assigned and is already in use. Changes to wording will affect all assigned users.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <br/>
                        <strong>Prompt:</strong>
                        <div>
                            <textarea rows="3" class="col-xs-12" placeholder="Enter you prompt here"  ng-model="vm.editPromptModel"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" ng-if="vm.studentGrowth">
                    <strong>Prompt relevant to</strong>
                    <table class="table">
                        <tr ng-repeat="group in vm.groups">
                            <td>
                                <button  class="btn btn-xs btn-fn"
                                         ng-class="{ 'btn-default': !vm.editPromptInGroup[group.id], 'btn-primary': vm.editPromptInGroup[group.id] }"
                                         ng-click="vm.editPromptInGroup[group.id]=!vm.editPromptInGroup[group.id]">
                                    {{group.name}}
                                </button>
                            </td>
                            <td>{{group.frameworkNodeTitle}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-12" ng-if="!vm.studentGrowth">
                    <div  class="div-inline margin-top-5 margin-bottom-5 checkbox checkbox-primary">
                        <input type="checkbox" id="cbDefaultGroup" ng-model="vm.editPromptInGroup[vm.defaultGroup.id]" />
                        <label for="cbDefaultGroup">Require this prompt in each observation</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="pull-right">
                        <button class="btn btn-default btn-outline btn-xs" ng-click="vm.cancelAddPrompt()">Cancel</button>
                        <button class="btn btn-primary btn-xs" ng-click="vm.savePrompt(vm.prompt.id===0)">Done</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="vm.studentGrowth && !vm.gridOption.districtAdmin || vm.readOnly">
            <div class="col-lg-12">
                <button ng-click="vm.editPrompt(null);" ng-class="{'disabled' : vm.showNewPromptArea}" class="add-new-prompt" ng-disabled="vm.showNewPromptArea">
                <span class="glyphicon glyphicon-plus-sign"
                      ng-class="{'color-darkgrey': false, 'color-green': !vm.showNewPromptArea}"></span>&nbsp;
                    <span>Add New Prompt</span>
                </button>
            </div>
        </div>
    </div>
</div>


