<div class="tabs-container">
    <div class="row">
        <div class="col-lg-12">
            <div >
                <span ng-init="preConfActive = (vm.currentTab===0)"></span>
                <span ng-init="postConfActive = (vm.currentTab===1)"></span>
                <span ng-init="sgGoalsActive = (vm.currentTab===2)"></span>
                <uib-tabset selected="vm.currentTab">
                    <uib-tab heading="Pre-Conference" active="preConfActive">
                        <div class="tab-body">
                            <div class="tab-content">
                                <prompt-grid grid-option="vm.preConfGridOption"></prompt-grid>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Post-Conference" active="postConfActive">
                        <div class="tab-body">
                            <div class="tab-content">
                                <prompt-grid grid-option="vm.postConfGridOption"></prompt-grid>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Student Growth Goal Setting" active="sgGoalsActive">
                        <div class="tab-body">
                            <div class="tab-content">
                                <prompt-grid grid-option="vm.sgGoalsGridOption"></prompt-grid>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
