<div class="tabs-container">
    <div class="row">
        <div class="col-lg-12">
            <uib-tabset>
                <uib-tab heading="General">
                    <div class="tab-body">
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ng-form name="vm.settingsForm" novalidate>
                                        <div class="row">
                                            <div class="col-lg-12">

                                                <br/><br/>
                                                <div>
                                                    <div>
                                                        <h3>Optional Modules</h3>
                                                    </div>
                                                    <div>
                                                        <table class="table table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <th>Select</th>
                                                                <th>Settings</th>
                                                                <th>Description</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="checkbox checkbox-primary no-margin">
                                                                        <input type="checkbox"
                                                                               id="cbSelfAssessmentsModuleEnabled"
                                                                               ng-model="vm.districtConfiguration.selfAssessmentsModuleEnabled">
                                                                        <label for="cbSelfAssessmentsModuleEnabled"></label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <span>Enable Self-Assessments</span>
                                                                </td>
                                                                <td>
                                                                    Enable the Self-Assessment module within eVAL. If disabled users will not be able
                                                                    to perform self-assessments within eVAL.
                                                                </td>
                                                            </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <br/>

                                                <div>
                                                    <div>
                                                        <h3>Framework</h3>
                                                    </div>
                                                    <div>
                                                        <table class="table table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <th>Select</th>
                                                                <th>Settings</th>
                                                                <th>Description</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="checkbox checkbox-primary no-margin">
                                                                        <input type="checkbox"
                                                                               id="cbNonSummativeScoringEnabled"
                                                                               ng-model="vm.districtConfiguration.nonSummativeScoringEnabled">
                                                                        <label for="cbNonSummativeScoringEnabled"></label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <span>Enable Non-summative Scoring</span>
                                                                </td>
                                                                <td>
                                                                    If this settings is disabled all rubric performance level input will be hidden until the final Summative Evaluation screen.
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="vm.isDanielsonFramework">
                                                                <td>
                                                                    <div class="checkbox checkbox-primary no-margin">
                                                                        <input type="checkbox"
                                                                               id="cbCriticalAttributesEnabled"
                                                                               ng-model="vm.districtConfiguration.criticalAttributesEnabled">
                                                                        <label for="cbCriticalAttributesEnabled"></label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <span>Enable Criteria Attributes</span>
                                                                </td>
                                                                <td>
                                                                    Within the Evidence Alignment View Critical Attributes will be displayed alongside the
                                                                    rubric.
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="vm.isDanielsonFramework">
                                                                <td>
                                                                    <div class="checkbox checkbox-primary no-margin">
                                                                        <input type="checkbox"
                                                                               id="cbCriticalAttributesReferenceOnly"
                                                                               ng-model="vm.districtConfiguration.criticalAttributesReferenceOnly">
                                                                        <label for="cbCriticalAttributesReferenceOnly"></label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <span>Critical Attributes are for Reference only</span>
                                                                </td>
                                                                <td>
                                                                    This setting determines whether users can select text from the critical attributes when creating aligned evidence packages. If this setting is disabled, then the Critical Attributes are displayed for reference information
                                                                    only.
                                                                </td>
                                                            </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <br/><br/>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-primary btn-sm" ng-click="vm.saveSettings()">Save Settings</button>
                                        </div>
                                    </ng-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab ng-if="vm.evaluationType != vm.enums.EvaluationType.PRINCIPAL" heading="Observation Report">
                    <div class="tab-body">
                        <div class="tab-content">
                            <div>
                                <h3>District settings for official Observation Report</h3>
                                <p>
                                    This page allows a district administrator to configure the title and sections that will appear on the
                                    official Observation Report.
                                </p>
                                <br/><br/>
                                <div class="form-group">
                                    <label>Observation Report Title</label>
                                    <input type="text" name="observationReportTitle" class="form-control" ng-model="vm.districtConfiguration.observationReportTitle" maxlength="200" placeholder="Enter Observation Report Title" required>
                                </div>
                                <br/><br/>
                                <label>Report Sections</label>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Section</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="optionFormat in vm.observationFinalOptionReportFormats">
                                        <td>
                                            <div class="checkbox checkbox-primary no-margin">
                                                <input type="checkbox"
                                                       id="cbobsfinal{{optionFormat.id}}"
                                                       ng-model="optionFormat.enabled">
                                                <label for="cbobsfinal{{optionFormat.id}}"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <span>{{optionFormat.reportOption.optionName}}</span>
                                        </td>
                                        <td>
                                            <p>{{optionFormat.reportOption.description}}</p>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <br/><br/>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="vm.saveObservationReportOptions()">Save Settings</button>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Summative Evaluation">
                    <div class="tab-body">
                        <div class="tab-content">
                            <div>
                                <h3>District settings for the Summative Evaluation</h3>
                                <p>
                                    This page allows a district administrator to configure when evaluators can access the Summative Evaluation section and the format of the Final Report.
                                </p>
                                <br/>
                                <div>
                                    <div>
                                        <label>General Settings</label>
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Select</th>
                                                <th>Settings</th>
                                                <th>Description</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="checkbox checkbox-primary no-margin">
                                                        <input type="checkbox"
                                                               id="cbSummativeEvaluationEnabled"
                                                               ng-model="vm.districtConfiguration.SummativeEvaluationEnabled">
                                                        <label for="cbSummativeEvaluationEnabled"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span>Enable Summative Evaluation</span>
                                                </td>
                                                <td>
                                                    The Summative Evaluation section will not be active until this has been enabled.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox checkbox-primary no-margin">
                                                        <input type="checkbox"
                                                               id="cbSummativeCriteriaStmtOfPerfRequired"
                                                               ng-model="vm.districtConfiguration.summativeCriteriaStmtOfPerfRequired">
                                                        <label for="cbSummativeCriteriaStmtOfPerfRequired"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span>Criteria Statement of Performance Required</span>
                                                </td>
                                                <td>
                                                    Each criteria on the Summative Evaluation screen has an input field for a summative
                                                    statement of performance. This setting determines whether the field is required before the Summative Report can be generated.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox checkbox-primary no-margin">
                                                        <input type="checkbox"
                                                               id="cbSummativeNextYearEvalCycleIsRequired"
                                                               ng-model="vm.districtConfiguration.summativeNextYearEvalCycleIsRequired">
                                                        <label for="cbSummativeNextYearEvalCycleIsRequired"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span>Next Year's Suggested Evaluation Cycle Required</span>
                                                </td>
                                                <td>
                                                    The Summative Evaluation screen provides the opportunity for the evaluator to suggest the evaluation cycle for the
                                                    upcoming year. This setting determines whether the field is required before the Summative Report can be generated.
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <br/><br/>
                                    <div class="form-group">
                                        <label>Final Report Title</label>
                                        <input type="text" name="observationReportTitle" class="form-control" ng-model="vm.districtConfiguration.finalReportTitle" maxlength="200" placeholder="Enter Final Report Title" required>
                                    </div>
                                    <br/><br/>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="vm.saveFinalReportOptions()">Save Settings</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
