<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <page-header class="col-lg-12" title="'District Viewer Setup'">
                        District users that are in the role District Viewer can be configured to be able to view principal data in selected schools.
                    </page-header>
                </div>
                <br/>
                <br/>
                <div>
                    <label>Select District Viewer:</label>
                    <select class="form-control" ng-model="vm.viewer"
                            ng-change="vm.loadDistrictViewer()"
                            ng-options="viewer as viewer.displayName for viewer in vm.viewers">
                    </select>
                </div>
                <br/>
                <br/>
                <div>
                    <label>Check each school where the District Viewer has access:</label>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Select</th>
                            <th>School</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="school in vm.schools">
                            <td>
                                <div class="checkbox checkbox-primary no-margin">
                                    <input type="checkbox"
                                           id="{{school.$$hashKey}}"
                                           ng-change="vm.setDistrictViewerSchool(school)"
                                           ng-model="school.selected">
                                    <label for="{{school.$$hashKey}}"></label>
                                </div>
                            </td>
                            <td>
                                <span ng-bind-html="school.schoolName"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>