<span ng-repeat="node in vm.alignment | orderBy:'sequence'">
    <strong ng-click="vm.redirect(node.shortName, null)">
        {{node.shortName}}
    </strong>
    (
    <span ng-repeat="row in node.rows | orderBy:'sequence'" ng-click="vm.redirect(node.shortName, row.id)">
        {{row.shortName}}{{$last ? '' : ','}}
    </span>
    ){{vm.inLine && !$last ? ', ' : ''}}
    <br ng-if="!vm.inLine && !$last">
</span>
