<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>View Artifact</h2>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <strong>Artifact Title</strong>&nbsp;
                        {{vm.artifact.title}}
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <strong>Date:</strong>&nbsp;&nbsp;
                        {{vm.artifact.creationDateTime | date }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <strong>Created By:</strong>&nbsp;&nbsp;
                        {{vm.artifact.createdByDisplayName}} ( {{ vm.source }} )
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <p><strong>Attached Item(s):</strong></p>
                        <div ng-repeat="item in vm.artifact.libItems">
                            <div class="well">
                                <div ng-show="item.itemType===vm.enums.ArtifactLibItemType.PROFPRACTICE">
                                    {{vm.itemTypeToString(item.itemType) + ': ' + (item.title?vm.itemDisplayName(item): '')}}<br/>
                                    <span  ng-bind-html="item.profPracticeNotes"></span>
                                </div>
                                <div ng-show="item.itemType!==vm.enums.ArtifactLibItemType.PROFPRACTICE">
                                    {{vm.itemTypeToString(item.itemType)}}: <a ng-click="vm.viewItem(item)">{{vm.itemDisplayName(item)}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <artifact-builder-alignment
                            read-only="true"
                            artifact="vm.artifact"
                            goal-bundle="vm.bundle">
                        </artifact-builder-alignment>
                        <div ng-if="vm.artifact.evidence">
                            <br/><br/>
                            <strong>Reasoning for your alignment choice(s): (optional)</strong>
                            <p ng-bind-html="vm.artifact.evidence"></p>
                        </div>
                    </div>
                </div>

                <br/><br/>
                <div class="row">
                    <div class="col-lg-12">
                        <artifact-builder-linked-objects
                            read-only="true"
                             artifact="vm.artifact"
                            goal-bundle="vm.bundle">
                        </artifact-builder-linked-objects>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-sm-12 text-center button-row">
                        <button class="btn btn-primary" ng-click="vm.goBack()">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
