<!-- Wrapper-->
<div id="wrapper">

    <!-- Left Navigation -->
    <div ui-view="left-navbar"></div>

   <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}" style="min-height: 860px;">

        <!-- Page wrapper -->
        <div ng-include="'app/layout/top-nav/top-navbar.html'"></div>

        <!-- Page Header/Breadcrumbs -->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div ng-class="{'col-lg-8':vm.evaluating || vm.impersonating, 'col-lg-12':!vm.evaluating && !vm.impersonating}">
                <h2 ncy-breadcrumb-last></h2>
   <!--             <div ncy-breadcrumb></div>-->
     <!--           <ui-breadcrumbs displayname-property="data.displayName"
                                abstract-proxy-property="data.breadcrumbProxy"
                                [template-url="" ]
                                >
                </ui-breadcrumbs>-->                
            </div>
            <div class="col-lg-4" ng-show="vm.evaluating || vm.impersonating">
                <div ui-view="eval-profile" ></div>
            </div>
        </div>


        <!-- Main view  -->
        <div class="wrapper wrapper-content">
            <div ui-view="content"></div>

            <br/>
            <div class="footer">
                <div>
                    <strong>Copyright</strong> 2011, 2012, 2013, 2014, 2015, 2016 WEA, OSPI and ESD 113 &copy; version: {{vm.versionString}}
                </div>
            </div>
        </div>

        <!-- Footer -->
     <!--   <br/>
        <div class="footer">
            <div>
                <strong>Copyright</strong> 2011, 2012, 2013, 2014, 2015, 2016 WEA, OSPI and ESD 113 &copy; version: {{vm.versionString}}
            </div>
        </div>
-->
    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->







