<table ng-if="vm.editMode" class="edit">
    <thead>
        <tr>
            <td colspan="2">
                <span ng-bind-html="vm.editHeader"></span>
                <button ng-click="vm.toggleEditMode()"
                        ng-show="vm.showDone"
                        class="btn btn-primary btn-xs pull-right">
                    Done
                </button>
                <span class="empty-warning pull-right" ng-show="!vm.showDone">Select at least one item</span>
                <button ng-click="vm.clear()"
                        ng-show="vm.canClear()"
                        class="btn btn-default btn-xs pull-right">
                    Clear
                </button>
            </td>
        </tr>
    </thead>
    <tbody ng-repeat="category in vm.categories">
        <tr ng-click="category.collapsed = !category.collapsed"
            class="category"
            ng-class="{empty: vm.selectionCount(category) == 0}">
            <td class="title" ng-bind-html="category.name"></td>
            <td>
                <div ng-if="vm.selectionCount(category) > 0"
                     class="label label-primary">
                    {{ vm.selectionCount(category) }}
                </div>
            </td>
        </tr>
        <tr ng-hide="category.collapsed"
            ng-repeat="row in category.rows"
            class="item"
            ng-click="vm.toggleRow(row, $event)"
            ng-class="{ selected: row.selected && !row.inUse, 'in-use': row.inUse || row.readOnly}">
            <td><span ng-bind-html="row.name"></span></td>
            <td>
                <span ng-if="row.inUse && !row.readOnly" class="in-use">
                    (used)&nbsp;<span class="fa fa-lock"></span>
                </span>
                 <span ng-if="row.readOnly && !row.inUse" class="in-use">
                    (read-only)&nbsp;<span class="fa fa-lock"></span>
                </span>
                <span ng-if="row.readOnly && row.inUse" class="in-use">
                    (used, read-only)&nbsp;<span class="fa fa-lock"></span>
                </span>
                <div ng-if="!row.inUse && !row.readOnly" class="checkbox checkbox-circle checkbox-primary">
                    <input type="checkbox"
                           ng-model="row.selected">
                    <label></label>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table ng-if="!vm.editMode" class="view">
    <thead>
        <tr>
            <td colspan="2">
                <span ng-bind-html="vm.viewHeader"></span>
                <button ng-if="!vm.readOnly && !vm.locked"
                        ng-click="vm.toggleEditMode()"
                        class="btn btn-default btn-xs pull-right">
                    {{vm.selectedRowCount===0?"Choose":"Edit"}}
                </button>
                <label ng-if="!vm.readOnly && vm.locked" class="pull-right locked">
                    <input type="checkbox" ng-model="vm.locked" ng-change="vm.unlock()">
                    Focus Locked
                </label>
            </td>
        </tr>
    </thead>
    <tbody ng-if="vm.selectedRowCount===0">
        <tr>
            <td colspan="2">No selection yet.</td>
        </tr>
    </tbody>
    <tbody ng-repeat="category in vm.categories">
        <tr ng-show="vm.selectionCount(category) > 0">
            <td colspan="2" ng-bind-html="category.name"></td>
        </tr>
        <tr ng-repeat="row in category.rows" class="item" ng-if="row.selected || row.inUse">
            <td class="title" ng-bind-html="row.name"></td>
            <td>
                <span ng-if="row.inUse && !row.readOnly" class="in-use">
                    (used)&nbsp;<span class="fa fa-lock"></span>
                </span>
                 <span ng-if="row.readOnly && !row.inUse" class="in-use">
                    (read-only)&nbsp;<span class="fa fa-lock"></span>
                </span>
                <span ng-if="row.readOnly && row.inUse" class="in-use">
                    (used, read-only)&nbsp;<span class="fa fa-lock"></span>
                </span>
            </td>
        </tr>
    </tbody>
</table>
