<div class="modal-dialog">
    <div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <h2 class="modal-title" ><strong>{{data.title}}</strong></h2>
            </div>

            <div class="form-group">
                {{data.text}}
            </div>

            <br/>

            <div class="text-center">
                <button id="cancel-btn" type="button" class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
                <button id="ok-btn" type="button" class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
            </div>
        </div>
    </div>
</div>
</div>