<div class="div-inline">
    <button class="btn btn-primary-dark btn-xs" ng-click="vm.toggle()">Filters</button>
    <div class="btn-group" ng-if="vm.opened">
        <button class="btn btn-xs"
                ng-repeat="filter in vm.filters"
                ng-class="filter.selected ? 'btn-primary-dark' : 'btn-default'"
                ng-click="vm.select(filter)">
            {{:: filter.name }} {{ filter.fn ? '(' + vm.filterCount(filter) + ')' : '' }}
        </button>
    </div>
</div>