<div class="row">
    <div class="col-sm-12">
        <div ng-if="vm.options.title">{{vm.options.title}}</div>
        <div ng-if="vm.options.subtitle">{{vm.options.subtitle}}</div>
        <div ng-repeat="item in vm.list">
            <div ng-bind-html="vm.directive"></div>
        </div>
    </div>
</div>