<!-- Wrapper-->
<div id="wrapper">

    <!-- Left Navigation -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" side-navigation id="side-menu">

                <!--HEADER-->
                <li class="left-navbar-logo">
                    <img alt="image" src="{{vm.evalLogo}}"/>
                </li>
                <!--PICTURE AND ROLES-->
                <li class="nav-section-profile">
                    <div class="nav-summary">
                        <img alt="image" class="img-circle"
                             src="{{vm.user.profileImageUrl || 'images/blank-profile-48x48.png'}}"/>
                    <span class="block m-t-xs">
                        <strong class="font-bold">{{vm.user.displayName}}</strong>
                    </span>
                    </div>
                </li>
                <!--ROLE STRING AND OPTIONS BAR-->
                <li class="nav-section-orientation">
                    <div class="nav-summary">
                         <span class="text-muted block">
                            {{vm.rolesDisplayString}}
                         </span>

                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <!-- Page wrapper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg" style="min-height: 860px;">

        <!-- Top Nav -->
        <div ng-include="'app/layout/top-nav/top-navbar.html'"></div>

        <!-- Page Header/Breadcrumbs -->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Welcome to eVAL</h2>
            </div>
        </div>
        <!-- Main view  -->
        <div class="wrapper wrapper-content">
            <div ui-view="content"></div>
        </div>

        <!-- Footer -->
        <!--   <div class="footer fixed">
               <div>
                   <strong>Copyright</strong> 2011, 2012, 2013, 2014, 2015, 2016 WEA, OSPI and ESD 113 &copy; version: {{vm.versionString}}
               </div>
           </div>-->

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->




