<div class="nothing-here no-activity">
    <div>
        <span class="no-activity-icon fa" ng-class="icon || 'fa-smile-o'" />
    </div>
    <div style="margin-top:15px;">
        <span class="no-activity-title">{{title || 'Nothing here yet'}}</span>
        <br/>
        <span class="no-activity-description">{{description || ''}}</span>
    </div>
</div>
