<div class="modal-dialog">
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <h2 class="modal-title" ><strong>Observation Evidence Coding Modication</strong></h2>
                </div>

                <div class="form-group">
                    Before you can edit this text, you would have to remove the existing selection.
                    Once you finish editing, re-select the desired section again and re-apply coding.
                </div>

                <br/>

                <div class="text-center">
                    <button ng-click="vm.cancel()" class="btn btn-default btn-outline">Cancel</button>
                    <button ng-click="vm.remove()" class="btn btn-primary">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
