<div class="modal-dialog">
    <div class="modal-body flatmodal">
        <div class="form-group">
            <h2 class="modal-title" ><strong>Observation Evidence Coding Modification</strong></h2>
        </div>
        <div class="form-group">
            <p >
                This text contains multiple coded elements,  some of them might already be used in
                the system. you can still remove the coding and delete the text,  take into
                account the following.
            </p>
            <ul>
                <li>
                    coded sections  that aren't used yet will be removed
                </li>
                <li>
                    coded sections that are used within the system, eVAL will create an independent copy of the used text,  and it will remain available.
                </li>
            </ul>
        </div>
        <br/>

        <div class="block-center text-center">
            <button ng-click="vm.cancel()" class="btn btn-default btn-outline">Cancel</button>
            <button ng-click="vm.continueChange()" class="btn btn-primary">Continue</button>
        </div>
    </div>
</div>
