<table class="table rubric-row-details">
    <thead>
    <tr>
        <th ng-repeat="level in vm.enums.PerformanceLevels"
            class="rubric-descriptor-header">
            <div class="">
                {{ level.substring(0,3) | uppercase}}
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td ng-repeat="level in vm.enums.PerformanceLevels" width="25%"
            ng-bind-html="vm.getSafeHtml(vm.row[level].descriptor)">
        </td>
    </tr>
    </tbody>
</table>
  