<input type="text"
       class="form-control"
       ng-model="inputTime"
       ng-pattern="timeRegex"
       time-format show-meridian="showMeridian"
       ng-focus="open()"
       ng-readonly="readonly"
       ng-change="changed()"
/>
<div class="input-group-btn" ng-class="{open:isOpen}">
    <div class="dropdown-menu pull-right">
        <uib-timepicker ng-model="inputTime"
                        show-meridian="showMeridian"
                        minute-step="15"
                        ng-show="!readonly"
                        ng-change="changed()"></uib-timepicker>
    </div>
</div>