<div class="row">
    <div class="col-lg-12">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li ng-repeat="link in links"
                    ng-class="{'active': (!!state.params.id  && state.params.id == link.params.id) || (!state.params.id && state.includes(link.state))}"
                    ng-if="!link.disabled">
                    <a ng-click="navigate(link)" ng-bind-html="link.title"></a>
                    <!--<a ng-click="navigate(link)">{{(!! state.params.id && state.params.id == link.params.id)}}</a>-->
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-body">
                    <div ui-view="content"></div>
                    <br/><br/>
                </div>
            </div>
        </div>
    </div>
</div>