<div>
	<p>
		<strong>Evaluator:</strong>
		<span>{{vm.evaluatorDisplayName}}</span>
    </p>
	
	<p>
		<strong>{{vm.evaluateeTerm}}:</strong>
		<span>{{vm.evaluatee.displayName}}</span>
	</p>
	
	<p>
		<strong>Eval Cycle:</strong>
		<span ng-bind-html="vm.planTypeDisplayName">{</span>
	</p>

    <p ng-if="vm.evalFocused">
        <strong>Self-Assessment Focus:</strong>
        <span ng-bind-html="vm.selfAssessmentFocusDisplayName"></span>
    </p>
</div>