<categorized-selector edit-header="<b>Select the Self-Assessment Focus</b>"
                      view-header="<b>Self-Assessment Focus</b>"
                      read-only="vm.readOnly"
                      categories="vm.categories"
                      state-framework-only="false"
                      locked="vm.selfAssessment.focused"
                      unlocked="vm.unlocked"
                      changed="vm.changed($selectedRows)"></categorized-selector>
