<div read-only-area read-only="vm.isSelfAssessmentReadOnly">
    <div>
        <div>
            <div>
                <h2>Self-Assessment Setup</h2>
                <div>Here you can setup the general information about the Self-Assessment</div>
            </div>

            <br/>
            <div style="margin-top: 30px;">
                <form novalidate>
                    <div class="row">
                        <div class="col-lg-3 bdr1">
                            <self-assessment-details self-assessment="vm.selfAssessment"></self-assessment-details>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>Self-Assessment Title:</label>
                                    <input class="form-control"
                                           ng-hide="vm.isSelfAssessmentReadOnly"
                                           maxlength="30"
                                           type="text"
                                           ng-model="vm.title"
                                           ng-change="vm.titleChanged()"
                                           ng-focus="vm.titleFocused()"
                                           ng-blur="vm.titleBlurred()"
                                           placeholder="Enter Title"
                                           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }" />
                                    <p ng-show="vm.isSelfAssessmentReadOnly">{{vm.selfAssessment.title}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-if="vm.selfAssessment.focused">
        <br/>
        <self-assessment-alignment self-assessment="vm.selfAssessment" evidence-collection="vm.evidenceCollection"></self-assessment-alignment>
    </div>

    <div class="row" ng-if="vm.isEvaluatee && !vm.selfAssessmentIsReadOnly">
        <div class="col-lg-12">
            <br/><br/>
            <button class="btn btn-default btn-outline"
                    confirm="Are you sure you want to delete this Self-Assessment?"
                    ng-click="vm.deleteSelfAssessment()">Delete Self-Assessment</button>
        </div>
    </div>
</div>
