
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">eVAL</h1>
        </div>
        <h3>Welcome to eVAL</h3>
        <form class="m-t" role="form">
            <div class="form-group">
                <select class="form-control"
                        ng-model="vm.district"
                        ng-change="vm.changeDistrict()"
                        ng-options=" district.districtName for district in vm.districts track by district.districtCode">
                </select>
                <br/>
                <select class="form-control" ng-model="vm.user"
                        ng-options="user.userName for user in vm.users track by user.userName">
                </select>
            </div>
            <button id="loginButton" ng-click="vm.login()" class="btn btn-primary block full-width m-b">Login</button>
            </form>
    </div>
</div>