<div class="row" id="rubricRow-{{vm.row.data.id}}">
    <div class="col-lg-12">
        <div class="row" ng-hide="vm.state.viewOptions.filter === 'custom'">
            <div class="col-lg-12">
                <div class="rubric-header">
                    <strong>Rubric Alignment</strong>
                    <div class="pull-right" ng-init="evidenceVisible = false">
                    <!-- aligned evidence needs to be visible so that we can
                      append new ones to the end
                      <button class="btn btn-xs show-evidence btn-default btn-outline"
                                ng-if="vm.evidenceCollectionService.state.view === 'row'"
                                ng-click="vm.toggle = !vm.toggle">
                            {{vm.toggle ?'Hide Aligned Evidence': 'Show Aligned Evidence'}}
                        </button>-->
                        <button class="btn btn-xs show-evidence btn-default btn-outline"
                                ng-if="vm.row.data.lookFor1 &&
                                vm.evidenceCollectionService.state.view === 'row' &&
                                vm.context.frameworkContext.districtConfiguration.criticalAttributesEnabled"
                                ng-click="vm.criticalOn = !vm.criticalOn">
                            {{vm.criticalOn ? 'Hide Critical Attributes' : 'Show Critical Attributes'}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table rubric-row-details"
               ng-hide="(vm.evidenceCollectionService.state.view === 'node' &&
                         vm.state.viewOptions.filter === 'custom' &&
                         !vm.state.viewOptions.rubric)">
            <thead>
            <tr>
                <th ng-repeat="level in vm.enums.PerformanceLevels"
                    class="rubric-descriptor-header">
                    <div ng-class="(vm.score.performanceLevel === ($index + 1) || vm.otherScore.performanceLevel === ($index + 1)) ? 'default': ''">
                        {{ level.substring(0,3) | uppercase}}

                        <!--EVALUATOR CHECK-->
                        <div class="dot pull-right"
                             ng-if="vm.score.performanceLevel === ($index + 1) &&
                              vm.row.root.data.view === 'merge'">
                            <span ng-class="vm.isEvaluatee ? 'secondary' :  'primary'" class="fa fa-check"></span>
                        </div>
                        <!--EVALUATEE SCORE CHECK-->
                        <div class="dot pull-right"
                             ng-if="vm.otherScore.performanceLevel == ($index + 1) &&
                              vm.row.root.data.view === 'merge'">
                            <span ng-class="vm.isEvaluatee ? 'primary' :  'secondary'" class="fa fa-check"></span>
                        </div>
                        <!--EVALUATOR EVALUATIONS COUNT-->
                        <div class="dot pull-right"
                             ng-if="vm.dividedEvaluations[level][vm.context.evaluator.id].length &&
                             vm.row.root.data.view === 'merge'">
                            <span class="primary">
                                {{vm.dividedEvaluations[level][vm.context.evaluator.id].length}}
                            </span>
                        </div>
                        <!--EVALUATEE EVALUATIONS COUNT-->
                        <div class="dot pull-right"
                             ng-if="vm.dividedEvaluations[level][vm.context.evaluatee.id].length &&
                             vm.row.root.data.view === 'merge'">
                            <span class="secondary">
                                {{vm.dividedEvaluations[level][vm.context.evaluatee.id].length}}
                            </span>
                        </div>
                        <!--DEFAULT EVALUATION COUNT-->
                        <div class="dot pull-right"
                             ng-if="vm.row[level].evaluations.length && vm.row.root.data.view === 'default'">
                            <span>{{vm.row[level].evaluations.length}}</span>
                        </div>
                        <!--DEFAULT SCORE CHECK-->
                        <div class="dot pull-right"
                             ng-if="vm.row.score.performanceLevel == ($index + 1) && vm.row.root.data.view === 'default'">
                            <span class="fa fa-check"></span>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td ng-repeat="level in vm.enums.PerformanceLevels" width="25%"
                    ng-mouseup="vm.mouseUpRubricText(vm.row, $index + 1)"
                    ng-bind-html="vm.slider ? vm.row[level].modifiedDescriptor :
                     vm.row[level].descriptor">
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="vm.showCritical(vm.criticalOn)">
        <table class="table rubric-row-details" >
            <thead>
            <tr>
                <th class="rubric-descriptor-header">
                    <div align="center">Critical Attributes</div>
                </th>
            </tr>
            </thead>
        </table>
        <table class="table rubric-row-details">
            <tbody>
            <tr>
                <td ng-repeat="level in vm.enums.PerformanceLevels" width="25%"
                    ng-mouseup="vm.mouseUpCriticalAttribute(vm.row, $index + 1)"
                    ng-bind-html="vm.row[level].criticalAttribute"></td>
            </tr>
            </tbody>
        </table>
            </div>
        <year-highlight-slider ng-if="vm.slider"></year-highlight-slider>
    </div>
</div>
<div ng-show="vm.showEvaluations(vm.toggle)">
    <div ng-repeat="rrEval in vm.orderedEvaluations"
         class="rubric-row-evaluation">
        <rubric-row-evaluation
            rr-eval="rrEval"
            report="false"
            evidence-collection="vm.row.root"
            delete-fcn="vm.row.root.deleteEvaluation(rrEval)"
            update-fcn="vm.row.root.updateEvaluation(rrEval)">
        </rubric-row-evaluation>
    </div>
</div>
