<table class="table table-bordered table-condensed table-blue-header">
    <thead>
    <tr>
        <th>Date</th>
        <th>Evidence Area</th>
        <th>Item</th>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="notification in vm.notifications" ng-if="notification.twoweeks || vm.isShow">
        <td>{{notification.creationDateTime | date}}</td>
        <td>{{vm.rubricUtils.createEvalSource(notification.event.evidenceCollectionType)}}</td>
        <td>{{notification.event.itemTitle}}</td>
        <td>{{notification.event.title}}</td>
        <td width="30%">{{notification.event.description}}</td>
        <td>
            <button class="btn btn-xs btn-primary" ng-click="vm.gotoEvidenceCollection(notification.event)">View</button>
        </td>
    </tr>
    <tr ng-if="vm.isLimit">
        <td colspan="6 " class="text-center">
            <a class="btn btn-xs btn-primary" ng-click="vm.toggle()">See <span ng-if="vm.isShow">Less</span><span ng-if="!vm.isShow">All</span> Activities <i class="fa fa-angle-right"> </i></a>
        </td>
    </tr>
    </tbody>
</table>
