<div class="modal-dialog">
    <div class="modal-body flatmodal">
        <div class="form-group">
            <h2 class="modal-title" ><strong>Observation Note</strong></h2>
            <p>{{vm.observation.title}} - {{vm.evaluatee.displayName}}</p>
        </div>

        <div class="form-group">
            <label>Note or reminder for this observation (optional):</label>
            <textarea rows="3" ng-model="vm.observation.reminderNote" class="form-control"></textarea>
        </div>

        <div class="block-center text-center">
            <button class="btn btn-danger" ng-click="vm.removeNote()">Remove</button>
            <button class="btn btn-primary" ng-click="vm.saveNote()">Save Note</button>
        </div>
    </div>
</div>

