<div class="evaluator-dashboard-evaluatees">

    <div class="row">
        <div class="col-lg-12">
            <label>Assignment:&nbsp;</label>
            <select ng-change="vm.changeAssignmentFilter()" ng-model="vm.assignedOnly">
                <option value="true">Assigned to me</option>
                <option ng-hide="!vm.userIsDTE" value="false">All {{vm.evaluateeTerm}}s</option>
            </select>
            &nbsp;&nbsp;
            <div  class="div-inline margin-top-5 margin-bottom-5 checkbox checkbox-primary">
                <input type="checkbox" id="cbOpenOnly" ng-change="vm.changeShowOpenOnly()" ng-model="vm.showOpenOnly"  />
                <label for="cbOpenOnly">Show open Only</label>
            </div>
            &nbsp;&nbsp;
            <div  class="div-inline margin-top-5 margin-bottom-5 checkbox checkbox-primary">
                <input type="checkbox" id="cbShowNotes" ng-model="vm.showNotes" />
                <label for="cbShowNotes">Show notes in the table (temporarily replaces observation status)</label>
            </div>
        </div>
    </div>

    <br/>

    <div class="row" ng-if="vm.evaluatees.length===0">
        <div class="col-lg-12">
            <nothing-here title="vm.noEvaluateeTitle" description="vm.noEvaluateeDescription" icon="'fa fa-exclamation-circle'"></nothing-here>
        </div>
    </div>
    <br/>

    <div class="row" ng-if="vm.evaluatees.length>0">
        <div class="col-lg-12">
            <table class="table-blue-header table table-condensed table-bordered">
                <tbody>
                <tr>
                    <th>{{vm.evaluateeTerm}}</th>
                    <th>Eval Cycle</th>
                    <th>Observations</th>
                    <th>Activity</th>
                    <th>Minutes</th>
                    <th>Action</th>
                </tr>
                </tbody>
                <tr ng-repeat="evaluatee in vm.evaluatees">
                    <td>
                        <p>{{evaluatee.displayName}}</p>
                        <strong>Evaluator:&nbsp;</strong>
                        <span ng-bind-html="vm.evaluatorNames[evaluatee.id]"></span>
                    </td>
                    <td>
                            <p ng-bind-html="vm.evaluateePlanTypes[evaluatee.id]"></p>
                    </td>
                    <td class="no-padding ev-table">

                            <table class="table table--condensed ">
                                <tr ng-repeat="observation in vm.observations[evaluatee.evalData.id] | orderBy:'-creationDateTime'">
                                    <td>
                                        <strong>{{observation.typeDisplayName[0]}}</strong>
                                    </td>
                                    <td>
                                        {{observation.observeStartDate | date}}
                                    </td>
                                    <td>
                                        <a ng-click="vm.gotoObservation(observation)">{{observation.title}}</a>
                                    </td>
                                    <td ng-if="!vm.showNotes">
                                        {{observation.statusDisplayString}}
                                          <span ng-if="observation.statusWarning">
                                            &nbsp;({{observation.statusDetailDisplayString}})
                                        </span>
                                    </td>
                                    <td ng-if="vm.showNotes">
                                        {{observation.reminderNote}}
                                    </td>
                                    <td>
                                        <a uib-tooltip="{{observation.reminderNote}}" tooltip-placement="right" uib-to ng-click="vm.editReminder(observation)">
                                            <span class="fa" ng-class="{'fa-pencil': !observation.reminderNote, 'fa-file-text-o':observation.reminderNote}">
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </table>

                    </td>
                    <td>
                        <span ng-if="vm.evidenceChanged[evaluatee.evalData.id]" class="label label-warning">New</span>
                    </td>
                    <td>
                        {{vm.observationMinutes[evaluatee.evalData.id]}} min.
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs" ng-click="vm.changeEvaluatee(evaluatee)">View</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>