<div class="row">
    <div class="col-lg-12">
        <h2>{{vm.evaluatee.displayName}}</h2>
        <div>This view contains all of the information collected for {{vm.evaluatee.displayName}}</div>
    </div>
</div>
<br/><br/>
    <div class="row eval-panel">
        <div class="col-xs-6">
            <ul>
                <li>
                    <a ng-click="vm.scrollTo('observations')">Observations</a>
                </li>
                <li ng-if="vm.context.frameworkContext.districtConfiguration.selfAssessmentsModuleEnabled">
                    <a ng-click="vm.scrollTo('selfAssessments')">Self-Assessments</a>
                </li>
                <li>
                    <a ng-click="vm.scrollTo('other')">Other Evidence</a>
                </li>
                <li>
                    <a ng-click="vm.scrollTo('studentGrowth')">Student Growth</a>
                </li>
                <li>
                    <a ng-click="vm.scrollTo('activities')">Activities</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-6">
            <ul>
                <li>
                    <span class="label label-warning" ng-if="vm.evidenceCollectionService.state.observationEvidenceChanged">New</span>
                </li>
                <li ng-if="vm.context.frameworkContext.districtConfiguration.selfAssessmentsModuleEnabled">
                    <span class="label label-warning" ng-if="vm.evidenceCollectionService.state.selfAssessmentEvidenceChanged">New</span>
                </li>
                <li>
                    <span class="label label-warning" ng-if="vm.evidenceCollectionService.state.otherEvidenceChanged">New</span>
                </li>
                <li>
                    <span class="label label-warning" ng-if="vm.evidenceCollectionService.state.studentGrowthEvidenceChanged">New</span>
                </li>
            </ul>
        </div>
    </div>
<!--<br/><br/>
<div class="row">
    <div class="col-lg-2">
        <a ng-click="vm.scrollTo('observations')">Observations</a>
    </div>
    <div class="col-lg-1">
        <span class="label label-warning" ng-if="vm.evidenceCollectionService.state.observationEvidenceChanged">New</span>
    </div>
    <div class="col-lg-2" ng-if="vm.context.frameworkContext.districtConfiguration.selfAssessmentsModuleEnabled">
        <a ng-click="vm.scrollTo('selfAssessments')">Self-Assessments</a>
    </div>
    <div class="col-lg-1" ng-if="vm.context.frameworkContext.districtConfiguration.selfAssessmentsModuleEnabled">
        <span class="label label-warning" ng-if="vm.evidenceCollectionService.state.selfAssessmentEvidenceChanged">New</span>
    </div>
    <div class="col-lg-2">
        <a ng-click="vm.scrollTo('other')">Other Evidence</a>
    </div>
    <div class="col-lg-1">
        <span class="label label-warning" ng-if="vm.evidenceCollectionService.state.otherEvidenceChanged">New</span>
    </div>
    <div class="col-lg-2">
        <a ng-click="vm.scrollTo('studentGrowth')">Student Growth</a>
    </div>
    <div class="col-lg-1">
        <span class="label label-warning" ng-if="vm.evidenceCollectionService.state.studentGrowthEvidenceChanged">New</span>
    </div>
</div>-->
<br/><br/>
<div class="row">
    <div class="col-lg-12">
        <h3>Status</h3>
        <table class="table-blue-header table table-bordered">
            <thead>
            <tr>
                <th>Evaluator</th>
                <th>Eval Cycle</th>
                <th>All Evidence</th>
                <th>Evidence Provided by {{vm.evaluateeTerm}}</th>
                <th>Formal Obs. Minutes</th>
                <th>Summative Score</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td ng-bind-html="vm.evaluatee.evalData.evaluatorDisplayName"></td>
                <td ng-bind-html="vm.evaluateePlanType"></td>
                <td>{{vm.totalUsedEvidenceCount}}/{{vm.totalAvailableEvidenceCount}}</td>
                <td>{{vm.totalTeeUsedEvidenceCount}}/{{vm.totalTeeAvailableEvidenceCount}}</td>
                <td>{{vm.observationMinutes}}</td>
                <td>{{vm.summativeScore}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br/><br/>
<div id="activities" class="row">
    <div class="col-lg-12">
        <h3>Recent Activity</h3>
        <activities-summary-directive evidence-collection="vm.evidenceCollection"></activities-summary-directive>
    </div>
</div>

<div>
    <!--todo: last worked on -->
<!--    <strong>Last worked on {{vm.evaluatee.displayName}}'s evaluation:</strong>
    <br/><br/>-->
</div>
<br/>
<br/>
<div class="table-blue-header">
    <div id="observations"  class="row">
        <div class="col-lg-12">
            <h3>Observations</h3>
            <evidence-collections-of-type-summary-directive
                evidence-collection="vm.evidenceCollection" collection-type="vm.enums.EvidenceCollectionType.OBSERVATION">
            </evidence-collections-of-type-summary-directive>
        </div>
    </div>

    <br/>
    <br/>
    <div id="selfAssessments" class="row" ng-if="vm.context.frameworkContext.districtConfiguration.selfAssessmentsModuleEnabled">
        <div class="col-lg-12">
            <h3>Self Assessments</h3>
            <evidence-collections-of-type-summary-directive
                evidence-collection="vm.evidenceCollection" collection-type="vm.enums.EvidenceCollectionType.SELF_ASSESSMENT">
            </evidence-collections-of-type-summary-directive>
        </div>
    </div>

    <br/>
    <br/>
    <div id="other" class="row">
        <div class="col-lg-12">
            <h3>Other Evidence</h3>
            <evidence-collections-of-type-summary-directive
                evidence-collection="vm.evidenceCollection" collection-type="vm.enums.EvidenceCollectionType.OTHER_EVIDENCE">
            </evidence-collections-of-type-summary-directive>
        </div>
    </div>
<br/><br/>

    <div id="studentGrowth" class="row">
        <div class="col-lg-12">
            <h3>Student Growth</h3>
            <sg-bundle-summary-directive evidence-collection="vm.evidenceCollection"></sg-bundle-summary-directive>
        </div>
    </div>

    <br/><br/>

</div>
