
<table class="table table-bordered table-condensed" >
    <thead>
    <tr>
        <th colspan="2" >Info</th>
        <th colspan="3" class="rubic-header">
            <table class="table no-padding">
                <thead>
                    <th width="60px">Rubrics</th>
                    <th colspan="2" width="150px">Evidence</th>
                    <th width="90px">Performance</th>
                </thead>
            </table>
        </th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="vm.collapse[$index+1]" ng-repeat-start="collection in vm.collections | orderBy:'-creationDateTime'">
        <td width="20px">
            <span ng-click="vm.toggle($index+1)">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
        </td>
        <!-- Info -->
        <td ng-if="vm.collectionType===vm.enums.EvidenceCollectionType.OBSERVATION" width="280px">
            <p>
                <h3>{{collection.title}}</h3>
            </p>
            <p>
                <strong>Created:</strong>
                <span>{{collection.creationDateTime | date}}</span>
            </p>
            <p>
                <strong>Type:</strong>
                <span>{{collection.typeDisplayName}}</span>
            </p>
            <p>
                <strong>Duration:</strong>
                <span>{{collection.duration?collection.duration: 0}} minutes</span>
            </p>
            <br/>
        </td>
        <!-- Rubrics -->
        <td ng-if="vm.collectionType===vm.enums.EvidenceCollectionType.SELF_ASSESSMENT" width="280px">
            <p>
                <h3>{{collection.title}}</h3>
            </p>
            <p>
                <strong>Created:</strong>
                <span>{{collection.creationDateTime | date}}</span>
            </p>
            <br/>
        </td>
        <!-- Evidence -->
        <td ng-if="vm.collectionType===vm.enums.EvidenceCollectionType.OTHER_EVIDENCE" width="280px">
        </td>
        <!-- Performance -->
        <td colspan="3" width="300px" class="dashboard-rubrics no-padding ">
            <div ng-if="vm.collectionType===vm.enums.EvidenceCollectionType.OBSERVATION && vm.isEvaluatee && !collection.evaluatorScoresShared">
                Alignment/score data has not been shared yet
            </div>
            <table ng-if="vm.collectionType===vm.enums.EvidenceCollectionType.OTHER_EVIDENCE ||
                          (vm.collectionType===vm.enums.EvidenceCollectionType.OBSERVATION && collection.evaluatorScoresShared) ||
                          (vm.collectionType===vm.enums.EvidenceCollectionType.SELF_ASSESSMENT && collection.isShared)"
                   ng-repeat="(nodeIndex, node) in vm.framework.frameworkNodes"
                   class="table table-condensed text-center" >

                <tr ng-repeat="(rowIndex, row) in node.rubricRows"
                    ng-show="vm.evidence[collection.id+'-'+row.id].avail>0 ||
                             vm.evidence[collection.id+'-'+row.id].score!=='-'">
                    <td width="60px" ng-if="node.firstRowWithEvidence[collection.id].id===row.id" rowspan="{{node.rowsWithEvidenceCount[collection.id]}}">
                        <strong>
                            <a ng-click="vm.gotoECNode(collection, node)">{{node.shortName}} </a>
                        </strong>
                    </td>
                    <td width="90px">
                         <span ng-class="{'rubric-row-inactive':vm.evidence[collection.id+'-'+row.id].avail===0,
                                          'rubric-row-active':vm.evidence[collection.id+'-'+row.id].avail>0}">
                            <a ng-click="vm.gotoECRow(collection, node, row)">
                                {{row.shortName}}
                            </a>
                        </span>
                         <span class="label label-warning" ng-if="vm.evidence[collection.id+'-'+row.id].changed">
                            New
                          </span>
                    </td>
                    <td width="60px">
                         <span ng-class="{'rubric-row-inactive':vm.evidence[collection.id+'-'+row.id].avail===0,
                                          'rubric-row-active':vm.evidence[collection.id+'-'+row.id].avail>0}">
                                {{vm.evidence[collection.id+'-'+row.id].used}}/{{vm.evidence[collection.id+'-'+row.id].avail}}
                        </span>
                    </td>
                    <td width="90px">
                         <span ng-class="{'rubric-row-inactive':vm.evidence[collection.id+'-'+row.id].avail===0,
                                          'rubric-row-active':vm.evidence[collection.id+'-'+row.id].avail>0}">
                                {{vm.evidence[collection.id+'-'+row.id].score}}
                        </span>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Status -->
        <td  width="200px">
            <div ng-if="vm.collectionType===vm.enums.EvidenceCollectionType.OBSERVATION">
                <span>{{collection.statusDisplayString}}</span>
                <div>
                  <span ng-if="collection.statusWarning">
                    {{collection.statusDetailDisplayString}}
                  </span>
                </div>
            </div>
        </td>
        <!-- Actions -->
        <td width="100px">
            <button class="btn btn-xs btn-primary" ng-click="vm.gotoCollection(collection)">View</button>
        </td>
    </tr>

    <tr ng-repeat-end ng-show="!vm.collapse[$index+1]" class="collapse-panel">
        <td width="20px">
            <a ng-click="vm.toggle($index+1)"> <i class="fa fa-chevron-right" aria-hidden="true"></i> </a>
        </td>
        <td width="280px">
            <p>
                {{collection.title}}
            </p>
        </td>
        <td colspan="3" width="300px">
            {{vm.coverage[collection.id]}}&nbsp;&nbsp; <span class="label label-warning" ng-if="collection.changed">New</span>
        </td>
        <td width="200px">
            <span ng-if="vm.collectionType===vm.enums.EvidenceCollectionType.OBSERVATION">
                {{collection.statusDisplayString}}
            </span>
        </td>
        <td width="100px">
            <button class="btn btn-xs btn-primary" ng-click="vm.gotoCollection(collection)">View</button>
        </td>
    </tr>
    </tbody>
</table>
