<div ng-switch="vm.evidence.evidenceType">
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                <label>{{vm.enums.EvidenceTypeMapper[vm.evidence.evidenceType]}}</label>
                <span ng-if="vm.evidenceCollection.request.collectionType === vm.enums.EvidenceCollectionType.YEAR_TO_DATE ||
                             vm.evidenceCollection.request.collectionType === vm.enums.EvidenceCollectionType.SUMMATIVE">
                    :&nbsp;{{vm.evidence.creationDateTime | date }}
                </span>
            </div>
            <div class="pull-right" ng-if="vm.showSource">
                <span ng-bind-html="vm.sourceTitle"></span>
            </div>
        </div>
    </div>
    <!-- Artifact -->
    <div ng-switch-when="1">
        <artifact-evidence-summary artifact="vm.evidence.artifactBundle" report="vm.report"></artifact-evidence-summary>
    </div>
    <!-- RR_ANNOTATION_PRECONF_PROMPT  3 -->
    <div ng-switch-when="3">
        <p style="font-weight:bold" ng-bind-html="vm.evidence.rubricRowAnnotation.prompt"></p>
        <p ng-bind-html="vm.evidence.rubricRowAnnotation.annotation"></p>
    </div>
    <!-- RR_ANNOTATION_POSTCONF_PROMPT 5 -->
    <div ng-switch-when="5">
        <p style="font-weight:bold" ng-bind-html="vm.evidence.rubricRowAnnotation.prompt"></p>
        <p ng-bind-html="vm.evidence.rubricRowAnnotation.annotation"></p>
    </div>
    <!-- Student Growth Goal -->
    <div ng-switch-when="7">
        <p ng-bind-html="vm.evidence.studentGrowthGoal.goalStatement"></p>
    </div>
    <!-- Student Growth Goal Prompt 11 -->
    <div ng-switch-when="11">
        <p style="font-weight:bold" ng-bind-html="vm.evidence.userPromptResponse.prompt"></p>
        <p ng-bind-html="vm.evidence.userPromptResponse.response"></p>
    </div>
    <!-- Video Segment -->
    <div ng-switch-when="12">
        <video-evidence-segment-summary segment="vm.evidence.evidenceSegment"></video-evidence-segment-summary>
    </div>
    <!-- Rubric Other Evidence (added within rubric) -->
    <div ng-switch-when="10">
        <div class="row">
            <div class="col-lg-12">
                <div ng-if="vm.showSource">
                    <strong>Created by:&nbsp;</strong><span ng-bind-html="vm.evidence.rubricRowAnnotation.createdByDisplayName"></span>
                    <p/>
                </div>
                <p ng-bind-html="vm.evidence.rubricRowAnnotation.annotation"></p>
            </div>
        </div>
    </div>
    <!-- Observation Note                   2 -->
    <!-- RR_ANNOTATION_TOR_PRECONF_SUMMARY  4 -->
    <!-- RR_ANNOTATION_TOR_POSTCONF_SUMMARY 6 -->
    <!-- RR_ANNOTATION_TEE_PRECONF_SUMMARY  8 -->
    <!-- RR_ANNOTATION_TEE_POSTCONF_SUMMARY 9 -->
    <div ng-switch-default>
        <p ng-bind-html="vm.evidence.rubricRowAnnotation.annotation"></p>
    </div>
</div>
<!-- Can't delete artifacts or practice session video segments -->
<div ng-if="!vm.evidenceCollection.readOnly &&
            vm.state.view !== 'node' &&
            vm.evidence.evidenceType != 1 &&
            vm.evidence.evidenceType != 12 &&
            !vm.readOnly && vm.itemCreatedHere" class="evidence-desc-btn">
    <span ng-if="vm.evidence.inUseByTee && !vm.readOnlyStudentGrowthEvidence"
          class="fa fa-sm fa-lock color-darkgrey"
          uib-tooltip="This items is being used as evidence by the evaluatee and cannot be removed.">
    </span>
    <span ng-if="vm.evidence.inUse && !vm.evidence.inUseByTee && !vm.readOnlyStudentGrowthEvidence"
          class="fa fa-sm fa-times-circle color-darkgrey"
          uib-tooltip="This items is being used as evidence and cannot be removed.">
    </span>
    <span ng-if="vm.evidence.inUse && vm.readOnlyStudentGrowthEvidence"
          class="fa fa-sm fa-times-circle color-darkgrey"
          uib-tooltip="This items is part of general student growth evidence and cannot be removed.">
    </span>
    <div ng-if="!vm.evidence.inUse && !vm.evidence.inUseByTee && !vm.readOnlyStudentGrowthEvidence"
          ng-click="vm.removeEvidence($event)">
        <span class="remove-evidence-btn fa fa-sm fa-times-circle color-red"></span>
    </div>
</div>
