<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <page-header class="col-lg-12" title="vm.welcomeMessage">
                    </page-header>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-12">

                        <h3>Your Role in Setting up eVAL</h3>
                        <p ng-if="vm.isAPrincipal && !vm.isASchoolAdmin">
                            You are listed within eVAL as a Principal at {{ vm.schoolName}} in {{vm.districtName}}. As a Principal, you may be responsible for
                            some steps in the initial yearly set up process for teacher evaluations.
                        </p>
                        <p ng-if="!vm.isAPrincipal && vm.isASchoolAdmin">
                            You are listed within eVAL as a School Administrator at {{ vm.schoolName}} in {{vm.districtName}}. As a School Administrator, you may be responsible for
                            some steps in the initial yearly set up process for teacher evaluations.
                        </p>
                        <p ng-if="vm.isAPrincipal && vm.isASchoolAdmin">
                            You are listed within eVAL as a Principal and a School Administrator at {{ vm.schoolName}} in {{vm.districtName}}. WIth these roles you may be responsible for
                            some steps in the initial yearly set up process for teacher evaluations.
                        </p>
                        <br/>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Setup Step</th>
                                    <th width="20%">Description</th>
                                    <th width="25%">Responsibility</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Selecting the Teacher Evaluation Framework</td>
                                    <td>
                                        <p>
                                            Before you can start on your setup tasks, the district must select the framework it is going to use for teacher evaluations.
                                        </p>
                                    </td>
                                    <td>District Admin</td>
                                    <td>
                                        <eval-alert ng-if="!vm.frameworkIsActive">
                                            The district has not completed this step yet.
                                        </eval-alert>
                                        <eval-alert ng-if="vm.frameworkIsActive">
                                            The district has selected {{vm.frameworkContext.name}}
                                        </eval-alert>
                                    </td>
                                </tr>
                                <tr ng-class="{'step-inactive':!vm.frameworkIsActive}">
                                    <td>
                                        Assigning teacher evaluators and evaluation cycles.
                                    </td>
                                    <td>
                                        <p>
                                            Before teachers at your school can begin using eVAL for their own evaluations, they must be assigned an evaluator and have an evaluation cycle (Comprehensive or Focused) set.
                                        </p>
                                    </td>
                                    <td>
                                         District Admin<br/>
                                         School Admin or Principal if the district has delegated responsibility to the school.
                                    </td>
                                    <td>
                                        <eval-alert ng-if="vm.frameworkIsActive && vm.assignmentDelegated">
                                            The district has chosen to delegate this responsibility to your school. You have full access to the Assignments section.
                                        </eval-alert>
                                        <eval-alert ng-if="vm.frameworkIsActive && !vm.assignmentDelegated">
                                            The district has not delegated this responsibility to your school. You can view the district's settings in the Assignments section.
                                        </eval-alert>
                                    </td>
                                </tr>
                                <tr ng-class="{'step-inactive':!vm.frameworkIsActive}">
                                    <td>
                                        Setting up a default set of Observation Prompts (optional)
                                    </td>
                                    <td>
                                        <p>
                                            The district can pre-define a set of prompts that are available to all schools in the district, and staff at the school may also define additional prompts. A school administrator can create prompts that can be used by all principals in a school or principals can create private prompts that are available only to them.
                                        </p>
                                    </td>
                                    <td>
                                        District Admin (district-wide prompts)<br/>
                                        School Admin (school-wide prompts)<br/>
                                        Principal (personal prompts)
                                    </td>
                                    <td>
                                        <p ng-if="vm.frameworkIsActive">You can work in your Prompt Bank at any time.</p>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <br/>

                    </div>
                 <!--   <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <pr-start-of-year-checklist
                                    assignment-delegated="vm.assignmentDelegated"
                                    framework-context="vm.frameworkContext">
                                </pr-start-of-year-checklist>
                            </div>
                        </div>
                    </div>-->
                </div>
                <br/><br/>

            </div>
        </div>
    </div>
</div>