<div class="checklist checklist-border" affix ng-class="{affix:affixed}" ng-style="offset">
    <div class="checklist-header">
        <div>Teacher Evaluation Setup Checklist</div>
    </div>
    <div class="step" ng-class="vm.stepClass(1)">
        <span class="fa fa-check"></span>
        <span class="step-desc">
            <span>{{vm.step1Title}}</span>
        </span>
    </div>
    <div class="step" ng-class="vm.stepClass(2)">
        <span class="fa fa-check"></span>
        <span class="step-desc">
            <span ng-if="vm.currentStep===1">{{vm.step2Title}}</span>
            <a ng-if="vm.currentStep>1" ng-click="vm.gotoAssignments()">{{vm.step2Title}}</a></span>
    </div>
    <div class="step" ng-class="vm.stepClass(2)">
        <span class="fa fa-check"></span>
        <span class="step-desc">
            <span ng-if="vm.currentStep===1">{{vm.step3Title}}</span>
            <a ng-if="vm.currentStep>1" ng-click="vm.gotoSettings()">{{vm.step3Title}}</a>
        </span>
    </div>
</div>