<div class="short-name" ng-if="vm.evalStyle==='node'">
    {{vm.item.data.shortName}}
</div>
<div class="title" ng-if="vm.evalStyle==='node'">
    {{vm.item.data.title}}
</div>

<div class="row-title" ng-if="vm.evalStyle==='row'">

	<div>
		{{vm.item.data.shortName}}
	</div>

	<div class="subline">
		-
	</div>
	<div>
		{{vm.item.data.title}}
	</div>

	<div class="clearfix"></div>
     
</div>
<score-button-group item="vm.item" ng-hide="vm.hideScores"></score-button-group>
