<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>System Messages</h2>
                        <small>System Messages</small>
                    </div>                    
                </div>                                
                <br />
                
                <div class="row">
                    <div>
                        <label>Title</label>
                    </div>
                    <div>
                        <input type="text" ng-model="vm.systemMessage.title" />
                    </div>
                </div>
                
                <div class="row">
                    <div>
                        <label>Description</label>
                    </div>
                    <div>
                        <input type="text" ng-model="vm.systemMessage.description" />
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="pull-right">
                        <button ng-click="vm.saveSystemMessage()" class="btn btn-primary btn-xs" type="button">
                            <i class="fa"></i>&nbsp;Save Message
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
