<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                EDS Staging Records
            </div>
            <div class=" panel-body">
                <div>
                    <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
                    <form name="vm.myForm" ng-submit="vm.submitForm()" novalidate>

                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="lastName" class="form-control" ng-model="vm.lastName"  required>
                            <div ng-show="!vm.myForm.lastName.$pristine && vm.myForm.lastName.$error.required">Enter Last Name.</div>
                        </div>
<!--
                        <tt>text = {{$scope.lastName}}</tt><br/>
                        <tt>myForm.lastName.$valid = {{myForm.lastName.$valid}}</tt><br/>
                        <tt>myForm.lastName.$error = {{myForm.lastName.$error}}</tt><br/>
                        <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
                        <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
-->
                        <!-- SUBMIT BUTTON -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <br/><br/>
                    </form>

                </div>
                <table class="table-bordered table-condensed table-striped">
                    <thead>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>OSPI Legacy Code</th>
                        <th>District Code</th>
                        <th>School Code</th>
                        <th>Location Name</th>
                        <th>Raw Role String</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="r in vm.importStaging">
                            <td>{{ r.LastName}}</td>
                            <td>{{ r.FirstName}}</td>
                            <td>{{ r.Email}}</td>
                            <td>{{ r.OSPILegacyCode}}</td>
                            <td>{{ r.DistrictCode}}</td>
                            <td>{{ r.SchoolCode}}</td>
                            <td>{{r.LocationName}}</td>
                            <td>{{r.RawRoleString}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                EDS Import Errors
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>OSPI Legacy Code</th>
                        <th>District Code</th>
                        <th>School Code</th>
                        <th>Location Name</th>
                        <th>Raw Role String</th>
                        <th>Error Message</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="error in vm.importErrors">
                            <td>{{ error.LastName}}</td>
                            <td>{{ error.FirstName}}</td>
                            <td>{{ error.Email}}</td>
                            <td>{{ error.OSPILegacyCode}}</td>
                            <td>{{ error.DistrictCode}}</td>
                            <td>{{ error.SchoolCode}}</td>
                            <td>{{error.LocationName}}</td>
                            <td>{{error.RawRoleString}}</td>
                            <td>{{error.ErrorMsg}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

