<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>System Messages</h2>
                        <small>System Messages</small>
                    </div>
                    <div class="col-lg-6">
                        <div class="pull-right">
                            <button ng-click="vm.addSystemMessage()" class="btn btn-primary btn-xs" type="button">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add Message
                            </button>
                        </div>
                    </div>
                </div>                                
                <br />
                
                <div class="row" ng-if="vm.systemMessages.length>0">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>                                    
                                    <th>Title</th>3
                                    <th>Description</th>                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="systemMessage in vm.systemMessages">
                                    <td>{{systemMessage.id}}</td>
                                    <td>{{systemMessage.createDate|date}}</td>
                                    <td>{{systemMessage.title}}</td>
                                    <td>{{systemMessage.description}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" ng-click="vm.editSystemMessage(systemMessage.id)">Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
