/*
    Alert extensions allowing them to have vertically centered icons and buttons.
    Example:

    <div class="alert alert-info eval-alert">
        <i class="fa fa-2x fa-exclamation-circle"></i>
        <div class="alert-content">
            I'm an alert!
        </div>
        <div>
            <button class="btn btn-primary btn-xs">Click me!</button>
        </div>
    </div>

*/

.eval-alert {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.eval-alert .alert-content {
    width: 100%;
    padding: 0 10px;
}