/*

    Some standard ng-animate animations

*/

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    &.ng-enter{
        opacity: 0;
        &.ng-enter-active {
            opacity: 1;
        }
    }
    &.ng-hide {
        opacity: 0;
    }
}