/*
  everything related to the artifact builder
*/

artifact-builder-linked-objects .linked-object-date {
    width: 80px;
    display: inline-block;
}

artifact-builder-alignment .row-title,
resource-builder-alignment .row-title,
self-assessment-alignment .row-title,
observation-alignment .row-title {
    margin-left: 40px;
}

.add-new-artifact-area {
    background-color: #f5f5f5;
    font-family: 'Open Sans';
    color: #bfbfbf;
    margin-top:15px;
    padding:30px 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.add-first {
    font-size:20px;
    text-align:center;
}


.new-lib-item-btn  {
    margin: 15px;
    background-color: transparent;
    border: none;
}

.btn-transparent {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.edit-artifact-area {
    background-color: #E7EAEC;
    padding:20px;
}

.add-artifact-area {
    background-color: #E7EAEC;
    font-family: 'Open Sans';
    color: #bfbfbf;
    padding-top:15px;
    padding-bottom:0px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.add-artifact-area  div {
    padding: 10px;
    margin: 5px;
}

.add-artifact-area {
    display: flex;
    justify-content: center;
}

.add-artifact-area img {
    padding-top:20px;
}

.empty-warning {
    color:#939eae;
}

.share-date {
    color:#939eae;
}

.step-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align:center;
    font-weight: bold;
}

.step-circle-default {
    background-color:#e7eaec;
    color: #BFBFBF;
}
.step-circle-primary {
    background-color:#1ab394;
    color:white;
}

.lib-item-desc  {
    background-color:#f0f0f0;
    padding: 10px;
    margin: 10px 0;
}

.related-files {
    margin-top: 15px;

    .header {
        padding: 12px;
        line-height: 24px;
        background: #3c5366;
        color: #f1f1f1;

        .btn-default {
            background: #e7eaec;
            color: #85888a;
        }
    }

    .button-bar {
        padding: 12px;
        line-height: 24px;
        background: #3c5366;
    }

    .items > div {
        padding: 15px;
        line-height: 24px;
        background: #e7eaec;
    }

    .lib-item-desc  {
        background:#293846;
        color: #f1f1f1;
        padding: 15px;
        line-height: 24px;
        border-bottom: solid 1px #2f4050;
    }
}