available-evidence .evidence-desc,
.available-evidence .evidence-desc {
    background-color:#f2f2f2;
    color: #676a6c;
    padding: 18px;
    margin: 10px 0;
    cursor: pointer;
}

available-evidence .evidence-desc.evidence-selected {
    background-color:#293846;
    color:#FFF;
}

available-evidence .evidence-desc button,
.available-evidence .evidence-desc button {
    color: grey;
}

available-evidence .collectionTypeHeading {
    margin-top:40px;
    text-decoration: underline;
    font-weight:bold;
    font-size:14px;
}

available-evidence .collectionInstanceHeading {
    margin-top:30px;
    margin-bottom:10px;
}

available-evidence .add-new-area,
.add-new-area {
    background-color: #E7EAEC;
    font-family: 'Open Sans';
    color: #bfbfbf;
    margin-top:15px;
    padding:30px 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

evidence-item-summary {
    display: flex;
    align-items: center;
}

evidence-item-summary > div:first-child {
    flex: 1 1;
    width: 100%;
}

evidence-item-summary > div:nth-child(2) {
    flex: 0 0;
    text-align: right;

    span {
        margin-left: 10px;
    }
}

artifact-evidence-summary .header-info .pull-left {
    margin-right: 10px
}

artifact-evidence-summary table td {
    padding: 4px 10px;
    vertical-align: top;
}

artifact-evidence-summary table {
    margin: 8px 0;
}

available-evidence .evidence-comment {
    border-top: dashed 1px #d0d0d0;
    margin: 0 10px;
    padding: 10px 0;
}

available-evidence .comment-buttons {
    text-align: right;
    margin-top: 10px;
}

available-evidence .remove-evidence-btn {
    padding:8px;
}

.available-evidence  {
    .crud-panel {
        width : 50px;
    }

    .artifcat-row {
        width : calc(100% - 50px);
    }

}