.checkbox-primary input[type=checkbox]:checked+label:before,
.checkbox-primary input[type=radio]:checked+label:before {
    background-color: $navy;
    border-color: $navy;
}

.checkbox-primary input[type=checkbox]+label {
    padding-left: 5px;
}
