.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    opacity: 1;
    padding: 8px;
    min-width: 0;

    &.ng-hide {
        opacity: 0;
    }

    &.ng-hide-add, &.ng-hide-remove {
        transition: 0s linear all;
    }

    &.ng-hide-add-active,
    &.ng-hide-remove-active {
        transition: 200ms linear all;
    }
}