/*
    Additional button styles and overrides of the Bootstrap buttons
*/

.btn-outline {
    background-color: white;
    border-color: #e0e0e0;
}

.btn-primary-dark {
    @include button-variant($btn-primary-color, #147F63, $btn-primary-border);
}

.btn-primary-white {
    @include button-variant($text-color, #FFFFFF, $btn-primary-border);
}

.btn-blue {
    @include button-variant($btn-primary-color, #293846, $btn-primary-border);
}

.btn-primary.disabled, .btn-primary[disabled] {
    opacity: 1;
    @include button-variant(#676A6C, #BFBFBF, #BFBFBF);
}