/*
  everything related to the artifact builder
*/

categorized-selector {
    table {
        width: 100%;
        border-collapse: collapse;
        box-sizing:border-box;
    }

    thead {
        background-color: #3C5366;
        color: #F1F1F1;

        tr {
            border: none;
        }

        button {
            margin: 0 0 0 5px !important;
        }

        button.btn-default {
            background-color: #E7EAEC;
            color: #85888A;
            padding: 2px 16px;
        }

        button.btn-primary {
            padding: 2px 16px;
        }
    }

    td {
        padding: 12px 15px;
        line-height: 24px;
    }

    table.edit tbody td:last-child,
    table.view tr.item td:last-child {
        text-align: right;
    }

    table.edit {
        tbody tr.category {
            background-color: #2F4050;
            color: #F1F1F1;
            font-weight: bold;
            cursor: pointer;
            border-bottom: solid 1px #293846;

            &:hover {
                background-color: lighten(#2F4050, 3%);
            }

            &.empty {
                color: #939EAE;
            }
        }

        tr.item {
            background-color: #293846;
            color: #939EAE;
            border-bottom: solid 1px #2F4050;
            cursor: pointer;

            &:hover {
                background-color: #2F4050;
            }

            &.in-use,
            &.selected {
                color: #D1D3D5;
            }
        }
    }

    table.view {
        tbody tr {
            border-color: #E7EAEC;
            border-width: 0 1px 1px 1px;
            border-style: solid;
        }

        tr.item {
            background-color: #E7EAEC;
        }
    }

    tr.item {
        td:first-child {
            padding-left: 55px;
        }

        label {
            font-weight: normal;
            display: block;
        }

        td.title {
            width: 100%;
        }

        &.in-use td:first-child {
            box-shadow: inset 10px 0 0 #B5906D;
        }

        &.selected td:first-child {
            box-shadow: inset 10px 0 0 #1AB394;
        }
    }

    span.in-use {
        white-space: nowrap;
        color: #B5906D;
    }

    .in-use .fa {
        font-size: 17px
    }

    .checkbox {
        display: inline-block;
        text-align: left;
        margin: 0 -5px 0 0;
        vertical-align: middle;

        label {
            padding: 0;
        }

        label:before {
            background-color: #2A544D;
            border-color: #2A544D;
            outline: none !important;
        }

        label:after {
            margin-top: -3px;
            color: #293846 !important;
            font-family: "FontAwesome";
            content: "\f00c";
        }
    }

    label.locked input {
        vertical-align: sub;
        margin-right: 5px;
    }
}