.checklist-border {
    border: solid 1px #BFBFBF;
}
.checklist {
    background: #fff;
    padding: 0 15px 15px 15px;

    &.affix {
        top: 10px;
    }

    .checklist-header {
        background: #3c5366;
        color: white;
        padding: 14px 15px;
        min-height: 48px;
        margin: 0 -15px 10px -15px;
    }

    .step {
        line-height: 30px;
        padding-bottom: 10px;

        span {
            vertical-align: baseline;
        }

        .fa-check {
            border: solid 1px $text-color;
            padding: 3px;
            border-radius: 50%;
        }

        .step-desc {
            margin-left: 5px;
        }
    }

    .step-inactive {
        color: #BFBFBF;

        .fa-check {
            border-color: #BFBFBF;
        }
    }

    .step-complete .fa-check {
        border-color: #1ab394;
        background: #1ab394;
        color: #fff;
    }

    hr {
        margin: 10px 0;
    }

    button {
        margin-top: 5px;
    }
}