code-editor {

    text-angular {
        display: block;
        height: 100%;

        // Fix the toolbar
        .ta-toolbar {
            background-color: #f5f5f5;
            padding: 10px 12px 12px;
            border: 1px solid #e0e0e0;
            border-bottom: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin: 0;

            .btn-group {
                margin: 5px 5px 0 0;

                .btn {
                    min-width: 0;
                    @extend .btn-sm;
                }
            }
        }

        .ta-bind {
            line-height: 22px;
        }

        // Remove the blue outline when the editor is in focus
        .ta-bind:focus {
            outline: none;
        }

        &.ta-root.focussed>.ta-scroll-window.form-control {
            border-color: #e0e0e0;
            box-shadow: none;
        }

        &:fullscreen {
            display: flex;
            flex-direction: column;

            > div.ta-text {
                flex: 1 1 100%;
            }
        }
    }

    .coded-section {
        border: solid 1px #ddd;

        &:before {
            padding: 3px 5px 2px 5px;
            background-color: #2f4050;
            color: white;
            font-size: 10px;
            font-weight: bold;
            user-select: none;
            display: inline;
            content: attr(rubricrow)
        }

        &:after {
            padding: 3px 5px 2px 5px;
            background-color: #ddd;
            color: #778899;
            font-size: 10px;
            font-weight: bold;
            user-select: none;
            display: inline;
            content: attr(rubricrow)
        }

        &[contenteditable=false] {
            background-color: #eee;
        }
    }

    .legend {
        margin: 10px 0;
    }
}