/**
 * Created by anne on 1/28/2016.
 */

.table-blue-header th {
    padding-top:10px !important;
    padding-bottom:10px !important;
    background-color: #3a4459 !important;
    color:#DFE4ED;
}

.table-blue-header th.coverage-checked {
    padding-top:10px !important;
    padding-bottom:10px !important;
    background-color:#1ab394 !important;
    color:white;
}

.rubric-row-inactive,
.rubric-row-inactive a {
    color: #BFBFBF;
}

.rubric-row-active,
.rubric-row-active a {
    font-weight:bold;
}

.dashboard-rubrics .table {
    margin-bottom: 0px !important;
    .bt0 {
        border-top : 0px;
    }
    >tbody>tr>td {
        border-top : 0;
    }

    .bd1 {
        border-bottom : 1px solid #e7eaec;
        border-right : 1px solid #e7eaec;
    }

    .table-border-bottom {
        td {
            border-bottom: 1px solid #e7eaec;
        }

    }

    .table-border-bottom > tbody > tr:last-child {
        > td {
            border-bottom: 0;
        }
    }


}

.dashboard-rubrics {

    table-layout : fixed;
    > table {
        table-layout : fixed;
        border-bottom : 1px solid #e7eaec;
    }

    > table:last-child {

        border-bottom : 0;
    }

    .goals {
        border-bottom : 1px solid #e7eaec;
        > tbody {
            > tr {
                > td {
                    border-right : 1px solid #e7eaec;
                }

                >td:first-child {
                    border-left : 1px solid #e7eaec;
                }
            }
        }
    }

    >thead {
        > tr {
            > th {
                border-right : 1px solid #ddd;
            }

            >th:last-child {
                border-right : 0;
            }
        }
    }

    .table-condensed {
        > tbody {
            > tr {
                > td {
                    border-right : 1px solid #e7eaec;
                    vertical-align: middle;
                    a, span {
                        color : #676a6c;
                    }
                }

                > td:last-child {
                    border-right : 0;
                }
            }
        }
    }


}


.rubic-header {

        > table {
            table-layout : fixed;
            margin : 0;

            > thead>tr {
             > th {
                border-bottom : 0!important;
                 border-right : 1px solid #e7eaec;
            }

            > th:last-child {
                border-right : 0;
            }
            }
        }
    }

.table-blue-header th.rubic-header {
     padding : 0!important;
}

.collapse-panel {
    td {
        background : #f3f3f4;

        a {
            color : #676a6c;
        }
    }
}

.ev-table {
    > table {
        min-height : 64px;
        > tbody {
            > tr {
                > td {
                    border-right : 1px solid #e7eaec;
                    vertical-align : middle;
                }

                > td:last-child {
                    border-right : 0;
                }
            }

            > tr:first-child {
                >td {
                    border-top : 0;
                }

            }
        }

        margin : 0;
    }
}

.showactivity {
    > a{
        color : inherit;
    }

}