div[uib-datepicker-popup-wrap] .dropdown-menu {
    padding: 8px;

    .btn-default {
        border: none;
        background: none;
        box-shadow: none;
        color: inherit;
        min-width: 0;
    }


    table:focus {
        outline: none;
    }

    .text-muted {
        color: lightgrey;
    }

    button.active {
        background: #1ab394;

        span {
            color: white;
        }
    }

    button:focus {
        outline: none;
    }
}

.ng-invalid-date {
    border-color: red;
}
