.evaluator-dashboard-evaluatees .table th {
  /*  background-color: #3a4459 !important;
    color:white;*/
}

.eval-panel {
	width : 300px;
	margin-left : 25px;
	ul {
		list-style : none;
		padding : 0;
		li {
			padding : 5px 0;
			min-height : 30px;
		}
	}
}