/* node title directive */

evidence-collection div.color-index strong {
    vertical-align: 50%;
}

evidence-collection div.color-index div.btn-toolbar .primary {
    background-color: #ffea8c;
    color: #2f4050;
}

evidence-collection div.color-index div.btn-toolbar .secondary {
    background-color: #cce6ff;
    color: #2f4050;
}

evidence-collection .node-header {
    line-height: 40px;
    margin-bottom: 20px;
}

evidence-collection .rubric-header {
    padding-bottom: 15px;
    border-bottom: solid 1px #ddd;
}

evidence-collection .btn.show-evidence {
    margin-right: 15px;
/*    background: #2f4050;*/
}

rubric-row table.rubric-row-details,
rubric-row-reference table.rubric-row-details {
    margin-top: 20px;
}

rubric-row table.rubric-row-details th,
rubric-row table.rubric-row-details td,
rubric-row-reference table.rubric-row-details th,
rubric-row-reference table.rubric-row-details td{
    border: none ;
}

rubric-row table.rubric-row-details th,
rubric-row-reference table.rubric-row-details th{
    padding: 0 1px;
    text-transform: capitalize;
}

rubric-row table.rubric-row-details th div,
rubric-row-reference table.rubric-row-details th div {
    background: #ddd;
    padding: 0 0 0 8px;
    line-height: 30px;
}

rubric-row table.rubric-row-details th div:first-child.default,
rubric-row-reference table.rubric-row-details th div:first-child.default {
    background-color: #2f4050;
    color: white;
}

rubric-row table.rubric-row-details {
    th div.dot {
        padding: 0;
        margin-right: 5px;
        background: transparent;
    }

    th div.dot span {
        background: #1ab394;
        border-radius: 50%;
        display: inline-block;
        width: 13px;
        height: 13px;
        line-height: 14px;
        font-size: 9px;
        text-align: center;
        color: #fff;
    }

    th div.dot span.primary {
        background-color: #ffea8c;
        color: #2f4050;
    }

    th div.dot span.secondary {
        background-color: #cce6ff;
        color: #2f4050;
    }

    span.merge-text-default {
        background-color: #ffea8c;
    }

    span.merge-text-primary {
        background-color: #ffea8c;
    }

    span.merge-text-secondary {
        background-color: #cce6ff;
    }

    span.merge-text-combined {
        background-color: #82ffc9;
    }
}

.evaluation-builder {
    background: #F2F2F2;
    padding: 19px;
    border-radius: 4px;

    h3 {
        padding-bottom: 10px;
        border-bottom: solid 1px #BFBFBF;
        margin-bottom: 0;
    }

    .subhead {
        margin: 20px 0 7px 0;
    }

    .item-row {
        display: flex;
        line-height: 40px;
        background: #fff;
        margin-bottom: 4px;
        flex-direction: row;

        .index {
            min-width: 40px;
            border-right: solid 2px #F2F2F2;
            text-align: center;
            flex: 0 0 auto;
            font-size: 1.5em;
        }

        .summary {
            overflow: hidden;
            max-height: 40px;
            flex: 1 1 auto;
            padding: 0 8px;

            p {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .remove {
            width: 40px;
            text-align: center;
            flex: 0 0 auto;
            a {
                color: #ED5565;
            }
        }
    }

    ul.selected-evidence {
        padding: 0;
        margin: 0;
        list-style: none;
    }

}

// when an evidence has been added
.success-message {
    position: absolute;
    width: 100%;
    background: #F2F2F2;
    padding: 19px;
    border-radius: 4px;

    h2 {
        margin-top: 0;
    }

    // flip animation on appearance
    &.ng-enter {
        transition: transform 0.2s ease-out 0.6s;
        transform: scaleX(0);
    }

    &.ng-enter.ng-enter-active {
        transform: scaleX(1);
    }

    // fade out on removal
    &.ng-leave {
        transition: opacity 0.3s linear;
    }

    &.ng-leave.ng-leave-active {
        opacity: 0;
    }
}

// the little arrow on the side of the evaluation builder and success message
.evaluation-builder, .success-message {
    &::before {
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        margin: -10px 0 0 -29px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #F2F2F2;
        content: ''
    }
}

// animation to move the evaluation builder when going to the rubric
.evaluation-builder-animate {
    transition: top 1.1s ease-in-out 0.4s;

    &.hide-builder {
        transition: transform 0.2s ease-in;
        transform: scaleX(0);
    }
}

// animation to flip the evaluation builder and the rubric helper
.evaluation-builder-animate, .rubric-helper-animate {
    position: absolute;
    width: 100%;

    &.ng-enter {
        transition: transform 0.2s ease-out 0.2s;
    }

    &.ng-leave {
        transition: transform 0.2s ease-in;
    }

    &.ng-enter, &.ng-leave.ng-leave-active {
        transform: scaleX(0);
    }

    &.ng-leave, &.ng-enter.ng-enter-active {
        transform: scaleX(1);
    }
}

.evidence-collection-anim-container {
    overflow-x: hidden;
}

.evidence-collection-anim {
    position: relative;
    width: 100%;

    &.ng-enter {
        transition: all 0.5s ease-out 0.3s;
        float: left;
        margin-left: -110%;
        opacity: 0;
        &.ng-enter-active {
            margin-left: 0;
            opacity: 1;
        }
    }

    &.ng-leave {
        transition: all 0.5s ease-in;
        float: right;
        &.ng-leave-active {
            margin-right: -110%;
            opacity: 0;
        }
    }
}

evidence-collection {
    .btn-group {
        > .btn-primary.btn-outline {
            color : inherit;
        }

        
        > .btn-primary.btn-outline:hover  {
            color : #fff;
        }

        >.btn-primary.btn-outline.active {
            color : #fff;         
        }


         > .btn-primary.btn-dark:first-child {
            border-left : none;
        }
        
        > .btn-primary.btn-dark:last-child {
            border-right : none;
        }


        &.custom-filter {
            margin-left: 115px;
           
           

            >.btn-outline.active {
                background-color: #18a689;
                border-color: #18a689;
                color : #fff;
            }

            > .btn-hover {
                background-color: #18a689;
                border-color: #18a689;
                color : #fff;
            }

             >.btn-outline.active {
                border-right:1px solid #e0e0e0;                   
                border-left:1px solid #e0e0e0;                   
            }

            >.btn-outline.active:first-child {
                border-left : none;
            }

            >.btn-outline.active:last-child {
                border-right : none;
            }
        }
    }


}

.fadeout {
    -webkit-transition : opacity 2s ease;
    -moz-transition : opacity 2s ease;
    -ms-transition : opacity 2s ease;
    transition : opacity 2s;
    
    opacity : 0;
}

.success-message {
    opacity : 1;
}

.collected_title {
    font-weight : 700;
    margin : 20px 0;
}

.coded-section {
    border: solid 1px #ddd;
    background-color: white;

    &:before {
        padding: 3px 5px 2px 5px;
        background-color: #2f4050;
        color: white;
        font-size: 10px;
        font-weight: bold;
        user-select: none;
        display: inline;
        content: attr(rubricrow)
    }

    &:after {
        padding: 3px 5px 2px 5px;
        background-color: #ddd;
        color: #778899;
        font-size: 10px;
        font-weight: bold;
        user-select: none;
        display: inline;
        content: attr(rubricrow)
    }

    &[contenteditable=false] {
        background-color: #eee;
    }
}
