help {
    > button.btn.btn-primary {
        position: fixed;
        right: 20px;
        bottom: 20px;
        padding: 10px 20px;
        border-radius: 20px;
        min-width: 0;
        z-index: 1;

        i {
            padding-right: 5px;
        }
    }

    div.popover {
        position: fixed;
        right: 20px;
        bottom: 20px;
        top: auto;
        left: auto;
        z-index: 1000;
        display: block;
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        transition: all 0.3s ease-in;

        div.checkbox {
            display: inline-block;
            label {
                padding: 0;
            }
        }

        button.close {
            margin-top: -3px;
        }

        &.ng-enter, &.ng-leave.ng-leave-active {
            opacity: 0;
            margin-bottom: -30px;
        }

        &.ng-leave, &.ng-enter.ng-enter-active {
            opacity: 1;
            margin-bottom: 0;
        }
    }
}