
.district-header {
    background-color: #3a4459 !important;
    color:#DFE4ED;
    padding-top:6px;
    padding-bottom:4px;
}

.evaluation-section-header {
    background-color: #f3f3f4;
    padding-top:4px;
    padding-bottom:2px;
}
