/*
    some layout adjustments
*/

.ibox-content {
    min-height: 50vh;
}

ui-router-tabs .tab-body {
    min-height: 50vh;
}

.eval-footer .button-row {
    line-height: 34px;
}


.tab-body {
    min-height: 50vh;
}

.minimalize-styl-2 {
    min-width: 0;
}

.navbar > .nav > li > div {

    &.open > a {
        background: transparent;
    }

    > a {
        color: #999c9e;
        font-weight: 600;
    }

    .dropdown-menu {
        margin-top: 15px;
    }
}