button.add-new-participants  {
  margin-top: 15px;
  margin-left:4px;

  background-color: transparent;
  border: none;

  margin-bottom : 10px;
}

.new-participants-area {
  border: 1px solid #E7EAEC;
  position:relative;
  padding:20px 10px;
}
