.nav-header {
    color: #DFE4ED;
}

.nav-section-profile {
    padding: 25px 5px 5px 25px;
    background: $nav-profil-pattern;
    color: #dfe4ed;
}

.nav-section-orientation {
    padding: 5px 5px 5px 25px;
    background: $nav-profil-pattern;
}

.nav-section-orientation .text-muted {
    background: $nav-profil-pattern;
    color: #8095a8;
}

.nav-section-orientation a {
    color: #dfe4ed;
}

.nav-section-options {
    padding: 5px 25px;
    background: $nav-profil-pattern;
    color: #8095a8;
}

.nav-section-evaluating {
    padding: 0px 5px 10px 25px;
    background: $nav-profil-pattern;
    color: #dfe4ed;
}

.nav-section-impersonate {
    padding: 15px 25px;
    background: $nav-profil-pattern;
    color: #dfe4ed;
}

.nav-section-impersonate a {
    color: #dfe4ed;
}

li > hr {
    margin: 20px;
}

/*
.nav-dropdown {
    padding: 35px 25px;
}
*/

/* Left Navbar */

#page-wrapper {
    transition: margin ease-in-out 0.5s;
}

.navbar-default {
    transition: width ease-in-out 0.5s;
    // overflow-x: hidden;

    > div {
        width: 220px;
    }
}

body.mini-navbar {
    .left-navbar-logo {
        display: none;
    }

    .navbar-default > div {
        width: 70px;
    }
}

.left-navbar-logo {
    padding: 15px 0px 0px 25px;
}

.left-nav-eval-dropdown>select {
    font-size:12px;
	width:180px;
	overflow:hidden;
    color:#676a6c;
}

body.mini-navbar .nav-summary {
    display: none;
}

.left-navbar .nav-summary {
    font-size: 11px;
}

.nav-evaluating {
    margin-top:15px;
}


.left-navbar-profile-displayname {
    color:white;
}

/* Make the evaluatee dropdown shake when it needs to be selected
   triggered by setting a class on the body in config.js during $stateChangeStart */
body.no-evaluatee select.evaluatee-dropdown {
	display:block;
	position:relative;
	margin-top: 1px;
	-webkit-animation-name: linkQuake;
		-moz-animation-name: linkQuake;
			animation-name: linkQuake;
	-webkit-animation-duration: 0.5s;
		-moz-animation-duration: 0.5s;
			animation-duration: 0.5s;
	-webkit-transform-origin:50% 50%;
		-moz-transform-origin:50% 50%;
			transform-origin:50% 50%;
	-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
			animation-timing-function: linear;
}

@keyframes linkQuake {
	0%   {
		transform: rotate(0deg);
	}
	11%  {
		transform: rotate(-2deg);
	}
	22%  {
		transform: rotate(0deg);
	}
	33%  {
		transform: rotate(2deg);
	}
	44%  {
		transform: rotate(0deg);
	}
	55%  {
		transform: rotate(-2deg);
	}
	66%  {
		transform: rotate(0deg);
	}
	77%  {
		transform: rotate(2deg);
	}
	88%  {
		transform: rotate(0deg);
	}
	100%  {
		transform: rotate(-2deg);
	}
}

@-moz-keyframes linkQuake { /* Firefox */
	0%   {
		-moz-transform: rotate(0deg);
	}
	11%  {
		-moz-transform: rotate(-2deg);
	}
	22%  {
		-moz-transform: rotate(0deg);
	}
	33%  {
		-moz-transform: rotate(2deg);
	}
	44%  {
		-moz-transform: rotate(0deg);
	}
	55%  {
		-moz-transform: rotate(-2deg);
	}
	66%  {
		-moz-transform: rotate(0deg);
	}
	77%  {
		-moz-transform: rotate(2deg);
	}
	88%  {
		-moz-transform: rotate(0deg);
	}
	100%  {
		-moz-transform: rotate(-2deg);
	}
}

@-webkit-keyframes linkQuake { /* Safari and Chrome */
	0%   {
		-webkit-transform: rotate(0deg);
	}
	11%  {
		-webkit-transform: rotate(-2deg);
	}
	22%  {
		-webkit-transform: rotate(0deg);
	}
	33%  {
		-webkit-transform: rotate(2deg);
	}
	44%  {
		-webkit-transform: rotate(0deg);
	}
	55%  {
		-webkit-transform: rotate(-2deg);
	}
	66%  {
		-webkit-transform: rotate(0deg);
	}
	77%  {
		-webkit-transform: rotate(2deg);
	}
	88%  {
		-webkit-transform: rotate(0deg);
	}
	100%  {
		-webkit-transform: rotate(-2deg);
	}
}

.top20 {
	top : 20px;
}

.popover.right>.arrow:after {
	border-right-color: #233646;
}