list-filter .btn-default {
    background: transparent;
    color: inherit;
}

list-filter .btn-group {
  margin-left: 10px;
}

list-filter .btn-group.ng-enter,
list-filter .btn-group.ng-leave {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

list-filter .btn-group.ng-enter,
list-filter .btn-group.ng-leave.ng-leave-active {
  opacity: 0;
  margin-left: 25px;
}

list-filter .btn-group.ng-leave,
list-filter .btn-group.ng-enter.ng-enter-active {
  opacity: 1;
  margin-left: 10px;
}