/*
    Overrides for the angular-loading-bar styles
*/

#loading-bar .bar {
    background-color: $navy;
}

/*
    loading-panel directive
*/

loading-panel {
    display: block;
    transition: height 2000ms ease-in-out;
    position: relative;

    .spin-box {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transition: opacity linear 0.3s;

        &.ng-hide {
            position: absolute;
            opacity: 0;
        }
    }

    .content-box {
        transition: opacity linear 0.3s;

        &.ng-hide {
            opacity: 0;
        }
    }
}