.yellow-highlight, .yellow-highlight:focus {
  background-color: #ffea8c;
  //color: #ffea8c;
}

.blue-highlight, .blue-highlight:focus {
  background-color: #cce6ff;
  //color: #cce6ff;
}

.green-highlight, .green-highlight:focus{
  background-color: #82ffc9;
  //color: #82ffc9;
}

.navy-highlight, .navy-highlight:focus {
  background-color: #2f4050;
  color: #cce6ff;
}