
node-title {
    & > div {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    div.short-name {
        background-color: #2f4050;
        color: #fff;
        font-size: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width:60px;
        min-height: 45px;
        font-weight: bold;
        position: absolute;
        margin-left: -20px;
        height: 100%;
    }

    div.title {
        flex-grow: 1;
        border-width: 1px 0;
        border-style: solid;
        border-color: transparent;
        width: 100%;
        line-height: 18px;
        padding: 8px;
        vertical-align: middle;
        font-weight:bold;
        font-size:18px;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}