
.note-editor.note-frame {
  border: 1px solid #E0E0E0 !important;
}

.btn-default {
  border-color: #E0E0E0 !important;
}

.panel-heading.note-toolbar {
  padding: 10px 12px 12px 12px;
}

.editor-selected {
    border: solid 1px #ddd;
    background-color:white;
    color: #676a6c;

    .remove-code-selection {
        padding: 3px 3px 1px 1px;
        cursor: pointer;
        background-color: #ddd;
        color: red;
        font-size: 10px;
        line-height: 14px;
        font-weight: normal;
        user-select: none;
    }

    .node-desc {
        padding: 3px 5px 2px 5px;
        background-color: #2f4050;
        color: white;
        font-size: 10px;
        font-weight: bold;
        user-select: none;
    }

    .node-desc-end {
        padding: 3px 5px 2px 5px;
        background-color: #ddd;
        color: #778899;
        font-size: 10px;
        font-weight: bold;
        user-select: none;
    }
}