﻿table.framework-view th {
    background-color: #3a4459 !important;
    color: white;
}

    table.framework-view th.fn-complete {
        background-color: #1ab394 !important;
        color: white;
    }

.add-stand-alone-q {
    margin-left: 10px;
    margin-bottom:150px;
}


.prompt-select-button {
    background-color: #1ab394;
    color: white;
    margin-left:-10px
}



/*Teacher Pre conference*/

.teacher-pre-conf-question-area {
    margin-top: 30px;
}

.q-ans-main-area {
    min-height: 60px;
    border: solid 5px #dddddd;
    margin-bottom: 10px;
    overflow: hidden;

    .teacher-question {
        background-color: #dddddd;
        line-height: 30px;
    }

    .teacher-answer {
        background-color: white;
        height: auto;

        textarea {
            width: 100%;
            height: 100%;
        }
    }
}

.selected-question-area {
    border: solid 1px #dddddd;
}

.selected-question-header {
    background-color: #dddddd;
    height: 66px;
    padding: 10px;
}

.prompt-responses .note-editor {
    background-color: #e7eaec;
    border-radius: 3px;

    .selectable-area > div {
        margin: 5px 0 0 5px;
    }

    .code-area {
        background-color: white;
        padding: 10px;
        margin-top: 5px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.prompt-responses .note-reader {
    .coded-section {
        border: solid 1px #ddd;
        background-color: white;

        &:before {
            padding: 3px 5px 2px 5px;
            background-color: #2f4050;
            color: white;
            font-size: 10px;
            font-weight: bold;
            user-select: none;
            display: inline;
            content: attr(rubricrow)
        }

        &:after {
            padding: 3px 5px 2px 5px;
            background-color: #ddd;
            color: #778899;
            font-size: 10px;
            font-weight: bold;
            user-select: none;
            display: inline;
            content: attr(rubricrow)
        }

        &[contenteditable=false] {
            background-color: #eee;
        }
    }
}



.observation-tabs {

    ul.dropdown-menu li a:hover {
        background: #e7eaec;
        color: #262626;
    }

    &.affix {
        position: fixed;
        top: 0;
        z-index: 1000;
        // width: 100% !important;

        & > div {
            background: #fff;
            transition: padding-top ease-in 0.5s;
            padding: 10px 25px 0 25px;
            position: absolute;
            left: -25px;
            right: -25px;
            border-bottom: 1px solid #e7eaec;

            ul.nav {
                border-color: transparent;

                > li.active > a {
                    border: none;
                    border-bottom: solid 5px #3a4459;
                }
            }

            .save-notice, .buttons {
                border-color: transparent;
            }
        }
    }

    & > div {
        display: flex;

        .tabs {
            flex: 1 1 100%;
        }

        .save-notice {
            flex: 1 1 auto;
            white-space: nowrap;
            line-height: 34px;
            border-bottom: 6px solid #e7eaec;

            label {
                margin: 0;
            }
        }

        .buttons {
            flex: 1 1 auto;
            border-bottom: 6px solid #e7eaec;
            white-space: nowrap;

            span.sharing-icon {
                position: relative;
                display: inline-block;
                width: 21px;
                height: 14px;
                font-size: 1.2em;

                span {
                    position: absolute;
                    text-shadow: -1px -1px 0 #293846, 1px -1px 0 #293846, -1px 1px 0 #293846, 1px 1px 0 #293846;

                    &.evaluator {
                        color: #FFE98A;
                        top: 0;
                        left: 0;
                    }

                    &.evaluatee {
                        color: #CCE5FF;
                        top: 5px;
                        left: 7px;
                    }
                }
            }

            .popover {
                background-color: #3a4459;
                border: none;

                .arrow {
                    border-bottom-color: transparent;

                    &:after {
                        border-bottom-color: #3a4459;
                    }
                }

                .popover-content {
                    width: 300px;

                    p, h4 {
                        color: #fff;
                    }

                    h4 {
                        margin-bottom: 20px;
                    }

                    p span {
                        color: #1ab394;
                        margin-right: 10px;
                        display: inline-block;
                        width: 60px;
                        text-align: right;

                        &.disabled {
                            color: #ed5565;
                        }
                    }

                    div.text-right {
                        margin-top: 30px;
                    }

                    .note {
                        color: #ed5565;
                    }
                }
            }
        }
    }
}

.modal-sharing .modal-dialog {
    width: 400px;

    label {
        font-weight: normal;
    }
}