/* Conference*/
.prompt-selection-area,
.prompt-display-area {
    margin-top: 20px;
}

.prompt-selection-area  {

    .prompt-panel {
        width: 490px;
        float: left;
        border-bottom: solid 1px #a9a9a9;
    }

    .prompt-selection-area-right #btnSend {
        margin-top: 15px;
        vertical-align:baseline;
    }

    .prompt-panel-header {
        height: 50px;
        font-size : 14px;
    }

    .prompt-panel-header .description {
        font-size: 12px;
    }

    .prompt-selection-area-left,
    .prompt-selection-area-right {
        border: 1px solid #E7EAEC;
        position:relative;
    }

    .prompt-selection-area-left #btnSend {
        position:absolute;
        bottom : 0;
        opacity : 1;
    }

    .prompt-row {
        border-bottom: solid 1px #E7EAEC;
        padding: 20px;
        font-size : 14px;
        cursor: pointer;
        line-height: 20px;
        width: 100%;
    }

    .prompt-row-new-prompt {
        height: 78px !important;
    }

    .prompt-row-header {
        background-color: #dddddd;
        height: 30px;
        line-height : 30px;
        padding : 0 20px;

    }

    .prompt-selector {
        float: left;
        width: 50px;
        text-align: center;
    }

    .scrollbar-dynamic > .scroll-element.scroll-y{
        right:-2px;
    }

    .selected-prompt {
        background-color: #eee;
    }

    .prompt-row-done {
        background-color: #1ab394;
        text-align: center;
        color: white;
        padding: 7px 0px 7px 0px !important;
        height: 35px !important;
    }

    .prompt-view {
        margin-top: 10px;
    }

    .prompt-view .prompt-row {
        margin-top: 10px;
    }
}

table.framework-view th {
    background-color: #3a4459 !important;
    color: white;
}

table.framework-view th.fn-complete {
    background-color: #1ab394 !important;
    color: white;
}

.add-stand-alone-q {
    margin-left: 10px;
    margin-bottom:150px;
}

.remove-prompt-icon {
    font-size: 16px;
}

.prompt-select-button {
    background-color: #1ab394;
    color: white;
    margin-left:-10px;
    min-width:0px !important;
}



/*Teacher Pre conference*/

.teacher-pre-conf-question-area {
    margin-top: 30px;
}

.q-done-list-area {
    border: solid 1px #dddddd;
    min-height: 30px;
    line-height: 24px;

    .q-done-list-area-header {
        background-color: #dddddd;
        display: flex;

        p {
            margin: 0;
        }

        & > div:first-child {
            flex: 1 0;
            padding: 10px;
        }

        & > div:last-child {
            display: flex;
            align-items: center;
            padding: 10px;

            div {
                margin-right: 10px;
            }
        }
    }

    ol {
        margin: 20px 0;

        li {
            margin: 5px 0;
        }
    }
}

.q-ans-main-area {
    min-height: 60px;
    border: solid 5px #dddddd;
    margin-bottom: 10px;
    overflow: hidden;
}

.q-ans-main-area .teacher-question {
    background-color: #dddddd;
    min-height: 30px;
    line-height: 24px;
    padding-left:5px;
}

.q-ans-main-area .teacher-answer {
    background-color: white;
    height: auto;
}

.q-ans-main-area .teacher-answer textarea {
    width: 100%;
    height: 100%;
}

.selected-question-area {
    border: solid 1px #dddddd;
}

.selected-question-header {
    background-color: #dddddd;
    height: 66px;
    padding: 10px;
}

.prompt-selection-area  .btn-disabled {
	background-color : #BFBFBF;
	border-color : #BFBFBF;
	color : #676A7F;
	font-weight : 500;
}

.prompt-selection-area  .btn-disabled :hover,
.prompt-selection-area  .btn-disabled :active {
	background-color : #BFBFBF;
	border-color : #BFBFBF;
	color : #676A7F;
}

.prompt-selection-area  .addNewPrompt  {
	margin: 15px;
	background-color: transparent;
    border: none;
}

.prompt-selection-area .no-border {
	border:none;
}

.prompt-selection-area .edit-prompt {
	color : #000;
}

.prompt-selection-area .btn-transparent {
	background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

prompt-selector .prompts-wrapper {
	display: flex;
	align-items: stretch;
	margin: 0 -15px;
}

prompt-selector .prompts-wrapper > div {
	width: 50%;
	margin: 0 15px;
}

prompt-selector .prompt-selection-area-left {
	position: relative;
	min-height: 300px;
}


prompt-selector .prompt-selection-area-left  .available-prompts{
	position: absolute;
    overflow-y: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

prompt-selector .prompt-selection-area-right {
	display: flex;
	flex-direction: column;
}

/* want add prompt button to be at the top
prompt-selector .prompt-selection-area-right .prompts-list {
	height: 100%;
	flex: 1 0;
}*/

.prompt-response {
    background-color:#F2F2F2;
    padding: 10px;
    margin: 20px 0;
}

.prompt-response hr {
    border-color: #BFBFBF !important;
    margin-top:5px !important;
    margin-bottom:5px !important;
}
.prompt-responses .response {
    display: flex;
    align-items: center;
}

.prompt-responses .response > div:first-child {
    flex: 1 1;
    width: 100%;
}

.prompt-responses .response > div:nth-child(2) {
    flex: 0 0;
    min-width: 30px;
    text-align: right;
}

.prompt-responses .response .header-info .pull-left {
    margin-right: 10px
}
