prompt-grid button.add-new-prompt  {
    margin-top: 15px;
    margin-left:4px;

    background-color: transparent;
    border: none;

    margin-bottom : 10px;
}

prompt-grid .new-prompt-area {
    border: 1px solid #E7EAEC;
    position:relative;
    padding:20px 10px;
}

prompt-grid .btn-fn {
    width:35px !important;
    height: 35px !important;
    min-width:0px !important;
}

prompt-grid .lib-prompts-row {
    padding:40px;
}

prompt-grid .table-prompts {
    margin-bottom: 0px !important;
}