report-fn-score-block {
    table {
        width: 100%;
        margin-bottom: 20px;
    }

    td {
        border: solid 1px #BFBFBF;
        padding: 10px;
        width: 40px;
        text-align: center;

        &:nth-child(2) {
            width: auto;
            text-align: left;
        }

        &.active {
            background: #E0E0E0;
        }
    }

    thead {
        td:first-child {
            background: #E0E0E0;
            font-size: 1.3em;
            font-weight: 600;
        }
        td:nth-child(2) {
            font-size: 1.3em;
            font-weight: 600;
        }
    }
}