div.stmt-of-perf {

    border: solid 1px #bfbfbf;
    padding:10px;
    margin-top: -20px;
    margin-bottom:20px;

    div.header {
        font-weight:bold;
    }

    div.stmt {

    }
}

table.signatures {
    font-size:16px;
    line-height:100px;
}

.report-section {
  page-break-inside: avoid;
}

div.rubric-title {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 45px;

    div.node-title {
        flex: 0 1 100%;
        width: 100%;
        line-height: 26px;
        font-size: 20px;
        font-weight:bold;
        display: flex;
        /*justify-content: center;*/
        flex-direction: row;
        margin-top: 13px;
        .subline {
            margin: 0 10px;
        }
    }
    div.row-title {
          flex: 0 1 100%;
          width: 100%;
          line-height: 18px;
          font-size: 20px;
          display: flex;
          /*justify-content: center;*/
          flex-direction: row;
          margin-top: 13px;
          .subline {
              margin: 0 10px;
          }
      }
}