report-score-block {
   td {
        border: solid 1px #BFBFBF;
        padding: 10px;
        width: 40px;
        text-align: center;

        &:nth-child(2) {
            width: auto;
            text-align: left;
        }

        &.active {
            background: #E0E0E0;
        }
    }
}