rubric-row {
    .collectionTypeHeading {
        margin-top:40px;
        margin-bottom:30px;
        text-decoration: underline;
        font-weight:bold;
        font-size:14px;
    }

    rubric-row .collectionInstanceHeading {
        margin-bottom:10px;
    }

    // Fades in the new evaluations
    .rubric-row-evaluation {
        transition: all 0.3s ease-in-out 0.5s;

        &.ng-enter {
            opacity: 0;
        }

        &.ng-enter.ng-enter-active {
            opacity: 1;
        }
    }
}
