rubric-helper {
    display: block;


    .framework-highlight {
        font-size: 12px;
        user-select: none;

        .bordergreen {
            border: solid 2px #1ab394;
        }

        .section-row div.node-name {
            background: #2f4050;
            border-top: solid 1px #2f4050;
            color: white;
            border-bottom: solid 1px #2f4050;
        }

        div.node-name,
        div.row-name {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .disabled {
            div.node-name {
                background-color: #c2c2c2;
                border-color: #c2c2c2;
            }

            .cell-1 {
                color: #c2c2c2;
            }

            .cell-2 {
                color: #c2c2c2;
            }

            .cell-3 {
                display: none;
            }
        }

        .done div.node-name {
            background-color: #1ab394;
            border-color: #1ab394;
        }

        .row-name {
            border-right: solid 1px lightgrey;
            border-top: solid 1px transparent;
        }

        .section {
            background-color: #fff;
            margin: 5px 0;
        }

        .section-row {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            overflow: hidden;
     //       border-left: solid 1px #2f4050;
            border-right: 1px solid #ddd;

            & > div {
                line-height: 34px;
                padding: 0px 0px;
                flex-grow: 0;
                border-bottom: solid 1px #eee;
            }
        }

        .rubric-row {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }

        .cell-1 {
            width: 35px;
            min-width: 35px;
            text-align: center;
            font-weight: bold;
        }

        div.cell-2 {
            flex-grow: 1;
            border-width: 1px 0;
            border-style: solid;
            border-color: transparent;
            width: 100%;
            line-height: 18px;
            padding: 8px;
            border-bottom: solid 1px #eee;
            font-size:12px;
            position: relative;
        }

        .cell-3 {
            flex-shrink: 0;
            border-width: 1px 0;
            border-style: solid;
            border-color: transparent;
            margin-right:4px;
        }

        .selected {
            border: 1px solid #18a689;
        }

        .node-row:hover {
            border: solid 1px #cecece;
        }

        .rubric-row:hover {
            background: #ececec;
        }

        .selected,
        .node-row:hover {
            .cell-2 {
                border: none;
            }

            .cell-3 {
                border: none;
                margin-right: 4px;
            }

            .cell-1 {
                border-top: none;
                border-bottom: none;
            }

            div.node-name {
                border: none;
            }
        }

        helper-switch {
            white-space: nowrap;

            .node-score {
                display: inline-block;
                border: 1px solid lightgray;
                background-color:white;
                font-size: 12px;
                text-align: center;
                line-height: 17px;
                width: 18px;
                margin-left: 4px;
                border-radius: 3px;
                font-weight: bold;
                position: relative;
            }
        }

        .node-row helper-switch .node-score.active {
            background: #2f4050;
            color: white;
            border-color: #2f4050;
        }

        .rubric-row helper-switch .node-score.active {
            color: #18a689;
            border-color: #18a689;
        }


        helper-switch .node-score .score {
            position: absolute;
            background: #bdbdbd;
            color: #fff;
            font-size: 8px;
            width: 10px;
            height: 10px;
            line-height: 10px;
            border-radius: 5px;
            right: -5px;
            bottom: -5px;
        }

        helper-switch .node-score .score.active {
            background: #18a689;
        }

        &.affix {
            position: fixed;
            top: 20px;
            max-height:95%;
        /*  bottom: 60px;*/
            overflow-y: auto;
            z-index: 1;
        }

        .node-row:hover {
            border-color: #ddd;
        }

        .section-row:not(.disabled) {
            div.node-name {
            transition: background-color 0.4s ease;
            border-color: #2f4050;
            z-index: 100;
            background: url(../images/helper-nav-indicator.png) 92% 1px no-repeat #2f4050;

            & + .cell-2:before {
                content: 'Navigate to summative view..';
                opacity: 0;
                position: absolute;
                left: -50px;
                transition: all ease-in 0.3s;
                // The 5 lines below do the vertical middle alignment
                height: 100%;
                margin-top: -8px;
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            & + .cell-2 span {
                transition: all ease-out 0.3s;
            }
         }

         div.node-name:hover {
            border-color: #7FB8EC;
            background-color: #7FB8EC;
            color: #2F4050;

            & + .cell-2:before {
                opacity: 1;
                left: 8px;
            }

            & + .cell-2 span {
                // position: absolute;
                // left: 50px;
                opacity: 0;
            }
        }

        } 

        
    }

    .btn-group button {
        min-width: 0;
    }

    .hide-btn {
        min-width: 0;
        margin-left: 5px;
    }

    .collection-score {
        background-color:#3a4459;
        color:white;
        display: flex;
        min-height: 34px;
        align-items: center;

        & > div:first-child {
            flex: 2 1 auto;
            text-align: right;
            padding: 5px 10px;
        }

        & > div:last-child {
            flex: 1 0 auto;
            padding: 0 10px;

            .btn-score {
                display: inline-block;
                border: 1px solid lightgray;
                background-color:white;
                color: grey;
                font-size: 12px;
                text-align: center;
                line-height: 17px;
                width: 18px;
                margin-left: 4px;
                border-radius: 3px;
                font-weight: bold;
                padding: 0;
            }

            .btn-score-active {
                background-color:#18a689;
                border-color: #18a689;
                color:white;
            }
        }
    }
}