rubric-title {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 45px;

    div.short-name {
        background-color: #2f4050;
        color: #fff;
        font-size: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 60px;
        font-weight: bold;
        position: absolute;        
        height: 100%;
    }

    div.title {
        flex: 0 1 100%;
        width: 100%;
        line-height: 18px;
        padding: 8px 8px 8px 28px;
        font-weight: bold;
        font-size: 18px;
        margin-left: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    div.row-title {
        flex: 0 1 100%;
        width: 100%;
        line-height: 18px;
        font-size: 20px;
        display: flex;
        /*justify-content: center;*/
        flex-direction: row;
        margin-top : 13px;
        .subline {
            margin : 0 10px;
        }
        
    }

    score-button-group {
        flex: 0 1 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        white-space: nowrap;

        .btn {
            font-size : 11px;
            padding : 5px 10px;
        }

        .grading > span {
            font-size : 12px;
            margin: 0 5px;
        }
    }
}
