rubric-row-evaluation {
    margin-bottom: 20px;
    display: block;

    .rating {
        display: flex;
        min-height: 60px;
        align-items: stretch;
        background: #293846;
        color: #c2c2c2;

        label {
            padding-bottom: 6px;
            border-bottom: solid 1px #c2c2c2;
        }
    }

    
    .buttons,
    .rating > div {
        display: flex;
        align-items: center;
    }

    .rating .initial {
        min-width: 30px;
        justify-content: center;
        font-size: 20px;
    }

    .rating .initial-default {
        background: #3D5466;
        color:white;
    }

    .rating .initial-primary {
        background: #ffea8c;
        color: #2f4050;
    }

    .rating .initial-secondary {
        background: #CCE5FF;
        color: #2f4050;
    }

    .rating .statement {
        padding: 10px;
        flex: 1 0;
    }

    .rating .quote:before, .quote:after {
        content: '"';
    }

    .report {
        .initial-default {
            background : #f0f0f0;
            color : inherit;
            border-right : 2px solid #d0d0d0;            
        }
    }


    .buttons {
        min-width: 70px;
        flex: 0 0;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .buttons a {
        margin-left: 5px;
    }

    .evidence-group {
        background: #f0f0f0;

        label {
      //      border-bottom: solid 1px $text-color;
            padding-bottom: 6px;
        }
    }

    .evidence-header {
        width: 100%;
        background-color: inherit;
        text-align: left;
    }

    .evidence-header span {
        padding-bottom: 2px;
        margin-bottom: 8px;
        display: inline-block;
        border-bottom: solid 1px #d0d0d0;
    }

    .evidence .view {
        display: flex;
    }

    .evidence {
        border-bottom: solid 1px #d0d0d0;
    }
    .evidence:last-child {
        border-bottom: none;
    }

    .evidence .summary {
        flex: 1 0;
        padding: 10px;
    }

    .evidence-comment {
        border-top: dashed 1px #d0d0d0;
        margin: 0 10px;
        padding: 10px 0;
    }

    .comment-buttons {
        text-align: right;
        margin-top: 10px;
    }

    .rating-comments {
        padding: 10px;
        border: solid 1px #f0f0f0;
        border-top: none;
    }

    .evidence-comment.view,
    .rating-comments.view {
        display: flex;
        padding: 0;
    }

    .evidence-comment.view > div:first-child {
        flex: 1 0;
        padding: 10px 0;
    }

    .evidence-comment.view .buttons {
        padding: 0;
    }

    .rating-comments.view > div:first-child {
        flex: 1 0;
        padding: 10px;
    }

    .editing .fa {
        color: #bdbdbd;
    }

    .rreval-evidence-source {
        padding-top:10px;
        padding-right:15px;
        background-color:#f0f0f0;
    }

    div.report {
        background : #fff;
        border-left : 2px solid #d0d0d0;    
        border-right : 2px solid #d0d0d0; 
        border-bottom : 1px solid #d0d0d0;
        color : inherit;
    }

    > div.report:first-child {
        border-top : 2px solid #d0d0d0;
    }

    > div.report:last-child {
        border-bottom : 2px solid #d0d0d0;
    }
}
