score-button-group {

    .well-sm {
        padding: 3px;
        margin: 0;
    }

    .grading button {
        margin-left: 3px;
    }

    .btn-score {
        text-transform: capitalize;
        position: relative;

        .score {
            position: absolute;
            font-size: 8px;
            width: 10px;
            height: 10px;
            line-height: 10px;
            border-radius: 5px;
            right: -4px;
            bottom: -4px;
            z-index: 1;
            background: #bdbdbd;
            color:white;
        }

        &.navy-highlight .score {
            background: #18a689;
            color: white;
        }
    }


    button.btn {
        min-width: auto;
    }
    button.default {
        background-color: #2f4050;
        color: white;
    }

    button.primary {
        background-color: #ffea8c;
        color: #2f4050;
    }

    button.secondary {
        background-color: #cce6ff;
        color: #2f4050;
    }

    .score-button-default {
        @include button-variant($btn-primary-color, #3a4459, #e0e0e0);
    }

    .score-button-primary {
        @include button-variant($text-color, #ffea8c, #e0e0e0);
    }

    .score-button-secondary {
        @include button-variant($text-color, #cce6ff, #e0e0e0);
    }
}