.artifact-evidence {
  display: flex;
  align-items: center;
}

.artifact-evidence > div:first-child {
  flex: 1 1;
  width: 100%;
}
.artifact-evidence > div:nth-child(2) {
  flex: 0 0;
  text-align: right;

  span {
    margin-left: 10px;
  }
}