/*
    Used on the observation pre and post conference screens
*/

ul.sub-section-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #ddd;

    &:after {
        content: ' ';
        clear: both;
        display: table;
    }

    li {
        padding: 20px 10px;
        margin-right: 20px;
        float: left;

        &.active {
            border-bottom: solid 3px $nav-bg;
            padding-bottom: 17px;
        }
    }
}