.tab-body {
    border: none;
}

.tabs-container {
    $border-width: 6px;

    .nav-tabs {

        border-bottom: $border-width solid #e7eaec;

        > li {
            margin-bottom: -$border-width;

            & > a {
                border: none;
                padding: 10px 20px 5px 25px;
                border-bottom: $border-width solid transparent;
            }

            &.active > a, &.active > a:hover {
                border: none;
                // I normally try to avoid !important but this is to avoid a glitch
                // where the border color is sometimes transparent
                border-bottom: $border-width solid #fff !important;
            }
        }
    }
}