timepicker-pop {
    a.btn {
        min-width: 0;
    }

    .dropdown-menu {
        padding: 0 25px;
    }

    .ng-invalid {
        border-color: red;
    }

    td {
        padding: 0 2px;
    }

    button.btn {
        min-width: 0;
        border-color: #e5e6e7;
    }
}