.nav-header {
	background-color: #233646;
}

user-orientation .popover {
    display: block;
    right: 0;
    margin-top: -150px;
    min-width: 400px;
    background-color:#233646;
}

user-orientation .popover-content {
    margin:10px;
}

user-orientation .control-label {
    color:#DFE4ED;
}

user-orientation .popover-title {
    background-color:#233646;
    color:#DFE4ED;
    border:hidden;
}

user-orientation {
    overflow: visible;
}

.nav-orientation {
	margin-top: 10px;
}

.nav-orientation .text-muted {
    color: #8095a8;
}

user-orientation .overlay {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

user-orientation .popover-wrapper {
    overflow: visible;
    position: relative;
    float: right;
}

user-orientation .popover.right {
    box-shadow: 0 0 10px -5px #000;
    margin-left: 25px;
    color: #676a6c;
}

user-orientation .popover.right .arrow {
     top: 138px;
}

user-orientation .popover-wrapper.ng-enter,
user-orientation .popover-wrapper.ng-leave {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

user-orientation .popover-wrapper.ng-enter,
user-orientation .popover-wrapper.ng-leave.ng-leave-active {
  opacity: 0;
  margin-right: -20px;
}

user-orientation .popover-wrapper.ng-leave,
user-orientation .popover-wrapper.ng-enter.ng-enter-active {
  opacity: 1;
  margin-right: 0;
}

/* HACK: keeps the active left menu item from appearing over the popover during fade-in */
#side-menu.nav > li.active {
  position: inherit;
}

user-orientation .change-btn {
	margin-top: 15px;
    text-decoration: underline !important;
}
