<div>
    <div ng-show="vm.evalSession.selfEvalShared && vm.isEvaluator">
        <span>
            <b>This observation is shared with teacher</b>
        </span>
        <span class="pull-right">
            <input type="button"
                   value="Stop Sharing"
                   ng-click="vm.stopShareWithTeacher()"/>
        </span>
    </div>
    <br/>
    <evidence-collection evidence-collection="vm.evidenceCollection"
                         row="vm.row"
                         node="vm.node">
    </evidence-collection>
</div>
