<div class="row">
    <div class="col-lg-8">
        <evidence-collection evidence-collection="vm.evidenceCollection" row="vm.row"
                             node="vm.node"></evidence-collection>
    </div>
    <div class="col-lg-4">
        <rubric-helper></rubric-helper>
    </div>
</div>