<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>District Consensus Scores</h2>
                        <small>List of Consensus Scores you have entered</small>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="session in vm.sessions">
                        <td>
                            <table class="table">
                                <tr>
                                    <td>{{session.title}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" ng-click="vm.editSession(session)">Edit</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
