<categorized-selector edit-header="<b>Align Segment to Rubric:</b>"
                      view-header="<b>Selected Alignment</b>"
                      read-only="vm.readOnly"
                      categories="vm.categories"
                      state-framework-only="false"
                      changed="vm.changed($selectedRows)"
                      ng-if="vm.loaded"></categorized-selector>