<div class="modal-dialog">
    <div class="modal-body flatmodal">
    <div class="form-group">
        <h2 class="modal-title" ><strong>Invite Participants</strong></h2>
    </div>

    <div class="form-group">
        <strong class="font-size14">Invite participants by adding a list of email addresses. Multiple email addresses must be separated by a comma, semi-colon, or space. You can also add an optional message that will be included in the invitation email message.</strong>
    </div>

    <div class="form-group">
        <label>Email Addresses</label>
        <textarea class="form-control" rows="2" ng-model="vm.emailAddress" placeholder="Enter email addresses here"></textarea>
    </div>

    <div class="form-group">
        <label>Message (optional)</label>
        <textarea class="form-control" rows="2" ng-model="vm.message" placeholder="Enter message here"></textarea>
    </div>

    <div class="block-center text-center">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="vn.save()" >Send Invitations</button>
    </div>
</div>

</div>