<div class="modal-dialog">
    <div class="modal-body flatmodal">
        <div class="form-group">
            <h2 class="modal-title" ><strong>Join Session</strong></h2>
        </div>
        <ng-form name="vm.myForm">
            <div class="form-group">
                <label>Session Key:
                    <input type="number" name="input" ng-model="vm.sessionKey" min="1000" required>
                </label>
                <div>
                    <span class="error" ng-show="vm.myForm.input.$error.required">Required</span>
                    <span class="error" ng-show="vm.myForm.input.$error.min">Number must be at least four digits</span>
                    <span class="error" ng-show="vm.notFound">No session found matching the key entered.</span>
                </div>
            </div>
            <!-- <tt>value = {{vm.sessionKey}}</tt><br/>
             <tt>vm.myForm.input.$valid = {{vm.myForm.input.$valid}}</tt><br/>
             <tt>vm.myForm.input.$error = {{vm.myForm.input.$error}}</tt><br/>
             <tt>vm.myForm.$valid = {{vm.myForm.$valid}}</tt><br/>
             <tt>vm.myForm.$error.required = {{!!vm.myForm.$error.required}}</tt><br/>-->
        </ng-form>
        <div class="block-center text-center">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.join()">Done</button>
        </div>
    </div>
</div>
