<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Learning Walks</h2>
                        <small>List of Learning Walks you have started or joined</small>
                    </div>
                    <div class="col-lg-6">
                        <div class="pull-right">
                            <button ng-click="vm.joinLearningWalk()" class="btn btn-primary btn-xs" type="button">
                                <i class="fa fa-plus-circle"></i>&nbsp;Join Learning Walk
                            </button>
                            <button  ng-click="vm.addNewLearningWalk()" class="btn btn-primary btn-xs" type="button">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add Learning Walk
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <loading-panel loaded="vm.learningWalks != null">
                    <div class="row" ng-if="vm.learningWalks.length===0">
                        <div class="col-lg-12">
                            <nothing-here title="'Nothing here yet'" description="'Get started by adding a Learning Walk.'"></nothing-here>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row" ng-if="vm.learningWalks.length>0">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Created By</th>
                                    <th>Title</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="learningWalk in vm.learningWalks">
                                    <td>{{learningWalk.creationDateTime|date}}</td>
                                    <td>{{learningWalk.createdByDisplayName}}</td>
                                    <td style="width: 200px;">{{learningWalk.title}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" ng-click="vm.editLearningWalk(learningWalk)">View</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </loading-panel>
            </div>
        </div>
    </div>
</div>
