<div>
    <div>
        <div>
            <div>
                <page-header title="'Learning Walk Setup'">
                    Here you can setup the general information about the Learning Walk
                </page-header>
            </div>

            <div style="margin-top: 30px;">
                <form novalidate>
                    <div class="row">
                        <div class="col-lg-3 bdr1">
                            <p>
                                <strong>Evaluator:</strong>
                                <span>{{vm.learningWalk.createdByDisplayName}}</span>
                            </p>

                            <p>
                                <strong>Created:</strong>
                                <span>{{vm.learningWalk.creationDateTime | date}}</span>
                            </p>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="form-group col-sm-8">
                                    <label>Learning Walk Title:</label>
                                    <input class="form-control"
                                           maxlength="50"
                                           type="text"
                                           ng-model="vm.learningWalk.title"
                                           ng-change="vm.autoSave()"
                                           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br/><br/>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h4>Classrooms</h4>
                        <span>All of the classrroms that will be part of the Learning Walk</span>
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Tags</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="classroom in vm.learningWalk.classrooms">
                            <td>{{classroom.name}}</td>
                            <td>{{classroom.tags}}</td>
                            <td >
                                <div class="pull-right">
                                    <button class="btn btn-outline btn-default btn-xs"
                                            ng-click="vm.deleteClassroom(classroom)"
                                            ng-disabled="vm.showNewClassroomArea"
                                            confirm="Are you sure you want to remove this classroom?">Remove</button>
                                    <button ng-disabled="vm.showNewClassroomArea"
                                            class="btn btn-primary btn-xs"
                                            ng-click="vm.editClassroom(classroom)">Edit</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-if="vm.showAddClassroomArea" class="new-classroom-area">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <br/>
                            <strong>Classroom Name:</strong>
                            <div>
                                <input placeholder="Enter classroom name here..."  ng-model="vm.classroomName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <br/>
                            <strong>Tags:</strong>
                            <div>
                                <input placeholder="Enter tags here..."  ng-model="vm.classroomTags"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="pull-right">
                            <button class="btn btn-default btn-outline btn-xs" ng-click="vm.cancelAddClassroom()">Cancel</button>
                            <button class="btn btn-primary btn-xs" ng-click="vm.saveClassroom()">Done</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-lg-12">
                    <button ng-click="vm.startAddClassroom()" ng-class="{'disabled' : vm.showAddClassroomArea}" class="add-new-participants" ng-disabled="vm.showAddClassroomArea">
                <span class="glyphicon glyphicon-plus-sign"
                      ng-class="{'color-darkgrey': false, 'color-green': !vm.showAddClassroomArea}"></span>&nbsp;
                        <span>Add Classroom</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h4>Participants</h4>
                        <span>All of the users that have joined the Learning Walk</span>
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="participant in vm.learningWalk.participants">
                            <td>{{participant.displayName}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-if="vm.showAddParticipantsArea" class="new-participants-area">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <br/>
                            <strong>People:</strong>
                            <div>
                                <textarea rows="3" class="col-xs-12" placeholder="Enter email addresses..."  ng-model="vm.emailAddresses"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <strong>Message (optional):</strong>
                            <div>
                                <textarea rows="3" class="col-xs-12" placeholder="Enter optional message..."  ng-model="vm.message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="pull-right">
                            <button class="btn btn-default btn-outline btn-xs" ng-click="vm.cancelAddParticipants()">Cancel</button>
                            <button class="btn btn-primary btn-xs" ng-click="vm.inviteParticipants()">Done</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-lg-12">
                    <button ng-click="vm.startAddParticipants()" ng-class="{'disabled' : vm.showAddParticipantsArea}" class="add-new-participants" ng-disabled="vm.showAddParticipantsArea">
                <span class="glyphicon glyphicon-plus-sign"
                      ng-class="{'color-darkgrey': false, 'color-green': !vm.showAddParticipantsArea}"></span>&nbsp;
                        <span>Invite Participants</span>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <br/><br/>

    <div class="row">
        <div class="col-lg-12">
            <br/><br/>
            <button class="btn btn-default btn-outline"
                    confirm="Are you sure you want to delete this Learning Walk?"
                    ng-click="vm.deleteLearningWalk()">Delete Learning Walk</button>
        </div>
    </div>
</div>
