<div class="row">
    <div class="col-lg-5">
        <label>Classroom</label>
        <select class="form-control" ng-model="vm.classroom" ng-change="vm.changeClassroom()"
                ng-options="classroom as classroom.name for classroom in vm.learningWalk.classrooms">
            <option value="">Select a Class</option>
        </select>
    </div>
</div>

<!--<div>
    <evidence-collection evidence-collection="vm.evidenceCollection"
                         row="vm.row"
                         node="vm.node">
    </evidence-collection>
</div>-->
