<div class="row" style="margin-top: -15px;">
    <div class="col-lg-12">
        <h2>Observation</h2>
    </div>
    <br/>
    <div class="col-lg-12">
        <h4> Notes:</h4>
        <span>
            Below you can write your observation note and align them to the specific rubric, each aligned element will appear in the helper to the right.
        </span>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <!--<div summer-note-new framework="vm.selectedFramework" observation="vm.observation"
             evidence-collection="vm.evidenceCollection" note-property="observeNotes">
        </div>-->
        <!-- this looks outdated and will probably fail without note-owner -->
        <code-editor evidence-collection="vm.evidenceCollection"
                     note-property="observeNotes"></code-editor>
    </div>
</div>