<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Practice Sessions</h2>
                        <small>List of Practice Sessions you have created or joined</small>
                    </div>
                    <div class="col-lg-6">
                        <div class="pull-right">
                            <button ng-click="vm.createPracticeSession()" class="btn btn-primary btn-xs" type="button">
                                <i class="fa fa-plus-circle"></i>&nbsp;Create Practice</button>
                            <button ng-click="vm.joinSession()" class="btn btn-primary btn-xs" type="button">
                                <i class="fa fa-plus-circle"></i>&nbsp;Join Session</button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.sessions.length===0">
                    <div class="col-lg-12">
                        <nothing-here title="'Nothing here'" description="'Click the Add Practice Session button to create a new session.'"></nothing-here>
                    </div>
                </div>
                <div ng-if="vm.sessions.length>0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="session in vm.sessions">
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>{{session.title}}</td>
                                        <td>
                                            <button class="btn btn-primary btn-xs" ng-click="vm.editSession(session)">Edit</button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
