<div class="tabs-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li ng-click="vm.selectedTab='setup'"
                        ng-class="{'active':vm.selectedTab==='setup'}">
                        <a ui-sref="practice-session-setup({id:vm.session.id})">Setup</a>
                    </li>
                    <li ng-click="vm.selectedTab='notes'"
                        ng-class="{'active':vm.selectedTab==='notes'}">
                        <a  ui-sref="practice-session-notes({id:vm.session.id})">Notes</a>
                    </li>
                    <li ng-click="vm.selectedTab='evidence'"
                        ng-class="{'active':vm.selectedTab==='evidence'}">
                        <a  ui-sref="practice-session-evidence({id:vm.session.id})">Evidence</a>
                    </li>
                    <li ng-click="vm.selectedTab='report'"
                        ng-class="{'active':vm.selectedTab==='report'}">
                        <a  ui-sref="practice-session-report({id:vm.session.id})">Report</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-body">
                        <div ui-view="content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>