<!--<div summer-note-new framework="vm.framework" note-owner="vm.sessionObservation" save-message="vm.saveMessage"
     evidence-collection="vm.evidenceCollection" note-property="'observeNotes'">
</div>
<br/>
<div>{{vm.saveMessage}}</div>-->

<div class="row">
    <div class="col-lg-6">
        <div style="width:100%">
            <videogular vg-theme="vm.config.theme" vg-player-ready="vm.onPlayerReady($API)">
                <vg-media vg-src="vm.config.sources"
                          vg-tracks="vm.config.tracks">
                </vg-media>
                <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                    </vg-volume>
                    <vg-fullscreen-button></vg-fullscreen-button>
                </vg-controls>

                <vg-poster vg-url="vm.config.plugins.poster"></vg-poster>
            </videogular>
        </div>
    </div>
    <div class="col-lg-6">
        //todo: nothing here
        <div class="pull-right">
            <button class="btn btn-default btn-xs" ng-click="vm.addAnnotation()">Add Annotation</button>
        </div>
        <div ng-repeat="annotation in vm.sessionObservation.videoAnnotations">
            <div>{{annotation.subject}}</div>
            <div>{{annotation.content}}</div>
            <div>{{annotation.time}}</div>
            <div><button class="btn btn-primary btn-xs" ng-click="vm.goToAnnotation(annotation)">View</button></div>
        </div>
        <div ng-if="vm.showNewAnnotationArea">
            <div class="form-group">
                <label>Subject</label>
                <input type="text" ng-model="vm.subject"/>
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea rows="3" ng-model="vm.content" placeholder="Enter content here"></textarea>
            </div>
            <div class="text-right">
                <button class="btn btn-default btn-outline btn-xs" ng-click="vm.cancelAnnotation()">Cancel</button>
                <button class="btn btn-primary btn-xs" ng-click="vm.saveAnnotation()">Save</button>
            </div>

        </div>
    </div>
</div>

