<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>General Information</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Session Join Key:</label>
                        <span>{{vm.session.sessionKey}}</span>
                        <br/>
                        <label>Consensus Scorer:</label>
                        <select ng-model="vm.anchorUser" ng-change="vm.changeAnchor()"
                                ng-options="participant.displayName for participant in vm.session.participants track by participant.id">
                            <option value="">Select a participant to be the consensus scorer</option>
                        </select>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Participants</h2>
                        <small>List of People who have joined this session</small>
                    </div>
                    <div class="col-lg-6">
                        <div class="pull-right">
                            <button ng-click="vm.inviteParticipants()" class="btn btn-primary btn-xs" type="button">
                                <i class="fa fa-plus-circle"></i>&nbsp;Invite Participants</button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.session.participants.length===1">
                    <div class="col-lg-12">
                        <nothing-here title="'No participants yet'" description="'Click the Invite Participants button to invite people to join this session..'"></nothing-here>
                    </div>
                </div>
                <div ng-if="vm.session.participants.length>1">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="participant in vm.session.participants">
                            <td>
                                <table class="table">
                                    <tr>
                                        <td>{{participant.displayName}}</td>
                                        <td>{{participant.emailAddress}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
