<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <page-header class="col-lg-6" title="'Training Protocol Anchor'">
                        Here you can create evidence segments for the training protocol video
                    </page-header>
                    <div class="col-lg-6">
                        <div class="pull-right">
                            <button ng-click="vm.addSegment()" class="btn btn-primary btn-xs" type="button">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add Segment
                            </button>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-6">
                        <videogular vg-player-ready="vm.onPlayerReady($API)">
                            <vg-media vg-src="vm.config.sources">
                            </vg-media>
                            <vg-controls>
                                <vg-play-pause-button></vg-play-pause-button>
                                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                </vg-scrub-bar>
                                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                <vg-volume>
                                    <vg-mute-button></vg-mute-button>
                                    <vg-volume-bar></vg-volume-bar>
                                </vg-volume>
                                <vg-fullscreen-button></vg-fullscreen-button>
                            </vg-controls>

                            <vg-poster vg-url="vm.config.plugins.poster"></vg-poster>
                        </videogular>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div ng-repeat="segment in vm.anchor.evidenceSegments | orderBy:'startTime'" class="panel panel-default segment-panel">
                                    <div class="panel-body" ng-if="!segment.$$editing">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                Start: {{segment.startTime | formatSeconds }}
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                End: {{segment.endTime | formatSeconds }}
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-primary" style="margin-left: {{ vm.startPercentage(segment) }}%; width: {{vm.lengthPercentage(segment)}}%; min-width: 1px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>{{ segment.annotation }}</p>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="segment.alignedRubricRows.length">
                                            <div class="col-sm-12">
                                                <label>Alignment:</label>
                                                <alignment-string object="segment"></alignment-string>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-right">
                                                <button class="btn btn-primary btn-xs" ng-click="vm.delete(segment)">Delete</button>
                                                <button class="btn btn-primary btn-xs" ng-click="vm.edit(segment)">Edit</button>
                                                <button class="btn btn-primary btn-xs" ng-click="vm.play(segment)">Play</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body" ng-if="segment.$$editing">

                                        <div class="row">
                                            <div class="col-xs-6">
                                                Start: {{segment.$$range.start[0] | formatSeconds }}
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                End: {{segment.$$range.start[1] | formatSeconds }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div ya-no-ui-slider="segment.$$range"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Annotation</label>
                                                    <textarea class="form-control" rows="3" ng-model="segment.annotation" placeholder="Enter Annotation here"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <evidence-segment-alignment aligned-rubric-rows="segment.alignedRubricRows" done="vm.alignmentDone(segment, $alignedRubricRows)"></evidence-segment-alignment>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-right">
                                                <button class="btn btn-outline btn-default btn-xs" ng-click="vm.cancel(segment)">Cancel</button>
                                                <button class="btn btn-primary btn-xs" ng-click="vm.save(segment)">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>