<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
			
				<div class="form-group">
					<input type="text" ng-keyup="vm.search()" class="form-control" ng-model="vm.titleSearch" placeholder="Enter title search text here..">
				</div>
				
				<div class="row">
					<div class="col-xs-7">
						<div class="margin-top-5 margin-bottom-5 checkbox checkbox-primary">

							<input type="checkbox" id="cbplaylist" ng-model = "vm.playlistFilter"  ng-change="vm.search()" />
							<label for="cbplaylist">On Playlist</label>
						</div>
					</div>
					<div class="col-xs-5 text-right">
						<button class="btn btn-sm btn-primary " ng-click="vm.search()">Search</button>
					</div>
				</div>
				
				<div class="form-group">
					<div ng-repeat="label in vm.selectedLabels">
						<div class="margin-top-5 margin-bottom-5 checkbox checkbox-primary">
							<input type="checkbox" id="selectChk{{$index}}"  data-checklist-model="vm.selectedLabels" data-checklist-value="label"  ng-change="vm.search()" />
							<label for="selectChk{{$index}}">{{label.name}}</label>
						</div>
					</div>
				</div>
				
                <!-- <table class="table table-condensed">
                    <tr ng-repeat="label in vm.selectedLabels">
                        <td>
                            <input type="checkbox" checklist-change="vm.search()" data-checklist-model="vm.selectedLabels" data-checklist-value="label">
                        </td>
                        <td>{{label.name}}</td>
                    </tr>
                </table> -->
				
				<div class="labelGroups" ng-repeat="group in vm.labelGroups">
					<div class="panel panel-default">
					  <div class="panel-heading">
						<h3 class="panel-title">{{group.name}}</h3>
					  </div>
					  <div class="panel-body" ng-init="$key=$index;">
						<div class="" ng-repeat="label in group.labels">
							<div class="margin-top-5 margin-bottom-5 checkbox checkbox-primary">
								<input id="group{{$key}}-{{$index}}" type="checkbox"  data-checklist-model="vm.selectedLabels" data-checklist-value="label"  ng-change="vm.search()" />
								<label for="group{{$key}}-{{$index}}">{{label.name}}</label>
							</div>
						</div>
					  </div>
					</div>
					
					
				</div>
				<!-- 
                <table class="table" >
                    <tr>
                        <td colspan="2"><strong>{{group.name}}</strong></td>
                    </tr>
                    <tr >
                        <td>
                            <input type="checkbox" checklist-change="vm.search()" data-checklist-model="vm.selectedLabels" data-checklist-value="label">
                        </td>
                        <td>{{label.name}}</td>
                    </tr>
                </table>
				-->
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
           
				
					<div class="row">
						<div class="col-sm-4 " ng-repeat="protocol in vm.searchResults">
							<div class="contact-box center-version">
								<div class="box-header">
									<a ng-click="vm.openModalVideo(protocol)">
										<img class="img-circle" ng-src="{{protocol.videoPoster}}"/>
									</a>	
									
									<h3 class="m-b-xs">
										<a ui-sref="training-protocol({id:protocol.id})"><strong>{{protocol.title}}</strong></a>																				
									</h3>
									<div class="font-bold">{{vm.providedBy[protocol.id] || '&nbsp;'}}</div>
									
									<div class="m-t-md">
										<strong > {{vm.subjects[protocol.id] || '&nbsp;'}}</strong><br/>
										<span >{{vm.gradeLevels[protocol.id] || '&nbsp;'}}</span><br/>
										<span >{{vm.criteria[protocol.id] || '&nbsp;'}}</span><br/>
										<span >{{vm.practice[protocol.id] || '&nbsp;'}}</span>
									</div>								
																   
								</div>
								<div class="contact-box-footer">
									<div class="m-t-xs btn-group">
                                        <a class="btn btn-xs btn-white" ng-click="vm.gotoDetail(protocol)">View Details</a>
										<a class="btn btn-xs btn-white" ng-disabled="vm.playlist[protocol.id]" ng-click="vm.addToPlaylist(protocol)" ><i ng-show="vm.playlist[protocol.id]" class="fa fa-check"></i> <span class="marginLeft10">Add to Playlist</span> </a>
										<a class="btn btn-xs btn-white" ng-click="vm.createPracticeSession(protocol)">Create Practice Session</a>
                                        <a class="btn btn-xs btn-white" ng-show="!protocol.anchor" ng-click="vm.createAnchor(protocol)" >
                                            <span class="marginLeft10">Create District Anchor</span>
                                        </a>
                                        <a class="btn btn-xs btn-white" ng-show="protocol.anchor" ng-click="vm.editAnchor(protocol)" >
                                            <span class="marginLeft10">Edit District Anchor</span>
                                        </a>
									</div>
								</div>

							</div>
						</div>
					</div>
			
          
        </div>
    </div>
</div>
