<div class="modal-dialog">
    <div class="modal-body">
<button type="button" title="Close"  ng-click="vm.close()" class = "btn-modal-close font-size14">
  <i class="fa fa-times"></i>
</button>
     <videogular vg-theme="vm.config.theme" vg-player-ready="onPlayerReady($API)">
                                <vg-media vg-src="vm.config.sources"
                                          vg-tracks="vm.config.tracks">
                                </vg-media>
                                <vg-controls>
                                    <vg-play-pause-button></vg-play-pause-button>
                                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    </vg-scrub-bar>
                                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                    <vg-volume>
                                        <vg-mute-button></vg-mute-button>
                                        <vg-volume-bar></vg-volume-bar>
                                    </vg-volume>
                                    <vg-fullscreen-button></vg-fullscreen-button>
                                </vg-controls>

                                <vg-poster vg-url="vm.config.plugins.poster"></vg-poster>
                            </videogular>
</div>
</div>