<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>{{vm.protocol.title}}</h2>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <div style="width:700px">
                            <videogular vg-theme="vm.config.theme">
                                <vg-media vg-src="vm.config.sources"
                                          vg-tracks="vm.config.tracks">
                                </vg-media>
                                <vg-controls>
                                    <vg-play-pause-button></vg-play-pause-button>
                                    <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    </vg-scrub-bar>
                                    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                                    <vg-volume>
                                        <vg-mute-button></vg-mute-button>
                                        <vg-volume-bar></vg-volume-bar>
                                    </vg-volume>
                                    <vg-fullscreen-button></vg-fullscreen-button>
                                </vg-controls>

                                <vg-poster vg-url="vm.config.plugins.poster"></vg-poster>
                            </videogular>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 form-group" ng-if="vm.protocol.length">
                        <label>Video Length</label>
                        <p class="form-control-static" ng-bind-html="vm.protocol.length"></p>
                    </div>
                    <div class="col-md-6 form-group" ng-if="vm.providedBy">
                        <label>Provided By</label>
                        <p class="form-control-static">{{vm.providedBy}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group" ng-if="vm.grades">
                        <label>Grades</label>
                        <p class="form-control-static">{{vm.grades}}</p>
                    </div>
                    <div class="col-md-6 form-group" ng-if="vm.subjects">
                        <label>Subjects</label>
                        <p class="form-control-static">{{vm.subjects}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group" ng-if="vm.criteria">
                        <label>Criteria</label>
                        <p class="form-control-static">{{vm.criteria}}</p>
                    </div>
                    <div class="col-md-6 form-group" ng-if="vm.highLeverage">
                        <label>High Leverage Practices</label>
                        <p class="form-control-static">{{vm.highLeverage}}</p>
                    </div>
                </div>
                <div class="row" ng-if="vm.protocol.summary">
                    <div class="col-md-12 form-group">
                        <label>Summary</label>
                        <p class="form-control-static">{{vm.protocol.summary}}</p>
                    </div>
                </div>
                <div class="row" ng-if="vm.protocol.description">
                    <div class="col-md-12 form-group">
                        <label>Description</label>
                        <p class="form-control-static">{{vm.protocol.description}}</p>
                    </div>
                </div>
                <div class="row" ng-if="vm.protocol.docName">
                    <div class="col-md-12 form-group">
                        <label>Training Protocol</label>
                        <p class="form-control-static">
                            <a ng-href="https://eval-wa.org/StateEval/TrainingProtocols/docs/{{vm.protocol.docName}}" target="_blank">Training Protocol</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
