<div class="row">
    <div class="col-lg-12 header-info">
        <div class="pull-right">
            <button class="btn btn-outline btn-default btn-xs" ng-click="vm.expand=!vm.expand; $event.stopPropagation();">{{vm.expand?"Collapse":"Expand"}}</button>
        </div>
        <div class="pull-left">
            <div>
                <label>Start Time: </label><span>{{vm.segment.startTime}}</span>
            </div>
            <div>
                <label>End Time:</label><span>{{vm.segment.endTime}}</span>
            </div>
            <div>
                <label>Annotation:</label><span>{{vm.segment.annotation}}</span>
            </div>
        </div>
    </div>
    <div ng-show="vm.expand" class="col-lg-12">
        <videogular vg-theme="vm.config.theme"
                    vg-player-ready="vm.onPlayerReady($API)">
            <vg-media vg-src="vm.config.sources"
                      vg-tracks="vm.config.tracks">
            </vg-media>
            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>

            <vg-poster vg-url="vm.config.plugins.poster"></vg-poster>
        </videogular>
    </div>
</div>
