<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <page-header class="col-lg-12" title="vm.welcomeMessage">
                    </page-header>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-7">

                        <h3>District Administrator's Role in Setting up eVAL</h3>
                        <p>
                            You are listed within eVAL as a District Administrator for {{vm.districtName}}. As a District Administrator, you are responsible for
                            the initial yearly set up process. Your district can choose to use eVAL for performing teacher evaluations and/or principal evaluations.
                        </p>
                        <p>To complete the setup for either teacher or principal evaluations, select the desired evaluation type and then follow the checklist steps and click the Activate button when finished.</p>
                        <br/>
                        <h3>Selecting an evaluation framework</h3>
                        <p>
                            Before district staff can begin using eVAL for evaluations, you must select the framework your district is going to use for teacher and/or principal evaluations.
                        </p>
                        <br/>
                        <h3>Assigning evaluators and setting up initial evaluation cycle</h3>
                        <p>
                            Before a teacher or principal can begin using eVAL for their own evaluations, either the district or the school must setup an evaluator for them and select what type of evaluation cycle he will be on for the coming school year. The district can choose to delegate this task to the schools.
                        </p>
                        <br/>
                        <h3>Setup a default set of Observation and/or Student Growth Goal Prompts</h3>
                        <p>
                            If the district would like to create a set of pre-defined prompts for either observations or student growth goals they can be created within the Prompt Bank.
                        </p>
                        <br/>
                        <h3>Review optional settings</h3>
                        <p>
                           There are many settings that a district should review to determine the best configuration for their district. For example, Self-Assessments is an optional module, that is turned on by default, but can be turned-off at the discretion of the district.
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <da-start-of-year-checklist
                                    district-code="vm.user.locationRoles[0].districtCode"
                                    eval-type="vm.enums.EvaluationType.TEACHER"
                                    loaded-contexts="vm.loadedContexts">
                                </da-start-of-year-checklist>
                                <br/><br/>
                                <da-start-of-year-checklist
                                    district-code="vm.user.locationRoles[0].districtCode"
                                    eval-type="vm.enums.EvaluationType.PRINCIPAL"
                                    loaded-contexts="vm.loadedContexts">
                                </da-start-of-year-checklist>
                            </div>
                        </div>
                    </div>
                </div>
                <br/><br/>

            </div>
        </div>
    </div>
</div>