<div class="checklist checklist-border" affix ng-class="{affix:affixed}" ng-style="offset">
    <div class="checklist-header">
        <div>{{vm.evaluateeTerm}} Evaluation Setup Checklist</div>
    </div>
    <div class="step" ng-class="vm.stepClass(1)">
        <span class="fa fa-check"></span>
        <span class="step-desc">
            <span ng-if="vm.currentStep>1">{{vm.step1Title}}</span>
            <a ng-if="vm.currentStep===1" ng-click="vm.selectFramework()">{{vm.step1Title}}</a></span>
    </div>
    <div class="step" ng-class="vm.stepClass(2)">
        <span class="fa fa-check"></span>
        <span class="step-desc">
            <span ng-if="vm.currentStep===1">{{vm.step2Title}}</span>
            <a ng-if="vm.currentStep>1" ng-click="vm.gotoAssignments()">{{vm.step2Title}}</a></span>
    </div>
    <div class="step" ng-class="vm.stepClass(2)">
        <span class="fa fa-check"></span>
        <span class="step-desc">
            <span ng-if="vm.currentStep===1">{{vm.step3Title}}</span>
            <a ng-if="vm.currentStep>1" ng-click="vm.gotoSettings()">{{vm.step3Title}}</a>
        </span>
    </div>
    <div class="step" ng-class="vm.stepClass(2)">
        <span class="fa fa-check"></span>
        <span class="step-desc">
            <span ng-if="vm.currentStep===1">{{vm.step4Title}}</span>
            <a ng-if="vm.currentStep>1" ng-click="vm.gotoPromptBank()">{{vm.step4Title}}</a></span>
    </div>
    <div class="text-center">
        <button ng-disabled="vm.currentStep===1"
                ng-if="!vm.isActive"
                ng-click="vm.activate()"
                class="btn btn-primary btn-xs">{{vm.activateBtnTitle}}
        </button>
    </div>
    <div class="step" ng-if="vm.isActive" ng-class="vm.stepClass(1)">
        <span class="fa fa-check"></span>
        <span class="step-desc">Activated on {{vm.activationDate | date }}</span>
    </div>
</div>