<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <page-header class="col-lg-12" title="vm.title">
                        This page allows you to configure the {{vm.frameworkTypeDisplayString }}
                        framework for use within eVAL for the {{vm.schoolYearDisplayString}} school year.
                    </page-header>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Select your framework</h3>
                        <br/>
                        <div style="padding-left:20px">
                            <div ng-repeat-start="protoTypeFramework in vm.prototypeFrameworks">
                                <label>
                                    <input type="radio" name="framework"
                                           ng-model="vm.selectedFrameworkContext"
                                           ng-value="protoTypeFramework">
                                    {{protoTypeFramework.name}}
                                </label>
                            </div>
                            <br ng-repeat-end /><br/>

                            <button class="btn btn-outline btn-default btn-xs" ng-click="vm.cancel()">Cancel</button>
                            <button ng-disabled="!vm.selectedFrameworkContext" class="btn btn-xs btn-primary" ng-click="vm.loadFramework()">Load Framework & Close</button>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>