<table class="table table-bordered">
    <tbody>
        <tr>
            <td ng-class="{ active: vm.item.score.performanceLevel == 1 }">U</td>
            <td ng-class="{ active: vm.item.score.performanceLevel == 2 }">B</td>
            <td ng-class="{ active: vm.item.score.performanceLevel == 3 }">P</td>
            <td ng-class="{ active: bm.item.score.performanceLevel == 4 }">D</td>
        </tr>
    </tbody>
</table>
