<div class="report-section">
    <table>
        <thead>
            <tr>
                <td>{{vm.node.data.shortName}}</td>
                <td>{{vm.node.data.title}}</td>
                <td ng-class="{ active: vm.node.score.performanceLevel == 1 }">U</td>
                <td ng-class="{ active: vm.node.score.performanceLevel == 2 }">B</td>
                <td ng-class="{ active: vm.node.score.performanceLevel == 3 }">P</td>
                <td ng-class="{ active: vm.node.score.performanceLevel == 4 }">D</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in vm.node.rows">
                <td>{{row.data.shortName}}</td>
                <td>{{row.data.title}}</td>
                <td ng-class="{ active: row.score.performanceLevel == 1 }">U</td>
                <td ng-class="{ active: row.score.performanceLevel == 2 }">B</td>
                <td ng-class="{ active: row.score.performanceLevel == 3 }">P</td>
                <td ng-class="{ active: row.score.performanceLevel == 4 }">D</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="stmt-of-perf report-section" ng-if="vm.evidenceCollection.request.collectionType === vm.enums.EvidenceCollectionType.SUMMATIVE &&
            vm.node.score.statementOfPerformance">
    <div class="header">
        Statement of Performance
    </div>
    <div class="stmt">
        {{vm.node.score.statementOfPerformance}}
    </div>
</div>
