﻿.text-primary {
    color:#1ab394;
}
.popover {
    max-width: 800px; /* optional max width */
    width: intrinsic; /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content; /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}

.text-muted {
    color: lightgrey;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\00BB";
}

.fa-sm {
    font-size:18px;
}

.fa-md {
    font-size:18px;
}

.eval-footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    padding: 15px 15px;
    background: white;
    border-top: 1px solid #3a4459;
    margin-left: 220px;
}

.eval-footer {
    padding: 15px 15px;
    background: white;
    border-top: 1px solid #e7eaec !important;
}

.eval-footer .save-notice {
    width:125px;
    text-align:left;;
}

.wrapper-content {
    display: flex;
    min-height: 60vh;
    flex-direction: column;
}

.nothing-here  {
    background: white;
    margin: 20px 0;
    padding: 10px;
}

.nothing-here  div {
    padding: 10px;
    margin: 5px;
}

.nothing-here {
    display: flex;
    justify-content: center;
}


.color-green {
    color: #1ab394;
}
.color-red {
    color: #ED5565;
}

.color-darkgrey {
    color: #bdbdbd;
}

.color-lightgrey {
    color: #f0f0f0;
}

.backcolor-lightgrey {
    background-color:#f0f0f0;
}
/* todo: get rid of these */


.greeniconcolor {
  color: #1ab394;
}

.inuseiconcolor {
    color: #b38f6d;
}

.rediconcolor {
    color:red;
}

.fa-anchor-btn-text {
  padding-left: 3px;
  padding-right: 20px;
}

.white_hr {
  background-color: white;
  height: 1px;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.gray_background {
  background-color: #e6e7eb !important;
}
.edit-artifact-items-wrapper {
  background-color: #e6e7eb !important;
  padding-left: 15px !important;
  padding-top: 15px !important;
  padding-bottom: 3px !important;
}
table.edit-artifact-items {
  margin-bottom: 10px !important;
  background-color: #e6e7eb !important;
}
.artifact-action-buttons {
  padding-left: 10px;
}
.align-artifact-wrapper {
  background-color: #3a4459 !important;
  padding-left: 15px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
    padding-right:15px;
}
.align-artifact-heading {
    color:white;
}
table.align-artifact td {
    border-top: solid 1px #3a4459 !important;
    border-bottom: solid 1px #3a4459 !important;
}

table.align-artifact {
  margin-bottom: 10px !important;
  background-color: #3a4459 !important;
  color: #c9ced1 !important;
    border-collapse: separate !important;
}

tr.align-artifact-l1-aligned {
    color:white;
    font-weight: bold;
}

tr.align-artifact-l2-not-selected {
    color:#8590a1;
    font-weight: bold;
}


td.align-artifact-l2-aligned {
    border-left: 8px solid #1ab394;
}

td.align-artifact-l2-inuse {
    border-left: 8px solid #b38f6d;
}

tr.aligned-fn-ro {
  background-color: white !important;
  color: #676a6c !important;
}
tr.aligned-rr-ro {
  background-color: #e6e7eb !important;
  color: #676a6c !important;
}

.align-artifact {
    color: white !important;
}

.k-treeview .k-in {
    width:98%;
    overflow: hidden;
}

.k-treeview .k-in {
}

.big-checkbox {width: 18px; height: 18px;}

.k-state-selected {
    background-color: #3a4459 !important;
}
.goal-header {
    background-color: #3a4459;
    color: white;
    min-height: 15px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.goal-header.disabled {
    background-color: lightgrey;
}
.goal-header.disabled {
  background-color: lightgrey;
}
.goal-content {
  border: 1px solid #e7eaec;
  padding: 6px;
}
.tab-body
{
    padding: 20px;
    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius:5px;
}

.goal-step-sub-heading {
    color:#a7b1c2;
}

.active-evaluatee
{
    margin-top:20px;
    margin-right: 5px;
}

.div-inline{
    display:inline-block !important;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.item-list-container,
.new-item-container {
    padding:10px;
}

/*Kendo override*/
div.k-window-content {
    overflow: hidden;
}

.pad_10_bottom {
    padding-bottom: 10px;
}

.margin-top-minus-10 {
    margin-top:-10px !important;
}

.margin-top-5 {
    margin-top:5px !important;
}

.margin-bottom-5 {
    margin-bottom:5px !important;
}

.no-activity {
    color:#dedede;
}
.no-activity-icon {
    font-size: 100px;
}

.no-activity-title {
    font-size: 22px;
    padding-top: 10px;
}

.no-activity-description {
    font-size: 30px;
}


@media (max-width: 767px) {
    .col-xs-text-center {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-text-right {
        text-align:right;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .col-sm-text-right {
        text-align:right;
    }
}

@media (min-width: 1200px) {
    .col-sm-text-right {
        text-align:right;
    }
}

.note-editor {
    height: auto;
    min-height: 100px !important;
}

.rubric-row-eval {
    background-color:white;
    padding:10px;
}

.rubric-row-eval .descriptor-header {
    background-color:#e6e7eb;
}

.rubric-checked {
    background-color:#3a4459 !important;
    color:white;
}

.rubric-descriptor-highlight {
    background-color: yellow;
}

.align-artifact-wrapper {
    background-color: #3a4459 !important;
}


.align-artifact-wrapper .k-state-hover, .align-artifact-wrapper .k-state-selected, .align-artifact-wrapper .k-state-focused {
    background-color: #2f4050 !important;
    border: solid 1px #2f4050 !important;
    box-shadow: inset 0px 0px 0px 0px #2f4050;
    border-radius: 0px !important;
    background-image: none !important;
}

.align-artifact-wrapper ul li ul li .k-state-hover, .align-artifact-wrapper ul li ul li .k-state-selected,.align-artifact-wrapper ul li ul li .k-state-focused{
    background-color: #2f4050 !important;
}

.align-artifact-wrapper ul li .k-state-hover, .align-artifact-wrapper ul li .k-state-selected, .align-artifact-wrapper ul li .k-state-focused {
    background-color: #3a4459 !important;
}

.rubric-row-template {
    color: white;
    height: 30px;
    line-height: 30px;
}

.align-artifact-wrapper ul li ul {
    background-color: #2f4050 !important;
}

.framework_node {
    background-color: #2f4050 !important;
    color: white !important;
}

/*
    Observe
*/


.node-rubric-row {
    border-bottom: solid 1px #c9ced1;
    height: 35px;
    cursor: pointer;

}

.node-rubric-row .node-name {
    background-color:  white !important;
    border-bottom: solid 1px #c9ced1;
    border-right: solid 1px #c9ced1;
    color: black !important;
    font-weight: bold;
}

        /*.node-rubric-row .rubric-description, .node-description {
            display: inline-block;
            white-space: nowrap
            overflow: hidden;
            text-overflow: ellipsis;
        }*/


    /* Report */
.report-tile-area {
    float: left;
    margin-left: 15px;
    width: 253px;
    height: 167px;
}

.report-tile {

    background-image: url('../img/ReportChart.JPG');
    background-repeat: no-repeat;
    width: 253px;
    height: 97px;
    margin-bottom: 10px;
}

.report-tile-desc {
    clear: both;
}

.rubric-attatchment {
     font-weight: bold;
}

.rubric-attatchment span {
    margin-left: 5px;
}

.bg-grey {
    background-color:#dedede;
}

.evidence-type,
 .evidence-type-selected {
     width:10px;
     text-align:center;
     vertical-align: middle;
 }
.evidence-type {
    background-color:#dedede;
}
.evidence-type-selected {
    background-color:#1ab394;
    color:white;
}

.rubric-row-score-annotation-count {
    background-color:#dedede;
    width:10px;
    text-align:center;
    vertical-align: middle;
}
.rubric-row-score-annotation-text {
    background-color:#f0f0f0;
}
.rubric-row-score-annotation-spacer {
    background-color:#f0f0f0;
}

.rubric-row-score-annotation-count-selected {
    background-color:#1ab394;
    color:white;
    width:10px;
    text-align:center;
    vertical-align: middle;
}
.rubric-row-score-annotation-text-selected {
    background-color:#3a4459;
    color:white;
}

.spin-icon {
    background: #1ab394;
    position: absolute;
    padding: 7px 10px 7px 13px;
    border-radius:  0px 20px 20px 0px;
    font-size: 16px;
    top: 10px;
    left: 220px;
    width: 40px;
    color: #fff;
    cursor: pointer;
}

.show {
    display: block!important;
}
.navsetttings .title {
    background: #efefef;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: 10px 15px;
    font-size: 12px;
}

a.expand {
    color:#676a6c;
    font-weight:bold;
}

.coverage {
    background-color:#dedede;
    text-align:center;
    vertical-align: middle;
    padding:2px !important;
}

.coverage-checked {
    background-color:#1ab394;
    color:white;
    text-align:center;
    vertical-align: middle;
    padding:2px !important;
}

.coverage-cell,
.coverage-fn-header {
    text-align:center;
}

.coverage-single-fn-header,
.coverage-single-fn-header-done {
    color:white;
    text-align:center;
    vertical-align: middle;
}

.coverage-single-fn-header-left {
    color:white;
    background-color: #3a4459 !important;
}

.coverage-single-fn-header {
    background-color: #3a4459 !important;
}

.coverage-single-fn-header-done {
    background-color: #1ab394 !important;
}

.sg-goals-prompt-column {
    width:240px;
}

.sg-goals-response-column {
}

.btn-default {
    border: solid 1px grey;
 }

.framework_node_score_active_btn {
    background-color: #2f4050 !important;
    color: white !important;
    border: solid 1px grey;
}

.rr_score_active_btn {
    background-color: #2f4050 !important;
    color: white !important;
    border: solid 1px grey;
}

.active-evaluatee-name {
    margin-top: 0px;
    width:100%
}

.active-evaluatee-profile-image {
    margin-top: -4px
}

.ibox-title{
    cursor:pointer;
}

.note-editor.panel {
    margin-bottom: 0px;
}


.message_notifier {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    border-bottom: solid 1px #8590a1;
    background-color: #e7eaec;
    z-index: 12000;
}

.notification-message {
    margin: 0px 0px 0px 200px;
    font-style: italic;
}

.notification-message-title {
    margin: 0px 0px 0px 200px;
    font-weight: bold;

}

/* TODO: clean these up. they were in inspinia.css */
.bdr1{
    border-right : 2px solid #F3F3F4;
}

.bdb1 {
    border-bottom : 1px solid #F3F3F4;
}

.no-margin {
    margin:0!important;
}

/*
.note-editor .btn,
.ibox-content .btn  {
    min-width : auto;
}
*/


.note-editor .btn {
    min-width : auto;
}

.btn {
    min-width : 80px;
}

.padTop60 {
    padding-top : 60px;
}

.padTop30 {
    padding-top : 30px;
}

.padTop10 {
    padding-top : 10px;
}


.pad10 {
    padding : 10px;
}

.marginTop20 {
    margin-top : 20px;
}

.marginLeft10 {
    margin-left : 10px;
}

.duration {
    padding-right : 0;
}

.alert {
    padding : 10px 15px;
}

.alert-text {
    position : absolute ;
    top : 14px;
}

.duration .form-control {
    display:inline-block!important;
    width:50%;
}

.duration > div {
    margin-right : -40px;
}

.contact-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    padding: 20px;
    margin-bottom: 20px;
}
.contact-box > a {
    color: inherit;
}
.contact-box.center-version {
    border: 1px solid #e7eaec;
    padding: 0;
}


.contact-box.center-version h3 {
    min-height : 55px;
}

.contact-box.center-version  .box-header{
    display: block;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}

.contact-box.center-version   a > img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact-box.center-version  .m-t-md{
    margin-bottom: 0;
}
.contact-box .contact-box-footer {
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #e7eaec;
    padding: 15px 20px;
}

.flatmodal .modal-header,
.flatmodal .modal-footer {
    border:0;
}



.flatmodal .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.font-size14{
    font-size : 14px;
}

.font-size13{
    font-size : 13px;
}

.flatmodal .block-center:before,
.flatmodal .block-center:after {
    content: " ";
    display: table;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover{
    background-color : #18a689;
}

#view-libs-prompt .scrollbar-dynamic {
    height : 200px;
}

.contact-box .btn[disabled] {
    background : #f3f3f4;
}

.btn-modal-close {

    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: 0;
    border-radius: 50%;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #18a689 !important;
}