<div class="row">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    <evidence-collection evidence-collection="vm.evidenceCollection"></evidence-collection>
                </div>
            </div>
        </div>
    </div>
</div>
