<div ng-if="type == 'rank'">
    <div class="node-score"
         ng-class="{ active: item.score.performanceLevel == (1 + $index) }"
         ng-repeat="level in enums.PerformanceLevels">
        {{level[0]}}
        <div class="score"
             ng-class="{ active: item.score.performanceLevel == (1 + $index) }"
             ng-if="item[level].evaluations.length && view === 'default'">
            {{item[level].evaluations.length}}
        </div>
        <div class="score" ng-if="dividedEvaluations[level][user.id].length && view === 'merge'">

            {{dividedEvaluations[level][user.id].length}}
        </div>
    </div>
</div>
<div ng-if="type == 'item' && item.evidences.length>0" class="node-score">
    {{item.evidences.length}}
</div>
