<!--<div class="framework-highlight well" affix ng-class="{affix:affixed}" ng-style="offset">-->
<!--todo: having some problems with affix so turning off for now -->
<div class="framework-highlight well">
    <div class="row">
        <div class="col-xs-3">
            <h4>Rubric Navigator</h4>
        </div>
        <div class="col-xs-9">
            <div class="btn-group pull-right">
                <button class="btn btn-xs"
                        ng-class="{'btn-primary-dark': vm.type === 'item', 'btn-default btn-outline': vm.type === 'rank'}"
                        ng-click="vm.type = 'item';">Item View
                </button>
                <button class="btn btn-xs"
                        ng-class="{'btn-primary-dark': vm.type === 'rank', 'btn-default btn-outline': vm.type==='item'}"
                        ng-click="vm.type = 'rank';">Alignment View
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left"
                 ng-if="vm.evidenceCollection.request.collectionType === enums.EvidenceCollectionType.OBSERVATION &&
                        vm.context.frameworkContext.districtConfiguration.nonSummativeScoringEnabled">
                Raw Score:&nbsp;{{vm.rawScore}}
            </div>
            <div class="pull-right">
                <input type="checkbox" ng-click="checkEvidenceOnly(vm.showEvidenceOnly)">
                Evidence Only
            </div>
        </div>
    </div>
    <div class="section"
         ng-repeat="node in vm.evidenceCollection.tree[vm.name].nodes | filter: evidenceCollectionFilter"
         ng-if="!node.hidden">
        <div class="section-row node-row"
             ng-class="{selected: vm.node.data.id === node.data.id && !vm.row,  disabled: node.disabled}">
            <div class="node-name cell-1" ng-click="click(node, null)">{{node.data.shortName}}</div>
            <div class="cell-2" ng-click="toggle(node)"><span>{{node.data.title}}</span></div>
            <div class="cell-3" ng-click="toggle(node)">
                <helper-switch item="node" type="vm.type"></helper-switch>
            </div>
        </div>
        <div uib-collapse="vm.collapseId !== node.data.id">
            <div ng-repeat="row in node.rows | filter: evidenceCollectionFilter"
                 ng-click="click(node, row)"
                 ng-class="{'selected': vm.row.data.id === row.data.id, disabled: row.disabled}"
                 class="section-row rubric-row"
                 ng-if="!row.hidden">
                <div class="row-name cell-1">{{row.data.shortName}}</div>
                <div class="cell-2">{{row.data.title}}</div>
                <div class="cell-3">
                    <helper-switch item="row" type="vm.type"></helper-switch>
                </div>
            </div>
        </div>

    </div>
    <div class="row" ng-if="state.view === 'node' &&
                        vm.evidenceCollection.request.collectionType === enums.EvidenceCollectionType.OBSERVATION &&
                        vm.context.frameworkContext.districtConfiguration.nonSummativeScoringEnabled">
        <div class="col-sm-12">
            <div class="collection-score">
                <div>
                    Observation Summative Score
                </div>
                <div>
                    <button class="btn btn-xs btn-primary-white"
                            ng-if="vm.notScoring && !vm.evidenceCollection.score.performanceLevel && !vm.evidenceCollection.readOnly"
                            ng-click="vm.notScoring = false">
                        Score
                    </button>
                    <div
                        ng-if="(!vm.notScoring || vm.evidenceCollection.score.performanceLevel) || vm.evidenceCollection.readOnly">
                        <button ng-repeat="level in enums.PerformanceLevels"
                                class="btn-score"
                                ng-class="{'btn-score-active': vm.evidenceCollection.score.performanceLevel == (1 + $index)}"
                                ng-click="scoreCollection($index + 1)">
                            {{level[0]}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

