<div class="row">
    <div class="col-lg-12">
        <h2>Observation Notes</h2>
        <div ng-if="vm.isEvaluator">
            Below you can write your observation note and align them to the specific rubric, each aligned element will appear in the helper to the right.
        </div>
        <div ng-if="!vm.isEvaluator">
            Below are the observation notes written by the evaluator.
        </div>
    </div>
</div>

<br /><br/>
<div class="row">
    <div ng-class="{'col-lg-8': vm.showHelper, 'col-lg-12':!vm.showHelper}">
        <div ng-if="!vm.isObservationReadOnly && vm.isEvaluator">
            <code-editor evidence-collection="vm.evidenceCollection" note-owner="vm.evidenceCollection.observation" note-property="'observeNotes'" save-message="vm.observation.saveNotice"></code-editor>
        </div>
        <div ng-if="vm.isObservationReadOnly || !vm.isEvaluator">
            <div ng-bind-html="vm.notes"></div>
        </div>
    </div>
    <div ng-class="{'col-lg-4':vm.showHelper}" ng-if="vm.showHelper">
        <rubric-helper></rubric-helper>
    </div>
</div>
