<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2">Profile Image</label>
        <div class="col-sm-10 profile-photo">
            <img ng-src="{{vm.imageUrl}}" class="img-circle"/>
            <button class="btn btn-xs btn-primary" ng-click="vm.uploadFile()">Change</button>
        </div>
    </div>
</div>