<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2">Mobile Access Key</label>
        <div class="col-sm-10">
            <p>{{vm.user.mobileAccessKey}}</p>
            <p>
                <qrcode size="200" data="{{vm.user.mobileAccessKey}}"></qrcode>
            </p>
            <button class="btn btn-primary" ng-click="vm.getNewKey()">Generate New Key</button>
        </div>
    </div>
</div>