<div id="notifications" class="row">
    <div class="col-lg-12">
        <page-header title="'Activities'">
            This is your activity history across all locations.
        </page-header>
        <br/><br/>
        <table class="table table-bordered table-condensed table-blue-header">
            <thead>
            <tr>
                <th>Date</th>
                <th>District</th>
                <th>School</th>
                <th>User</th>
                <th>Evidence Area</th>
                <th>Item</th>
                <th>Title</th>
                <th width="15%">Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="notification in vm.notifications">
                <td>{{notification.creationDateTime | date}}</td>
                <td>{{notification.event.districtName}}</td>
                <td>{{notification.event.schoolName}}</td>
                <td>{{notification.event.createdByDisplayName}}</td>
                <td>{{vm.rubricUtils.createEvalSource(notification.event.evidenceCollectionType)}}</td>
                <td>{{notification.event.itemTitle}}</td>
                <td>{{notification.event.title}}</td>
                <td>{{notification.event.description}}</td>
                <td>
                    <button class="btn btn-xs btn-primary" ng-click="vm.gotoEvidenceCollection(notification.event)">View</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>