<div>
    <table class="table">
        <tr>
            <th>Message Type</th>
            <th>Email Delivery Type</th>
        </tr>
        <tr ng-repeat="mailRecipientConfig in vm.mailRecipientConfigs">
            <td>{{mailRecipientConfig.eventTypeName}}</td>
            <td>
                <select ng-model="mailRecipientConfig.emailDeliveryTypeID"
                        ng-options="deliveryType.id as deliveryType.name for deliveryType in vm.mailDeliveryTypes">
                </select>
                <!--<select ng-model="mailRecipientConfig.emailDeliveryTypeID">
                    <option ng-repeat="deliveryType.name for deliveryType in vm.mailDeliveryTypes" value="{{deliveryType.id}}">{{deliveryType.name}}</option>
                </select>-->
            </td>
        </tr>
    </table>
</div>
<div class="eval-footer">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary btn-xs" ng-click="vm.saveEmailDeliveryConfigs()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
